<div class="room_index_zone">
    <p class="main_header"><%= link_to "", user_transactions_path, class:"fas fa-home"%> > メッセージ一覧</p>
    <div class="room_area opening">
        <div class="room_flame">
                <% @rooms.each do |room|%>
                    <div class="room_cell_area" id="room_cell_area">
                    <%= link_to(user_room_path(room.id), class: 'message_show_button') do %>
                        <div class="user_image_area">
                            <% if room.receiver.image.url %>
                                <%=image_tag room.receiver.image.url, class:"user_image"%>
                            <% else %>
                                <%=image_tag "/profile.jpg", class:"user_image"%>
                            <% end %>
                        </div>
                        <div class="room_info_area">
                            <div class="user_name_area">
                                <%=room.receiver.name%>・<%=from_now(room.updated_at)%>
                            </div>
                            <div class="last_message_area">
                                <%=room.last_message%>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>
<%=javascript_pack_tag "user/rooms/index"%>
<script>
var message_area = document.getElementsByClassName("message_area")
console.log($(".message_area"))
console.log(window.innerHeight)
$(".message_area").height(window.innerHeight)

if(false){
$('.back_button_area').on('click', function() {
    console.log("close")
    $(".message_area").toggleClass("closing")
    $(".message_area").toggleClass("opening")
    $(".room_area").toggleClass("closing")
    $(".room_area").toggleClass("opening")
});
$('.message_area_receive').on('click', function() {
    console.log("open")
    $(".message_area").toggleClass("closing")
    $(".message_area").toggleClass("opening")
    $(".room_area").toggleClass("closing")
    $(".room_area").toggleClass("opening")
});
}
</script>