<h3 class="zone_title"><%= link_to "マイページ", user_configs_path, class:"main_area_top_link" %> > 設定</h3>
<%= render "user/shared/error_message", model: @user%>
<div class="component_area">
    <div class="component_flame">
        <%= form_with model: @user, url: user_configs_path, method:"PATCH" do |f| %>
            <%= f.check_box :can_email_advert, class:"input_field check_box", checked:@user.can_email_advert, id:"youtube_check_box" %>
            <label>新サービスやアップデートに関するメールの受信を許可する</label></br>

            <%= f.check_box :can_email_transaction, class:"input_field check_box", checked:@user.can_email_transaction, id:"youtube_check_box" %>
            <label>取引や追加メッセージに関するメールの受信を許可する</label></br>

            <%= f.check_box :use_inactive_coupon, class:"input_field check_box", checked:@user.use_inactive_coupon, id:"youtube_check_box" %>
            <label>期限が近いクーポンから利用する</label></br>

            <%= f.check_box :is_published, class:"input_field check_box", checked:@user.is_published, id:"youtube_check_box" %>
            <label>アカウントを公開する</label></br>
            <% if current_user.stripe_account_id %>
                <%= f.check_box :is_seller, class:"input_field check_box", checked:@user.is_seller, id:"youtube_check_box" %>
                <label>回答者として登録する</label></br>
            <% end %>
            <div class="submit_area">
                <%= f.submit '更新',class:"submit", placeholder:"" %>
            </div>
        <% end %>
        <%= link_to "退会手続き", user_configs_withdrawal_path%>
    </div>
</div>