<div class="config_index_zone">
    <div class="user_top_area">
        <div class="user_image_area">
            <%=image_tag @user.normal_image_with_default, class:"user_image"%>
        </div>
        <div class="user_text_area">
            <h2 class="user_name"><%= link_to @user.name, user_account_path(@user.id), class:"link" %></h2>
            <h4 class="total_points_display">
                <span class="label">保有ポイント</span>
                <span class="points"><%=current_user.total_points%>p</span>
            </h4>
            <%if @balance.present? %>
                <%if @account.requirements.disabled_reason == "under_review" %>
                <span class="payment_enabled false">審査中</span>
                <div class="caveat">＊審査中であっても出品可能です。</div>
                <!--
                    <div class="caveat">＊審査は通常24時間以内に完了します。登録後、1週間経過しても無効の場合は運営までご報告ください</div>
                -->
                <% elsif @account.requirements.disabled_reason == nil %>
                    <span class="payment_enabled true">審査済</span>
                <% end %>

                <div class="account_status_area">
                    <span class="label">口座振り込み</span>
                    <% if @account.payouts_enabled %>
                        <span class="enabled able_info">有効</span>
                    <% else %>
                        <span class="disabled able_info">無効</span>
                    <% end %>
                    <!--
                    <span class="label">　報酬の受け取り</span>
                    <% if @account.charges_enabled %>
                        <span class="enabled able_info">有効</span>
                    <% else %>
                        <span class="disabled able_info">無効</span>
                    <% end %>
                    -->
                </div>

            <% else %>
                <p class="finance_component">回答者情報未登録</p>
                <%=link_to "新規登録", new_user_connects_path%>
            <% end %>
            <h4 class="finance_component week_label">現在の決算</h4>
            <table class="finance_component">
                <tr>
                    <th><span class="finance_label">売 上</span>
                    </th>
                    <th>
                    </th>
                    <th class="finance_result">¥<%=@total_revenue%>
                    </th>
                </tr>
                <tr>
                    <th><span class="finance_label">手数料</span>
                    </th>
                    <th>
                    </th>
                    <th class="finance_result">-¥<%=@total_margin%>
                    </th>
                </tr>
                <tr>
                    <th><span class="finance_label">収 益</span>
                    </th>
                    <th>
                    </th>
                    <th class="finance_result">¥<%=@total_profit %>
                    </th>
                </tr>
            </table>
            <div class="caveat">＊<%=date_of_payment%></div>
        </div>
    </div>
    <%= render "user/configs/button", path: user_orders_path, icon: "far fa-handshake", label: "取引一覧" %>
    <%= render "user/configs/button", path: user_cards_path, icon: "far fa-credit-card", label: "クレジットカード" %>
    <%= render "user/configs/button", path: user_connects_path, icon: "far fa-id-card", label: "回答者情報" %>
    <%= render "user/configs/button", path: user_pre_purchase_inquiry_path, icon: "fa-solid fa-comments", label: "購入前メッセージ" %>
    <%= render "user/configs/button", path: user_service_mine_path, icon: "fas fa-chalkboard-teacher", label: "自分の相談室" %>
    <%= render "user/configs/button", path: user_request_mine_path, icon: "fa-solid fa-q", label: "自分の質問" %>
    <%= render "user/configs/button", path: user_service_likes_path, icon: "fas fa-heart", label: "気に入りの相談室" %>
    <%= render "user/configs/button", path: user_transaction_likes_path, icon: "fas fa-thumbs-up", label: "いいねした回答" %>
    <%= render "user/configs/button", path: user_request_likes_path, icon: "fas fa-thumbs-up", label: "いいねした質問" %>
    <%= render "user/configs/button", path: user_payments_path, icon: "fas fa-coins", label: "ポイント" %>
    <%= render "user/configs/button", path: user_connect_reward_path, icon: "fas fa-money-check-alt", label: "収益の口座入金" %>
    <%= render "user/configs/button", path: edit_user_configs_path, icon: "fas fa-cogs", label: "設定" %>
</div>