<div class="transaction_cell_area">
<% content.set_item%>
<%= link_to(sample_transaction_path(content.id), class: 'transaction_link') do %>
    <div class="transaction_cell_flame">
        <div class="youtube_video_area">
            <%if content.use_youtube%><% %>
            <img src="https://img.youtube.com/vi/<%=content.youtube_id%>/maxresdefault.jpg" alt="Dinosaur" class="file transaction_file youtube_video">
                <!--
                <iframe class="transaction_file"src="https://www.youtube.com/embed/<%=content.youtube_id%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                -->
            <% elsif content.file.url != nil %>
                <% if content.service.delivery_form.name == "image" || content.service.delivery_form.name == "text"%>
                        <%= image_tag content.file.url, class:"transaction_file "%>
                <% elsif content.service.delivery_form.name == "video" %>
                    <%= image_tag content.thumbnail.url, class:"transaction_file content_file", controls: true, autobuffer: true%>
                <% end %>
                <%= image_tag "https://corretech0625.s3.amazonaws.com/uploads/transaction/file/1/description_image2023018132835.png", class:"transaction_file content_file", controls: true, autobuffer: true%>
            <% end %>
        </div>
        
        <div class="video_text_area">
            <h5 class="one_line_text request_title"><%= content.request.title%></h5>
            <h5 class="one_line_text title"><span class="title transaction_title ">A.<%= content.title%></span></h5>
            <h5><%= content.seller.name%></h5>
            <h5 class="datetime"><%= from_now(content.created_at)%></h5>
        </div>
    </div>
    <% end %>
</div>