<% messages.each do |content|%>
    <div id="message_area">
    <% if content.sender == current_user%>
        <div class="my_contact_show_zone message_area">
            <div class="my_message_area">
                <div class="my_message_text"><%=content.body %></div>
            </div>
            <div class="send_time_area">
                <span class="send_time">
                    <%if content.is_read %>
                        <%="既読・" %>
                    <% end %>
                    <%=from_now(content.created_at)%>
                </span>
            </div>
        </div>
    <% else %>
        <div class="destination_message_area message_area">
            <div class="image_area">
                <%=image_tag content.sender.thumb_with_default, class:"user_image"%>
            </div>
            <div class="message_text_area">
                <div class="message_text"><%=content.body %></div>
                <div class="send_time">
                    <%=from_now(content.created_at)%>
                </div>
            </div>
        </div>
    <% end %>
    </div>
<% end %>