
<%= link_to(user_account_path(user.id), class: 'user_link') do %>
    <div class="user_cell_zone">
        <div class="user_cell_flame">
            <div class="user_cell_area">
                <div class="user_image_flame">
                    <% if user.image.thumb.url %>
                    <%=image_tag user.image.thumb.url, class:"user_image"%>
                    <% else %>
                    <%=image_tag user_image_default, class:"user_image"%>
                    <% end %>
                    <div class="last_login">
                        <p>最終ログイン</p>
                        <p><%=from_now(user.last_login_at)%></p>
                    </div>
                </div>

                <div class="user_name_area">
                    <span class="user_name" id="user_cell_area"><%=user.name%></span>
                    <span class="day_form_logout one_line_text">最終ログイン：<%=from_now(user.last_login_at)%></span>
                </div>

                <div class="categories_area">
                    <% user.categories.each do |c|%>
                        <span class="name_tag"><%=c.japanese_name%></span>
                    <% end %>
                </div>
                <div class="introduction user_description_area">
                    <p class="user_description"><%= user.description%></p>
                </div>
                

                <table class="user_record_area">
                    <tr class="category user_record">
                        <td><span class="record_name">評価</span>　</td>
                        <td class="record_content">
                            <%if user.total_reviews >= minimum_total_reviews%>
                                <%= render "user/shared/star_display", model:user %>
                            <%else%>
                            <%end%>
                        </td>
                    </tr>
                    <tr class="category user_record">
                        <td><span class="record_name">回答数</span>　</td>
                        <td class="record_content">
                            <span class="user_sale"><%=user.total_sales_numbers%>件</span>
                        </td>
                    </tr>
                    <tr class="category user_record">
                        <td><span class="record_name">価格帯</span>　</td>
                        <td class="record_content">
                            <%= render "user/accounts/price_range", user:user %>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
<% end %>