<div id="user_profile" class="user_show_zone">
    <% if @user.is_seller%>
        <div class="main_header">
            <%= link_to "", user_homes_path, class:"fas fa-home"%>
             > <%= link_to "回答者一覧", user_accounts_path, class:"main_area_top_link"%>
             > <%=@user.name%>
        </div>
    <% end %>
    <div class="user_profile_area">
        <div class="user_profile_introduction">
            <div class="user_info_image">
                <div class="header_image_area">
                    <%=image_tag @user.header_with_default, class:"header_image #{@user.header_style_class}"%>
                </div>
                <div class="user_image_area">
                    <%=image_tag @user.thumb_with_default, class:"user_image #{@user.image_thumb_style_class}"%>
                </div>
                
                <div class="user_edit_area user_edit1">
                    <div class="follow_message_area">
                        <%if user_signed_in?  %>
                            <%if @user == current_user%>
                                <%= link_to "プロフィール編集", edit_user_accounts_path, class: "user_edit"%>
                            <% else %>
                                <%= render "user/relationships/follow", user: @user %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <div class="user_name_area">
                    <h2 class="user_name">
                        <%=@user.name%>
                        <div class='uuid'>
                            <%= @user.uuid%>
                        </div>
                        <div class="last_login_area">
                            <% if @user.is_seller %>
                            <%= from_now(@user.last_login_at)%>にログイン
                            <% end %>
                        </div>
                    </h2>
                </div>
                <% if @user.is_seller %>
                    <div class="specifics_area">
                        <span class="specific">
                            <label>評価</label>
                            <%= render "user/shared/average_star_rating", 
                                average_star_rating: @user.average_star_rating, 
                                total_reviews: @user.total_reviews %>
                        </span>
                        <span class="specific">
                            <label>価格帯</label>
                            <%= render "user/accounts/service_price_range", user:@user %>
                        </span>
                        <span class="specific">
                            <label>回答数</label>
                            <%=@user.total_sales_numbers%><span class="unit">件</span>
                        </span>
                        <span class="specific">
                            <label>フォロワー数</label>
                            <%=@user.followers.count%><span class="unit">人</span>
                        </span>
                    </div>
                <% end %>
                <div class="category_area">
                    <% @user.categories.each do |category| %>
                        <%= link_to category.japanese_name, user_accounts_path(categories: category.name), class:"big_name_tag" %>
                    <% end %>
                </div>
            </div>
            <span></span>
            
            <%= render "user/shared/description", text:@user %>
            <%= render "user/shared/common_navigation_bar", link: ->(element) {user_account_path(params[:id], nav_item:element[:item])} %>
        </div>
    </div>
    
    <div class="user_detail" id="updated_by_ajax">
        <%=
            case current_nav_item
            when 'posts'
                render 'user/accounts/posts', models: @models
            when 'requests'
                render partial: 'user/requests/question', collection: @models, as: :request
            when 'sales'
                render partial: 'user/transactions/answer', collection: @models, as: :transaction
            when 'services'
                render partial: 'user/services/cell', collection: @models, as: :service
            when 'reviews'
                render partial: 'user/reviews/cell', collection: @models, as: :transaction
            end
        %>
        <%#= render partial: "user/accounts/posts", locals: { contents: @posts}%>
    </div>
    <div>
	    <%= render "user/shared/loading_animation" %>
    </div>
</div>
<script>
<%= render "user/services/javascript/cell.js.erb" %>
<%= render "user/accounts/show.js.erb" %>
<%= render "user/requests/javascript/cell.js.erb" %>
</script>