<div id="user_profile" class="user_show_zone">
<% if @user.is_seller%>
<div class="main_header">
    <%= link_to "", user_homes_path, class:"fas fa-home"%>
     > <%= link_to "回答者一覧", user_accounts_path, class:"main_area_top_link"%>
     > <%=@user.name%>
</div>
<% end %>
    <div class="user_profile_area">
        <div class="user_profile_introduction">
            <div class="user_info_image">
                <div class="header_image_area">
                    <% if @user.header_image.url %>
                        <%=image_tag @user.header_image.url, class:"header_image"%>
                    <% end %>
                </div>
                <div class="user_image_area">
                    <% if @user.image.url %>
                        <%=image_tag @user.image.url, class:"user_image"%>
                    <% else %>
                        <%=image_tag "/profile.jpg", class:"user_image"%>
                    <% end %>
                </div>
                
                <div class="user_edit_area user_edit1">
                    <div class="follow_message_area">
                        <%if user_signed_in?  %>
                            <%if @user.id == current_user.id%>
                                <%= link_to "プロフィール編集", edit_user_accounts_path, class: "user_edit"%>
                            <% else %>
                                <%= render "user/relationships/follow", user: @user %>
                            <% end %>
                        <% end %>
                    </div>
                    <%##= render "user/relationships/follow_message", user: @user, relationship: @relationship%>
                </div>
                <div class="user_name_area">
                    <h2 class="user_name">
                        <%=@user.name%>
                        <span class="last_login_area last_login2">
                            <% if @user.is_seller %>
                                <span class="last_login_name">最終ログイン</span>
                            <% end %>
                            <span><%= from_now(@user.last_login_at)%></span>
                        </span>
                    </h2 class="user_name">
                </div>
                <% if @user.is_seller %>
                    <div class="specifics_area">
                        <span class="specific">
                            <label>評価</label>
                            <%= render "user/shared/average_star_rating", 
                                average_star_rating: @user.average_star_rating, 
                                total_reviews: @user.total_reviews %>
                        </span>
                        <span class="specific">
                            <label>価格帯</label>
                            <%= render "user/accounts/service_price_range", user:@user %>
                        </span>
                        <span class="specific">
                            <label>回答数</label>
                            <%=@user.total_sales_numbers%><span class="unit">件</span>
                        </span>
                        <span class="specific">
                            <label>フォロワー数</label>
                            <%=@user.followers.count%><span class="unit">人</span>
                        </span>
                    </div>
                <% end %>
                <div class="category_area">
                    <% @user.categories.each do |category| %>
                        <div class="big_name_tag"><%=category.japanese_name%></div>
                    <% end %>
                </div>
            </div>
            <span></span>
            
            <%= render "user/shared/description", text:@user %>
            <div class="user_profile_menu" id="request_ajax_update">
                <% @bar_elements.each do |element| %>
                    <% unless !@user.is_seller && element[:for_seller] %>
                        <% 
                        if current_nav_item == element[:item]
                            additional_class = "blue"  
                        else
                            additional_class = "gray"
                        end
                        %>
                        <li class="menu_element <%=additional_class%>" item="<%=element[:item]%>">
                            <%= link_to element[:japanese_name], user_account_path(params[:id], nav_item:element[:item]), remote: false, class:"user_content_link user_#{element[:item]}_link"%>
                        </li>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
    
    <div class="user_detail" id="updated_by_ajax">
        <%=
            case current_nav_item
            when 'posts'
                render partial: 'user/posts/cell', collection: @models, as: :post
            when 'requests'
                render partial: 'user/requests/cell', collection: @models, as: :request
            when 'sales'
                render partial: 'user/transactions/cell', collection: @models, as: :transaction
            when 'services'
                render partial: 'user/services/cell', collection: @models, as: :service
            when 'reviews'
                render partial: 'user/reviews/cell', collection: @models, as: :transaction
            end
        %>
        <%#= render partial: "user/accounts/posts", locals: { contents: @posts}%>
    </div>
    <div>
	    <%= render "user/shared/loading_animation" %>
    </div>
</div>
<%= javascript_pack_tag "shared/xml_request" %>
<%= javascript_pack_tag "shared/check_scroll" %>
<script>
<%= render "user/services/javascript/cell.js.erb" %>
<%= render "user/accounts/show.js.erb" %>
<%= render "user/requests/javascript/cell.js.erb" %>
<% flash.each do |type, message| %>
    // Bootstrapを導入しているため、`class="alert alert-success"`としています
      $("#added-message").html('<p class="alert alert-success"><%= type %><%= message %></p>')
      $("#result").html(users_list)
<% end %>
</script>