<div class="order_index_zone">
<%= render "user/shared/error_message", model: @transaction%>
<%= render "user/shared/error_message", model: current_user%>
<%= render "user/shared/error_message", model: @service%>
<h3 class="input_new_title"><%= link_to "マイページ", user_configs_path, class:"main_area_top_link" %> ></span> 取引一覧 </h3>
    <%= render "user/orders/header"%>
    <div class="order_index_flame">
        <% @transactions.each do |transaction| %>
            <%= link_to(user_order_path(transaction.id), class:"order_cell") do %>
                <% if transaction.request.has_pure_image %>
                    <div class="image_area">
                        <%= image_tag transaction.request.thumb_with_default, class:"image" %>
                    </div>
                <% end %>
                <div class="text_area">
                    <h4 class="title two_line_text"><%= transaction.request.title%></h4>
                    <div class="from_now one_line_text">
                        <% if transaction.is_transacted %>
                            <span class="ok">納品済み</span>
                        <% elsif transaction.is_canceled%>
                            <span class="stop">キャンセル</span>
                        <% elsif transaction.is_rejected%>
                            <span class="stop">お断り</span>
                        <% else %>
                            <span class="not_ok"><%= from_now(transaction.delivery_time) %></span>
                        <% end %>
                        to: <%= transaction.service.title%>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
    <div class="main_bottom">
        <%= paginate @transactions %>
    </div>
</div>
<script>
  var swiper = new Swiper('.swiper-container', {
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>