<div class="order_index_zone">
<%= render "user/shared/error_message", model: @transaction%>
<%= render "user/shared/error_message", model: current_user%>
<%= render "user/shared/error_message", model: @service%>
<div class="main_header"><%= link_to "マイページ", user_configs_path, class:"main_area_top_link" %> > 取引一覧 <%= paginate @transactions %></div>
    <%= render "user/orders/header"%>
    <div class="order_index_flame">
        <% @transactions.each do |transaction| %>
            <% transaction.set_item %>
            <div class="order_cell">
                <div class="request_area">
                    <%= link_to(user_request_path(transaction.request_id), class: 'request_link below_500') do %>
                        <h2 class="request_title one_line_tex"><%=transaction.request.title%></h2>
                    <% end %>
                    <div class="request_image_area">
                        <%transaction.request.set_item_values%>
                        <%if transaction.request.use_youtube%>
                            <iframe class="youtube_video" src="https://www.youtube.com/embed/<%=transaction.request.youtube_id%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <% else %>
                            <% if transaction.request.request_form.name == "image" || transaction.request.request_form.name == "text"%>
                                <%= image_tag transaction.request.image_with_default, class:"image"%>
                            <% elsif transaction.request.request_form.name == "video" %>
                                <%= video_tag transaction.request.file.url, poster:transaction.request.thumbnail.url, class:"image", controls: true, autobuffer: true%>
                            <% end %>
                        <% end %>
                    </div>
                    <div class="text_area">
                        <%= link_to(user_request_path(transaction.request_id), class: 'request_link over_500') do %>
                            <h2 class="request_title item one_line_text"><%=transaction.request.title%></h2>
                        <% end %>
                        <div class="one_line_text">
                            <% if transaction.is_delivered %>
                                <div class="one_line_text">
                                    <span class="alert green">納品済み</span>　<%= link_to transaction.title, user_transaction_path(transaction.id)  %>
                                </div>
                            <% else %>
                            <div class="one_line_text">
                                <span class="alert orange">納品前</span>
                            </div>
                            <% end %>
                        </div>
                        <div class="one_line_text">
                            <label>料金</label>&nbsp;<span><%=transaction.price%>円</span>　
                            <%if current_user == transaction.seller%>
                                <label>依頼主</label>&nbsp;<span>
                                <%=link_to transaction.buyer.name, user_account_path(transaction.buyer.id), class:"service_link" %>

                            <% else %>
                                <label>販売主</label>&nbsp;<span>
                                <%=link_to transaction.seller.name, user_account_path(transaction.seller.id), class:"service_link" %>
                                </span>
                            <% end %>
                        </div>
                        <div class="one_line_text">
                            <label>納期</label>　　　<span><%=from_now(transaction.delivery_time)%>（<%=transaction.delivery_time.strftime("%Y/%m/%d %H:%m")%>）</span>
                        </div>
                        <div class="one_line_text">
                            <label>サービス</label>　<span><%=link_to transaction.service.title, user_service_path(transaction.service.id), class:"service_link" %></span>
                        </div>
                    </div>
                </div>
                <div class="button_zone">
                <% if transaction.seller == current_user && transaction.is_ongoing %>
                    <div class="button_area">
                        ：<%=link_to "依頼に対応", user_order_path(transaction.id), class:"button" %>
                    </div>
                    <div class="button_area">
                        ：<%=link_to "依頼を断る", edit_user_order_path(transaction.id), class:"button" %>
                    </div>
                <% elsif transaction.delivery_time < DateTime.now && transaction.is_ongoing  %>
                    <div class="button_area">
                        ：<%=link_to "キャンセル", user_cancel_order_path(transaction.id), :method => :put, class:"button", data: {confirm: "依頼をキャンセルしますか？\nポイントは返金されます。"} %>
                    </div>
                <% end %>
                </div>
            </div>
        <% end %>
    </div>
    <div class="main_bottom">
        <%= paginate @transactions %>
    </div>
</div>