<div class="order_show_zone">
    <p class="zone_title"><%=link_to "取引一覧", user_orders_path %> > 取引内容</p>
    <%= render "user/shared/error_message", model: @transaction%>
    <div class="order_show_flame component_area">
        <% if @transaction.is_canceled %>
            <span class="status orange">
                <i class="fas fa-ban"></i>
                <%=current_user == @transaction.seller ? "質問がキャンセルされています" : "質問がキャンセル済みです"%>
            </span></br>
        <% elsif @transaction.is_rejected %>
            <span class="status grey">
                <i class="fa-solid fa-ban"></i>
                <%=current_user == @transaction.seller ? "質問がお断り済みです" : "質問がお断りされています"%>
            </span></br>
        <% elsif @transaction.is_transacted %>
            <span class="status green">
            <i class="fa-solid fa-check"></i>
            取引が完了しています
            </span>
        <% end %>
        <% if @transaction.is_rejected %>
            <%= render "user/shared/small_label", text: "お断り理由" %>
            <div><%=@transaction.reject_reason%></div>
        <% end %>
        <%= render "user/shared/small_label", text: @transaction.seller == current_user ? '質問者' : '回答者' %>
        <%= link_to(user_account_path(@transaction.opponent_of(current_user).id), class: "service_request_area") do %>
            <div class="image_area">
                <%= image_tag @transaction.opponent_of(current_user).thumb_with_default, class:"image" %>
            </div>
            <div class="text_area">
                <h4 class="margin0px one_line_text title"><%= @transaction.opponent_of(current_user).name %></h4>
            </div>
            <div class="arrow_area fa-solid fa-chevron-right">
            </div>
        <% end %>
        <% if @transaction.can_send_message(current_user) %>
            <%=link_to " 追加メッセージ", user_transaction_message_room_path(@transaction.id), class:"far fa-envelope grey link_button" %>
        <% end %>
        <% if @transaction.is_ongoing %>
            <div class="submit_area">
            <% if current_user == @transaction.seller %>
                <%=link_to(edit_user_order_path(@transaction.id), class:"link_button") do %>
                    <span class="fas fa-handshake-alt-slash"></span> 理由を作成してお断り
                <% end %>
            <% end %>
            </div>
        <% end %>
        </br>
        <%= render "user/shared/small_label", text: "契約内容" %>
        <table class="common_condition_area">
            <tr>
                <td class="user_info_name">
                    <span class="condition_name">料金</span>
                </td>
                <td>
                    <span class="common_condition"><%=@transaction.price%>円</span>
                </td>
            </tr>
            <tr>
                <td class="user_info_name">
                    <span class="condition_name">納期</span>
                </td>
                <td>
                    <span class="common_condition"><%= @transaction.delivery_time.strftime("%Y/%m/%d %H:%m") %></span>
                </td>
            </tr>
            <tr>
                <td class="user_info_name">
                    <span class="condition_name"><%= Service.human_attribute_name(:delivery_form) %></span>
                </td>
                <td>
                    <span class="common_condition"><%=@transaction.delivery_form.japanese_name%></span>
                </td>
            </tr>
            <tr>
                <td class="user_info_name">
                    <span class="condition_name"><%= Service.human_attribute_name(:request_form) %></span>
                    </td>
                <td>
                    <span class="common_condition"><%=@transaction.request_form.japanese_name%></span>
                </td>
            </tr>
            <tr>
                <td class="user_info_name">
                    <span class="condition_name">カテゴリー</span>
                </td>
                <td>
                    <span class="common_condition">
                        <% @transaction.categories.each do |category| %>
                            <%= link_to category.japanese_name, user_services_path(categories: category.name), class:"big_name_tag" %>
                        <% end %>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="user_info_name">
                    <span class="condition_name">購入前の質問</span>
                </td>
                <td>
                    <span class="common_condition">
                    <%if @transaction.service.allow_pre_purchase_inquiry%>
                    <span class="ok">可能</span>
                    <% else %>
                    <span class="not_ok">不可</span>
                    <% end %></span>
                </td>
            </tr>
            <tr>
                <td class="user_info_name">
                    <span class="condition_name">追加質問</span>
                </td>
                <td>
                    <span class="common_condition">
                    <%if @transaction.transaction_message_enabled%>
                    <span class="ok">可能</span>
                    <% else %>
                    <span class="not_ok">不可</span>
                    <% end %></span>
                </td>
            </tr>
        </table>
        </br>
        <%= render "user/shared/small_label", text: "提供内容" %>
        <div class="description_area">
            <div class="description_text_area" id="descriptionn_content<%@transaction.model_name%><%@transaction.id%>">
                <p id="description_text<%@transaction.model_name%><%@transaction.id%>" class="description_text closing_text"><%=@transaction.service_descriprion%></p>
            </div>
            <div class="change_text open_text" id="open_text<%@transaction.model_name%><%@transaction.id%>"></div>
        </div>

        <%= render "user/shared/small_label", text: "相談室" %>
        <%= link_to(user_service_path(@transaction.service.id), class: "service_request_area") do %>
            <div class="image_area">
                <%=image_tag @transaction.service.thumb_with_default, class:"image"%>
            </div>
            <div class="text_area">
                <h4 class="title margin0px one_line_text"><%= @transaction.service_title %></h4>
                <div class="user_name one_line_text">回答者: <%= @transaction.seller.name %></div>
            </div>
            <div class="arrow_area fa-solid fa-chevron-right">
            </div>
        <% end %>
        </br>
        <%= render "user/shared/small_label", text: "質問" %>
        <%= link_to(user_request_path(@transaction.request.id), class: "service_request_area") do %>
            <div class="image_area">
                <% if @transaction.request.request_form_has_image? %>
                    <%= image_tag @transaction.request.items.first.file.thumb.url, class:"image" %>
                <% elsif @transaction.request.request_form.name == "video" %>
                    <%= video_tag @transaction.request.file.url, poster:@transaction.request.thumbnail.url, class:"image", controls: true, autobuffer: true%>
                <% end %>
            </div>
            <div class="text_area">
                <h4 class="margin0px one_line_text title"><%= @transaction.request.title %></h4>
                <div class="user_name one_line_text">質問者: <%= @transaction.buyer.name %></div>
            </div>
            <div class="arrow_area fa-solid fa-chevron-right">
            </div>
        <% end %>
        </br>
        <% if current_user == @transaction.seller || @transaction.is_transacted%>
        <%= render "user/shared/small_label", text: "回答" %>
            <div class="information_component">
                <label><%= Transaction.human_attribute_name(:title)%></label></br>
                <h3 class="margin0px">
                    <% if @transaction.title %>
                        <% if @transaction.is_published %>
                            <%= link_to @transaction.title, user_transaction_path(@transaction.id) %>
                        <% else %>
                            <%= @transaction.title %>
                        <% end %>
                    <% else %>
                        未記入
                    <% end %>
                </h3>
            </div>
            <div  class="information_component">
                </label class="title_label"><%= Transaction.human_attribute_name(:description)%></label></br>
                <% if @transaction.description %>
                    <h5 class="margin0px break_word"><%=@transaction.description %></h5>
                <% else %>
                    <h5 class="margin0px break_word">未記入</h5>
                <% end %>
            </div>
            <div  class="information_component">
                <%if @transaction.delivery_form_name != "text" %>
                    </label class="title_label">ファイル</label></br>
                    <% if @transaction.items %>
                        <%if @transaction.use_youtube%>
                            <iframe class="youtube_video 16_to_9" src="https://www.youtube.com/embed/<%=@transaction.youtube_id%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <% else %>
                            <% if @transaction.delivery_form_has_image? %>
                                <% @transaction.items.each do |item|%>
                                    <%= image_tag item.file.normal_size.url, class:"image" if item.file.is_image?%>
                                <% end %>
                            <% elsif @transaction.service.delivery_form.name == "video" %>
                                <%= video_tag @transaction.file.url, poster:@transaction.thumbnail.url, class:"image", controls: true, autobuffer: true%>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
                <% if false %>
                    <span id="desctiption_to_image_text">文章を画像に変換中。変換が遅い場合はページをリロードしてください。</span>
                    <img id="description_image" class="description_image">
                <% end %>
            </div>
            <div  class="information_component">
                <% if @transaction.item %>
                    <%if @transaction.items && @transaction.delivery_form.name == "video"%>
                        </label class="title_label">サムネイル</label></br>
                        <%= image_tag @transaction.items, class:"image"%>
                    <% end %>
                <% end %>
            </div>
        <% end %>
        <% if @transaction.is_ongoing && current_user == @transaction.seller %>
            <%=link_to "回答を編集", edit_user_transaction_path(@transaction.id), class:"link_button fas fa-edit"%>
        <% end %>
        <% if @transaction.is_cancelable_by(current_user) %>
            <div class="submit_area">
                <%=link_to " 取引をキャンセル", user_cancel_order_path(@transaction.id), :method => :put, class:"big_submit fas fa-handshake-alt-slash", data: {confirm: "依頼をキャンセルしますか？\nポイントやクーポンは元に戻りますが、ポイントの購入は返金されません。"} %>
            </div>
        <% end %>
        <% if can_deliver(@transaction) && current_user == @transaction.seller%>
            <%= form_with model: @transaction, url:user_deliver_transaction_path(@transaction.id), class:"submit_area", method:"put" do |f| %>
                <%= f.hidden_field :is_transacted, value:true, class:"input_field" ,required: true%>
                <%= f.hidden_field :is_published, value:true, class:"input_field" ,required: true%>
                <%#= f.file_field  :file, id:"file_input", class:"display_none" %>
                <%= f.submit "回答を納品", class:"big_submit", id:"submit", data: {confirm: "これ以上編集できなくなります\n取引を完了しますか？"} %>
            <% end %>
        <% end %>
    </div>
    <% if @transaction.review %>
        <%= render 'user/shared/common_label', text: 'レビュー', language: 'ja'%>
        <%= render "user/reviews/cell", transaction: @transaction %>
    <% end %>
</div>