<div class="payment_show_index">
    <h3 class="input_new_title"><%= link_to "マイページ", user_configs_path, class:"main_area_top_link" %> > ポイント</h3>
    <div class="component_area">
        <%= render "user/payments/new"  %>
    </div>
	<table class="common_table">
		<thead>
		  	<tr>
				<th>購入ポイント</th>
				<th>支払い金額</th>
				<th>日時</th>
		  	</tr>
		</thead>
		<tbody>
			<% @payments.each do |p| %>
				<tr href="<%=user_payment_path(p.id)%>">
					<td class="number"><%= p.point %>p</td>
					<td class="number"><%= p.value %>円</td>
					<td><%= readable_datetime(p.executed_at) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<div class="main_bottom"><%= paginate @payments %></div>

</div>