<div class="service_cell_area" id="service_cell_area">
    <div class="service_cell_flame">
        <%= link_to(user_service_path(service.id), class:"service_show_link") do%>
            <div class="service_image_area">
                <%if service.image.thumb.url == nil%>
                <%=image_tag "/corretech_icon.png", class:"service_image"%>
                <% else %>
                <%=image_tag service.image.thumb.url, class:"service_image"%>
                <% end %>
            </div>
            <div class="service_description_area">
                <span class="service_description"><%=service.title%>
                </span>
            </div>
            <div class="user_info_area">
                <div class="user_image_area">
                    <%if service.user.image.thumb.url == nil%>
                        <%=image_tag "/profile.jpg", class:"user_image"%>
                    <% else %>
                        <%=image_tag service.user.image.thumb.url, class:"user_image"%>
                    <% end %>
                </div>
                <div class="user_name_area">
                <span class="user_name"><%=service.user.name%></span>
                </div>
            </div>
            <div class="service_condition_area">
                <%= render "user/services/condition", service: service%>
            </div>
        <% end %>
    </div>
</div>