<div class="service_cell_area" id="service_cell_area">
    <div class="service_cell_flame">
        <%= link_to(user_service_path(service.id), class:"service_show_link") do%>
            <div class="service_image_area">
                <%=image_tag service.thumb_with_default, class:"service_image"%>
            </div>
            <div class="service_description_area">
                <span class="service_description"><%=service.title%>
                </span>
            </div>
            <div class="user_info_area">
                <div class="user_image_area">
                    <%=image_tag service.user.thumb_with_default, class:"user_image"%>
                </div>
                <div class="user_name_area">
                    <span class="user_name"><%=service.user.name%></span>
                </div>
            </div>
            <div class="service_condition_area">
                <div class="price_area">
                    <span class="price"><%=service.price%></span>円&nbsp;
                    <%= render "user/shared/average_star_rating", 
                    average_star_rating: service.average_star_rating, 
                    total_reviews: service.total_reviews %>
                </div>
                <span class="name_tag">
	                <% case service.request_form.name %>
	                <% when 'text' %>
	                	<span class="text">文章で質問</span>
	                <% when 'image' %>
	                	<span class="text">文章＋画像で質問</span>
	                <% when 'free' %>
	                	<span class="text">自由形式で質問</span>
	                <% else %>
	                <% end %>
                </span>
                <span class="name_tag">
	                <% case service.delivery_form.name %>
	                <% when 'text' %>
	                	<span class="text">文章で回答</span>
	                <% when 'image' %>
	                	<span class="text">文章+画像で回答</span></span>
	                <% when 'free' %>
	                	<span class="text">自由形式で回答</span>
	                <% else %>
	                <% end %>
                </span>
                <%service.categories.each do |category|%>
                    <span class="name_tag"><%= category.japanese_name %></span>
                <% end %>
                <%if service.transaction_message_enabled%>
                    <span class="name_tag">追加で質問可能</span>
                <% end %>
                <%if service.allow_pre_purchase_inquiry%>
                    <span class="name_tag">購入前に質問可能</span>
                <% end %>
                <%#= render "user/services/condition", service: service%>
            </div>
        <% end %>
    </div>
</div>