
    <div class="suggestion_area">
        <div class="service_info_area">
            <%= link_to(user_service_path(service.id, transaction_id: transaction&.id), class:"service_link_area") do%>
                <h3 class="service_title"><%= service.title%></h3>
            <% end %>
            <div class="service_user_condition_image">
                <div class="service_image_area">
                    <%if service.image.url == nil%>
                        <%=image_tag "/corretech_icon.png", class:"service_image"%>
                    <% else %>
                        <%=image_tag service.image.url, class:"service_image"%>
                    <% end %>
                </div>
                <div class="service_condition_user">
                    <%= link_to(user_account_path(service.user.id), class:"user_image_name_area") do %>
                        <%if service.user.image.url == nil%>
                            <%=image_tag "/profile.jpg", class:"user_image"%>
                        <% else %>
                            <%=image_tag service.user.image.url, class:"user_image"%>
                        <% end %>
                        <div class="user_name_area">
                            <span class="user_name"><%=service.user.name %></span>
                        </div>
                    <% end %>
                    <table class="service_condition_area">
                        <tr>
                            <td class="service_condition_icon">
                                <span class="fas fa-yen-sign"></span>
                            </td>
                            <td>
                                <span class="condition_name ">料金</span>
                            </td>
                            <td>
                                <span class="service_condition"><%=service.price%>円</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="service_condition_icon">
                                <span class="far fa-calendar-alt"></span>
                            </td>
                            <td>
                                <span class="condition_name ">購入から納品まで</span>
                            </td>
                            <td>
                                <span class="service_condition"><%=service.delivery_days%>日</span>
                            </td>
                        </tr>
                
                        <%if !service.request.present?%>
                        <%if service.request_form.name == "video" %>
                        <tr>
                            <td class="service_condition_icon">
                                <span class="far fa-file-video"></span>
                            </td>
                            <td>
                                <span class="condition_name"><%= Service.human_attribute_name(:request_max_minutes)%></span>
                                </td>
                            <td>
                                <span class="service_condition"><%=service.request_max_minutes%>分</span>
                            </td>
                        </tr>
                        <% end %>
                        <% end %>
                        <tr>
                            <td class="service_condition_icon">
                                <span class="far fa-comment-alt"></span>
                            </td>
                            <td>
                                <span class="condition_name">追加質問受付期間</span>
                            </td>
                            <td>
                                <span class="service_condition">
                                <%if service.transaction_message_days == 0%>
                                <%=service.transaction_message_days%>日（追加質問不可）
                                <% else %>
                                <%=service.transaction_message_days%>日
                                <% end %>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="service_title_description_area">
            <div class="service_description_area">
                <%= render "user/shared/description", text: service %>
            </div>
        </div>
    </div>