<div class="services_index_zone">
    <%if current_state == "register" %>
        <%= render "user/shared/state_register_alert" %>
    <%else%>
        <div class="main_header">
            <%= link_to "", user_homes_path, class:"fas fa-home"%>
             > <%= link_to "#{Service.model_name.human}一覧", user_services_path, class:"main_area_top_link", onclick:"event.stopPropagation()"%>
            <%= render "user/shared/category_selector", 
				current_link: -> { user_services_path(categories: params[:categories]) }, 
				link: ->(category) { user_services_path(categories: category[:name]) } %>
        </div>
        <div class="service_index_flame service_cell_zone">
            <% @services.each do |service| %>
                    <%= render "user/services/cell", service: service%>
            <% end %>
        </div>
        <div class="main_bottom">
            <%= paginate @services %>
        </div>
    <% end %>
</div>
<script>
<%= render "user/services/javascript/cell.js.erb" %>
</script>
<%=  javascript_pack_tag "user/services/index"%>