<%if @request.present? %>
  <%= render "user/requests/cell", request: @service.request%>
  <h3 class="service_new_title"><%=@request.user.name%>に相談室を提案</h3>
<% else %>
  <h3 class="service_new_title">サービスを新規出品</h3>
<% end %>
<%= render "user/shared/caveat",path: abouts_service_guide_path,label:"出品可能なサービスについて" %>
<%= render "user/shared/caveat",path: abouts_how_to_sell_path,label:"サービスの各項目の詳細について" %>
<%= render "user/services/form", service: @service, request: @request, submit_text: @submit_text %>