<div class="service_show_zone">
    <div class="main_header">
        <%= link_to "", user_homes_path, class:"fas fa-home"%>
         > <%= link_to "#{Service.model_name.human}一覧", user_services_path, class:"main_area_top_link"%>
         > <%= link_to @service.category_names, user_services_path(categories: @service.category.name), class:"main_area_top_link"%>
         > <%= @service.title%>
    </div>
    <div class="service_left_area">
        <%if @transaction %>
            <%= render 'user/shared/common_label', text: '質問', language: 'ja' %>
            <%= render "user/requests/cell", request:@transaction.request %>
            <%= render 'user/shared/common_label', text: '相談室', language: 'ja' %>
        <% end %>
        <div class="service_area">
            <div class="service_flame">
                <div class="service_title_area">
                    <h3 class="service_title"><%=@service.title%></h3>
                </div>
                <div class="service_score_area">
                <% if @service.user == current_user%>
                    <div class="edit_delete_area">
                        <%if @service.is_inclusive%>
                            <%= link_to "編集", edit_user_service_path(@service.id), class:"edit" %>
                        <% else %>
                            <%= link_to "編集", edit_user_service_path(@service.id, request_id:@service.requests.first.id), class:"edit" %>
                        <% end %>
                        <%= link_to "削除", user_service_path(@service.id), method: "delete", class:"delete", data: {confirm: "相談室を削除しますか？"}  %>
                    </div>
                <% else %>
                    <%= link_to(user_service_likes_path(id: @service.id), class: "like_button #{@service.liked_class(current_user)}", id:"like_button", method: :post, remote:true) do%>
                        <span class="fas fa-heart" ></span>&nbsp;お気に入り　　<span id="like_count"><%=@service.total_likes%></span>&nbsp;
                    <% end %>
                    <script>
                    <%= render "user/services/javascript/like.js.erb" %>
                    </script>
                <% end %>
                    <span class="service_score_info"><label>評価</label>&nbsp;<%= render "user/shared/star_display", model: @service %></span>
                    <span class="service_score_info"><label>回答数</label>&nbsp;<%= @service.transactions.where(is_delivered: true).count %>件</span>
                    <%if @service.user == current_user%>
                        <span class="service_score_info"><label>いいね</label>&nbsp;<%= @service.total_likes %>件</span>
                    <% end %>
                </div>
                <!--
                <% if @service.user == current_user%>
                    <div class="edit_delete_area">
                        <%if @service.is_inclusive%>
                            <%= link_to "編集", edit_user_service_path(@service.id), class:"edit" %>
                        <% else %>
                            <%= link_to "編集", edit_user_service_path(@service.id, request_id:@service.requests.first.id), class:"edit" %>
                        <% end %>
                        <%= link_to "削除", user_service_path(@service.id), method: "delete", class:"delete", data: {confirm: "サービスを削除しますか？。"}  %>
                    </div>
                <% else %>
                    <div class="service_like_area">
                    <%= link_to(user_service_likes_path(id: @service.id), class: "like_button liked_button", id:"like_button", method: :post, remote:true) do%>
                        <span class="far fa-heart" ></span>&nbsp;お気に入り　　<span id="like_count"><%=@service.total_likes%></span>&nbsp;
                    <% end %>
                    </div>
                <% end %>
                    -->
                <div class="user_label">
                <%= render "user/shared/small_label", text:"条件"%>
                </div>
                <table class="service_condition_area">
                    <tr>
                        <td class="user_info_name">
                            <span class="condition_name">料金</span>
                        </td>
                        <td>
                            <span class="service_condition"><%=@service.price%>円</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="user_info_name">
                            <span class="condition_name">質問から回答まで</span>
                        </td>
                        <td>
                            <span class="service_condition"><%=@service.delivery_days%>日以内</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="user_info_name">
                            <span class="condition_name"><%= Service.human_attribute_name(:delivery_form) %></span>
                        </td>
                        <td>
                            <span class="service_condition"><%=@service.delivery_form.japanese_name%></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="user_info_name">
                            <span class="condition_name"><%= Service.human_attribute_name(:request_form) %></span>
                            </td>
                        <td>
                            <span class="service_condition"><%=@service.request_form.japanese_name%></span>
                        </td>
                    </tr>
                    <%if @service.is_inclusive %>
                        <tr>
                            <td class="user_info_name">
                                <span class="condition_name">質問の字数</span>
                                </td>
                            <td>
                                <span class="service_condition">
                                <%= 
                                if @service.request_max_characters
                                    "#{@service.request_max_characters}字以内"
                                else
                                    "制限なし"
                                end
                                    %>
                                </span>
                            </td>
                        </tr>
                        <%if @service.request_form.name == "video" %>
                        <tr>
                            <td class="user_info_name">
                                <span class="condition_name"><%= Service.human_attribute_name(:request_max_minutes)%></span>
                                </td>
                            <td>
                                <span class="service_condition"><%=@service.request_max_minutes%>分</span>
                            </td>
                        </tr>
                        <% end %>
                    <% end %>
                    <tr>
                        <td class="user_info_name">
                            <span class="condition_name">カテゴリー</span>
                        </td>
                        <td>
                            <span class="service_condition"><%=@service.category_names%></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="user_info_name">
                            <span class="condition_name">受付状況</span>
                        </td>
                        <td>
                            <span class="service_condition">
                            <%if @service.is_for_sale%>
                            販売中
                            <% else %>
                            販売停止
                            <% end %></span>
                        </td>
                    </tr>
                    <%if @service.user == current_user%>
                    <tr>
                        <td class="user_info_name">
                            <span class="condition_name">公開状況</span>
                        </td>
                        <td>
                            <span class="service_condition">
                            <%if @service.is_published%>
                            公開中
                            <% else %>
                            非公開
                            <% end %></span>
                        </td>
                    </tr>
                    <% end %>
                    <tr>
                        <td class="user_info_name">
                            <span class="condition_name">追加質問</span>
                        </td>
                        <td>
                            <span class="service_condition">
                            <%if @service.transaction_message_enabled%>
                            可能
                            <% else %>
                            不可
                            <% end %></span>
                        </td>
                    </tr>
                </table>
                <div class="service_image_area">
                    <%if @service.item&.file&.url.present? %>
                        <%=image_tag @service.item.file.url, class:"service_image",id:"service_image"%>
                    <% end %>
                </div>
                <div class="service_detail_area">
                <%= render "user/shared/small_label", text: Service.human_attribute_name(:description) %>
                    <p class="service_detail"><%=@service.description%></p>
                </div>
                <div class="user_label">
                    <%= render "user/shared/small_label", text:"回答者"%>
                </div>
                <%= link_to(user_account_path(@service.user.id), class:"user_area") do %>
                    <%= image_tag @service.user.image.thumb.url, class:"user_image" %>
                    <div class="user_name">
                        <%=@service.user.name%>
                    </div>
                    <div class="specifics_area">
                        <span class="specific">
                            <label>評価</label>
                            <span class="star fas fa-star"></span><%=(@service.user.average_star_rating)&.round(1)%> (<%=@service.user.total_reviews%>)
                        </span>
                        <span class="specific">
                            <label>最低単価</label>
                            <%=@service.user.mini_price%><span class="unit">円</span>
                        </span>
                        <span class="specific">
                            <label>回答数</label>
                            <%=@service.user.total_sales_numbers%><span class="unit">件</span>
                        </span>
                    </div>
                <% end %>
                <!--
                <%if can_purchase %>
                    <div class="transaction_button_area">
                        <%=
                        if @transaction&.is_suggestion
                            link_to "購入する", user_request_purchase_path(transaction_id:@transaction.id),method: :post, data: { confirm: "購入しますか？"} ,class:"transaction_button"
                        else
                            link_to(new_user_request_path(service_id:@service.id), class:"transaction_button") do
                                "質問を投稿する"
                            end
                        end
                        %>
                    </div>
                <% end %>
                -->
                <%= render "/user/shared/share_twitter"%>
            </div>
            <% if !@service.request.present?%>
            <div class="service_info_menu" id="request_ajax_update">
                <% @bar_elements.each do |element| %>
                    <% 
                    if current_nav_item == element[:item]
                        puts "現在#{current_nav_item}"
                        additional_class = "blue"  
                    else
                        additional_class = "gray"
                    end
                    %>
                    <li class="menu_element <%=additional_class%>" item="<%=element[:item]%>">
                        <%= link_to element[:japanese_name], user_service_path(params[:id], nav_item:element[:item]), remote: false, class:"user_content_link user_#{element[:item]}_link"%>
                    </li>
                <% end %>
            </div>
            <% end %>
        </div>
        <div class="service_hitsory" id="updated_by_ajax">
            <%=
                case current_nav_item
                when 'transactions'
                    render partial: 'user/transactions/cell', collection: @models, as: :transaction
                when 'requests'
                    render partial: 'user/requests/cell', collection: @models, as: :request
                when 'reviews'
                    render partial: 'user/reviews/cell', collection: @models, as: :transaction
                end
            %>
        </div>
	    <%= render "user/shared/loading_animation" %>
    </div>
    <%= render "user/accounts/profile", user: @service.user, relationship:@relationship%>
</div>
<% unless user_signed_in? && @service.user == current_user  %>
    <div class="bottom_button_area purchase_button_area">
        <div class="bottom_button_flame">
            <div class="label_area"><%=@service.price%><span class="yen">円</span></div>
            <%=
            if @transaction&.is_suggestion
                link_to "購入する", user_request_purchase_path(transaction_id:@transaction.id),method: :post, data: { confirm: "購入しますか？"} ,class:"transaction_button"
            else
                link_to(new_user_request_path(service_id:@service.id), class:"bottom_button transaction_button") do
                    "質問を投稿する"
                end
            end
            %>
        </div>
    </div>
    <script>
        $('.main_area').css('padding-bottom','50px');
    </script>
<% end %>
<script>
function register_callback() {
  $("#request_ajax_update").on(
      "ajax:complete",
      function(event) {
        var res = event.detail[0].response
        $('#updated_by_ajax').html(res)
        console.log(res)
        console.log("register")
      }
  );
}
$("#request_ajax_update")[0].addEventListener('ajax:error', function(event) {
  // 失敗時の処理
  console.log("受信できません。")
  notify_for_seconds("受信できません。");
});

var menu_element = document.getElementsByClassName('menu_element');
var service_hitsory = document.getElementsByClassName("service_hitsory")[0]
var menu_elements = Array.from(menu_element)
var paths = ["transactions","requests","reviews"]
var bar_elements = <%=raw @bar_elements.to_json %><%=%>
var item = "<%=current_nav_item%>"
var service_id = <%= @service.id %><%=%>
var loaded_pages  = []

$(".search_detail").css("display","none")
console.log("params")

function item_to_page(name){
  return bar_elements.find(
    ({element}) => item == name
  ).page
}

function update_menu_color(element){
    $('.menu_element').addClass('gray');
    $('.menu_element').removeClass('blue');
    //何度か要素を選択するとなぜか他の場所の色が変わる
    //element.classList.remove('gray');
    //element.classList.add('blue');
}
//横スクロールメニューの要素が押された時
menu_elements.forEach(element => element.addEventListener("click", ()=>{
    	$('#loading_animation').css('display','block');
        $('#updated_by_ajax').empty();
        update_menu_color(element);
        item = element.getAttribute('item');
        var loaded_element_count = service_hitsory.childElementCount+1; //現在取得済みの要素数
        //繰り上げ（現在取得済みの要素数 / 取得するページの要素数）＋１
        page = Math.ceil(loaded_element_count/item_to_page(item)) + 1;
    }
));

var insert_elements = function(response, scroll_element){
    scroll_element.insertAdjacentHTML('beforeend', response)
    $('#loading_animation').css('display','none');
}

//スクロールをした判定
$(window).on('scroll', function(){
    var service_hitsory = document.getElementsByClassName("service_hitsory")[0]
    var token = document.getElementsByName("csrf-token")[0].content;
    var docHeight = $(document).innerHeight(), //ドキュメントの高さ
    windowHeight = $(window).innerHeight(), //ウィンドウの高さ
    pageBottom = docHeight - windowHeight - 0.5; //ドキュメントの高さ - ウィンドウの高さ
    page = Math.ceil(service_hitsory.childElementCount/item_to_page(item))+1
    
    //ウィンドウの一番下までスクロールした時 && スクロール位置が変化した
    if(check_scroll() && !loaded_pages.includes(page)) {
        console.log("page : "+page)
        loaded_pages.unshift(page)
        scrollTo(0, pageBottom + 10);
        xml_request(`${item}/${service_id}`, page, service_hitsory,  insert_elements, null);
        $('#loading_animation').css('display','block');
    }
});

//window.register_callback = register_callback;
//register_callback();
</script>