<div class="service_show_zone">
    <div class="main_header">
        <%= link_to "", user_homes_path, class:"fas fa-home"%>
         > <%= link_to "#{Service.model_name.human}一覧", user_services_path, class:"main_area_top_link"%>
         > <%= link_to @service.category_names, user_services_path(categories: @service.category.name), class:"main_area_top_link"%>
         > <%= @service.title%>
    </div>
    <div class="service_left_area">
        <%if @transaction %>
            <%= render 'user/shared/common_label', text: '質問', language: 'ja' %>
            <%= render "user/requests/cell", request:@transaction.request %>
            <%= render 'user/shared/common_label', text: '相談室', language: 'ja' %>
        <% end %>
        <div class="service_area">
            <div class="service_flame">
                <div class="service_title_area">
                    <h3 class="service_title"><%=@service.title%></h3>
                </div>
                <div class="common_score_area">
                    <div class='score_area_left'>
                        <span class="score_info"><label>評価</label>&nbsp;<%= render "user/shared/star_display", model: @service %></span>
                        <span class="score_info"><label>回答数</label>&nbsp;<%= @service.transactions.where(is_published: true).count %>件</span>
                        <%if @service.user == current_user%>
                            <span class="score_info"><label>いいね</label>&nbsp;<%= @service.total_likes %>件</span>
                        <% end %>
                    </div>
                    <div class='score_area_right'>
                        <% if @service.user == current_user%>
                            <div class="edit_delete_area">
                                <%= link_to "削除", user_service_path(@service.id), method: "delete", class:"delete", data: {confirm: "相談室を削除しますか？"}  %>｜
                                <%if @service.is_inclusive%>
                                    <%= link_to "編集", edit_user_service_path(@service.id), class:"edit" %>
                                <% else %>
                                    <%= link_to "編集", edit_user_service_path(@service.id, request_id:@service.requests.first.id), class:"edit" %>
                                <% end %>
                            </div>
                        <% else %>
                            <%= link_to(user_service_likes_path(id: @service.id), class: "like_button #{@service.liked_class(current_user)}", id:"like_button", method: :post, remote:true) do%>
                                <span class="fas fa-heart" ></span>&nbsp;お気に入り　　<span id="like_count"><%=@service.total_likes%></span>&nbsp;
                            <% end %>
                            <script>
                                <%= render "user/services/javascript/like.js.erb" %>
                            </script>
                        <% end %>
                    </div>
                </div>
                <div class="condition_label">
                    <%= render "user/shared/small_label", text:"条件"%>
                </div>
                <table class="common_condition_area">
                    <tr>
                        <td class="user_info_name">
                            <span class="condition_name">料金</span>
                        </td>
                        <td>
                            <span class="common_condition"><%=@service.price%>円</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="user_info_name">
                            <span class="condition_name">質問から回答まで</span>
                        </td>
                        <td>
                            <span class="common_condition"><%=@service.delivery_days%>日以内</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="user_info_name">
                            <span class="condition_name"><%= Service.human_attribute_name(:delivery_form) %></span>
                        </td>
                        <td>
                            <span class="common_condition"><%=@service.delivery_form.japanese_name%></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="user_info_name">
                            <span class="condition_name"><%= Service.human_attribute_name(:request_form) %></span>
                            </td>
                        <td>
                            <span class="common_condition"><%=@service.request_form.japanese_name%></span>
                        </td>
                    </tr>
                    <%if @service.is_inclusive %>
                        <tr>
                            <td class="user_info_name">
                                <span class="condition_name">質問の字数</span>
                                </td>
                            <td>
                                <span class="common_condition">
                                    <% if @service.request_max_characters %>
                                        <%="#{@service.request_max_characters}字以内"%>
                                    <% else %>
                                        <span class="ok">制限なし</span>
                                    <% end %>
                                </span>
                            </td>
                        </tr>
                        <%if @service.request_form.name == "video" %>
                        <tr>
                            <td class="user_info_name">
                                <span class="condition_name"><%= Service.human_attribute_name(:request_max_minutes)%></span>
                                </td>
                            <td>
                                <span class="common_condition"><%=@service.request_max_minutes%>分</span>
                            </td>
                        </tr>
                        <% end %>
                    <% end %>
                    <tr>
                        <td class="user_info_name">
                            <span class="condition_name">カテゴリー</span>
                        </td>
                        <td>
                            <span class="common_condition">
                                <% @service.categories.each do |category| %>
                                    <%= link_to category.japanese_name, user_services_path(categories: category.name), class:"big_name_tag" %>
                                <% end %>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="user_info_name">
                            <span class="condition_name">購入前の質問</span>
                        </td>
                        <td>
                            <span class="common_condition">
                            <%if @service.allow_pre_purchase_inquiry%>
                            <span class="ok">可能</span>
                            <% else %>
                            <span class="not_ok">不可</span>
                            <% end %></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="user_info_name">
                            <span class="condition_name">受付状況</span>
                        </td>
                        <td>
                            <span class="common_condition">
                            <%if @service.is_for_sale%>
                            <span class="ok">販売中</span>
                            <% else %>
                            <span class="not_ok">販売停止</span>
                            <% end %>
                            </span>
                        </td>
                    </tr>
                    <%if @service.user == current_user%>
                    <tr>
                        <td class="user_info_name">
                            <span class="condition_name">公開状況</span>
                        </td>
                        <td>
                            <span class="common_condition">
                            <%if @service.is_published%>
                            <span class="ok">公開中</span>
                            <% else %>
                            <span class="not_ok">非公開</span>
                            <% end %></span>
                        </td>
                    </tr>
                    <% end %>
                    <tr>
                        <td class="user_info_name">
                            <span class="condition_name">追加質問</span>
                        </td>
                        <td>
                            <span class="common_condition">
                            <%if @service.transaction_message_enabled%>
                            <span class="ok">可能</span>
                            <% else %>
                            <span class="not_ok">不可</span>
                            <% end %></span>
                        </td>
                    </tr>
                </table>
                <div class="service_image_area">
                    <% if @service.item&.file_is_image? %>
                        <%=image_tag @service.item.normal_file_with_default, class:"service_image #{@service.item.normal_style_class}",id:"service_image"%>
                    <% end %>
                </div>
                <div class="service_detail_area">
                <%= render "user/shared/small_label", text: Service.human_attribute_name(:description) %>
                    <p class="service_detail"><%=@service.description%></p>
                </div>
                <div class="user_label">
                    <%= render "user/shared/small_label", text:"回答者"%>
                </div>
                <div class="user_area">
                    <%=image_tag @service.user.thumb_with_default, class:"user_image"%>
                    <div class="right_side">
                        <%= link_to(user_account_path(@service.user.id), class:"user_name") do %>
                            <%=@service.user.name%>
                        <% end %>
                        <div class="specifics_area">
                            <span class="specific">
                                <label>評価</label>
                                <%= render "user/shared/average_star_rating", 
                                average_star_rating: @service.user.average_star_rating, 
                                total_reviews: @service.user.total_reviews %>
                            </span>
                            <span class="specific">
                                <label>価格帯</label>
                                <%= render "user/accounts/service_price_range", user: @service.user%>
                            </span>
                            <span class="specific">
                                <label>回答数</label>
                                <%=@service.user.total_sales_numbers%><span class="unit">件</span>
                            </span>
                        </div>
                    </div>
                </div>
                <!--
                <%if can_purchase %>
                    <div class="transaction_button_area">
                        <%=
                        if @transaction&.is_suggestion
                            link_to "購入する", user_request_purchase_path(transaction_id:@transaction.id),method: :post, data: { confirm: "購入しますか？"} ,class:"transaction_button"
                        else
                            link_to(new_user_request_path(service_id:@service.id), class:"transaction_button") do
                                "質問を投稿する"
                            end
                        end
                        %>
                    </div>
                <% end %>
                -->
                <% if @transaction&.suggestion_buyable(current_user) %>
                    <%= render "user/payments/price_table" %>
                    <div class="transaction_button_area">
        	            <div class="open_button transaction_button">購入前に質問</div>
                    </div>
                <% end %>
                <%= render "/user/shared/small_share_buttons"%>
            </div>
            <% if !@service.request.present?%>
                <%= render "user/shared/common_navigation_bar", link: ->(element) {user_service_path(params[:id], nav_item:element[:item])} %>
            <% end %>
        </div>
        <div class="service_hitsory" id="updated_by_ajax">
            <%=
                case current_nav_item
                when 'transactions'
                    render partial: 'user/transactions/answer', collection: @models, as: :transaction
                when 'requests'
                    render partial: 'user/requests/cell', collection: @models, as: :request
                when 'reviews'
                    render partial: 'user/reviews/cell', collection: @models, as: :transaction
                end
            %>
        </div>
	    <%= render "user/shared/loading_animation" %>
    </div>
    <%= render "user/accounts/profile", user: @service.user, relationship:@relationship%>
</div>
<%= render "user/services/bottom_area" do %>
    <% if @transaction&.suggestion_buyable(current_user) %>
	    <%if @deficient_point && @deficient_point > 0 %>
	    	<div class="bottom_button transaction_button" id="payment_modal_button">購入</div>
	    	<script>
	    	$('#payment_modal_button').on('click',function() {
	    	  	$('.payment_modal').addClass('open');
	    	});
	    	</script>
        <% else %>
            <%= link_to "購入", user_request_purchase_path(transaction_id: @transaction.id), method: :post, data: { confirm: "購入しますか？" }, class: "bottom_button transaction_button" %>
        <% end %>
    <% elsif !@transaction&.is_suggestion %>
        <%= link_to new_user_request_path(service_id: @service.id), class: "bottom_button transaction_button" do %>
            質問を作成
        <% end %>
    <% end %>
<% end %>
<% if @transaction&.suggestion_buyable(current_user) %>
<%= render "user/pre_purchase_inquiries/modal", transaction: @transaction %>
<script>
pre_inquery_modal = $('.pre_inquery_modal');
modal = $('.modal_window');
$('.open_button').on('click', function(){
	pre_inquery_modal.addClass("open");
});
$('.modal_delete').on('click', function(){
    modal.removeClass("open");
  });
$('.modal_background').on('click', function(e){
    modal.removeClass('open');
});
</script>
<% end %>
<script>
<%= render "user/requests/javascript/cell.js.erb" %>
<%=%>
function register_callback() {
  $("#request_ajax_update").on(
      "ajax:complete",
      function(event) {
        var res = event.detail[0].response
        $('#updated_by_ajax').html(res)
        console.log(res)
        console.log("register")
      }
  );
}
$("#request_ajax_update")[0].addEventListener('ajax:error', function(event) {
  // 失敗時の処理
  console.log("受信できません。")
  notify_for_seconds("受信できません。");
});

var menu_element = document.getElementsByClassName('menu_element');
var service_hitsory = document.getElementsByClassName("service_hitsory")[0]
var menu_elements = Array.from(menu_element)
var paths = ["transactions","requests","reviews"]
var bar_elements = <%=raw @bar_elements.to_json %><%=%>
var item = "<%=current_nav_item%>"
var service_id = <%= @service.id %><%=%>
var loaded_pages  = []

$(".search_detail").css("display","none")
console.log("params")

function item_to_page(name){
  return bar_elements.find(
    ({element}) => item == name
  ).page
}

function update_menu_color(element){
    $('.menu_element').addClass('gray');
    $('.menu_element').removeClass('blue');
    //何度か要素を選択するとなぜか他の場所の色が変わる
    //element.classList.remove('gray');
    //element.classList.add('blue');
}
//横スクロールメニューの要素が押された時
menu_elements.forEach(element => element.addEventListener("click", ()=>{
    //$('#loading_animation').css('display','block');
    $('#updated_by_ajax').empty();
    update_menu_color(element);
    item = element.getAttribute('item');
    var loaded_element_count = service_hitsory.childElementCount+1; //現在取得済みの要素数
    //繰り上げ（現在取得済みの要素数 / 取得するページの要素数）＋１
    page = Math.ceil(loaded_element_count/item_to_page(item)) + 1;
    }
));

var insert_elements = function(response, scroll_element){
    scroll_element.insertAdjacentHTML('beforeend', response)
    $('#loading_animation').css('display','none');
    define_request_cell_swiper();
}

//スクロールをした判定
$(window).on('scroll', function(){
    var service_hitsory = document.getElementsByClassName("service_hitsory")[0]
    var token = document.getElementsByName("csrf-token")[0].content;
    var docHeight = $(document).innerHeight(), //ドキュメントの高さ
    windowHeight = $(window).innerHeight(), //ウィンドウの高さ
    pageBottom = docHeight - windowHeight - 0.5; //ドキュメントの高さ - ウィンドウの高さ
    if(service_hitsory == null || service_hitsory == ""){return;};
    page = Math.ceil(service_hitsory.childElementCount/item_to_page(item))+1
    
    //ウィンドウの一番下までスクロールした時 && スクロール位置が変化した
    if(check_scroll() && !loaded_pages.includes(page)) {
        console.log("page : "+page)
        loaded_pages.unshift(page)
        scrollTo(0, pageBottom + 10);
        xml_request(`${item}/${service_id}`, page, service_hitsory,  insert_elements, null);
        $('#loading_animation').css('display','block');
    }
});

//window.register_callback = register_callback;
//register_callback();
</script>