<div class="service_show_zone">
    <p class="main_header one_line_text"><%= link_to "", user_transactions_path, class:"fas fa-home"%> > <%= link_to "#{Service.model_name.human}一覧", user_services_path, class:"main_area_top_link"%> > <%= @service.category.japanese_name%></p>
    <div class="service_left_area">
        <div class="service_area">
            <div class="service_flame">
                <div class="service_title_area">
                    <h3 class="service_title"><%=@service.title%></h3>
                </div>
                <% if @service.user == current_user%>
                    <div class="edit_delete_area">
                        <%if @service.is_inclusive%>
                            <%= link_to "編集", edit_user_service_path(@service.id), class:"edit" %>
                        <% else %>
                            <%= link_to "編集", edit_user_service_path(@service.id, request_id:@service.requests.first.id), class:"edit" %>
                        <% end %>
                        <%= link_to "削除", user_service_path(@service.id), method: "delete", class:"delete", data: {confirm: "サービスを削除しますか？。"}  %>
                    </div>
                <% end %>
                <table class="service_condition_area">
                    <tr>
                        <td class="label_icon">
                        <span class="far fa-calendar-alt"></span>
                        </td>
                        <td class="user_info_name">
                            <span class="condition_name">購入から納品まで</span>
                        </td>
                        <td>
                            <span class="service_condition"><%=@service.delivery_days%>日以内</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="label_icon">
                        <span class="fas fa-chalkboard-teacher"></span>
                        </td>
                        <td class="user_info_name">
                            <span class="condition_name"><%= Service.human_attribute_name(:delivery_form) %></span>
                        </td>
                        <td>
                            <span class="service_condition"><%=@service.delivery_form.japanese_name%></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="label_icon">
                        <span class="fas fa-question"></span>
                        </td>
                        <td class="user_info_name">
                            <span class="condition_name"><%= Service.human_attribute_name(:request_form) %></span>
                            </td>
                        <td>
                            <span class="service_condition"><%=@service.request_form.japanese_name%></span>
                        </td>
                    </tr>
                    <%if @service.is_inclusive%>
                        <tr>
                            <td class="label_icon">
                            <span class="fas fa-pen"></span>
                            </td>
                            <td class="user_info_name">
                                <span class="condition_name"><%= Service.human_attribute_name(:request_max_characters)%></span>
                                </td>
                            <td>
                                <span class="service_condition"><%=@service.request_max_characters%>字</span>
                            </td>
                        </tr>
                        <%if @service.request_form.name == "video" %>
                        <tr>
                            <td class="label_icon">
                            <span class="far fa-file-video"></span>
                            </td>
                            <td class="user_info_name">
                                <span class="condition_name"><%= Service.human_attribute_name(:request_max_minutes)%></span>
                                </td>
                            <td>
                                <span class="service_condition"><%=@service.request_max_minutes%>分</span>
                            </td>
                        </tr>
                        <% end %>
                    <% end %>
                    <tr>
                        <td class="label_icon">
                        <span class="fas fa-yen-sign"></span>
                        </td>
                        <td class="user_info_name">
                            <span class="condition_name">料金</span>
                        </td>
                        <td>
                            <span class="service_condition"><%=@service.price%>円</span>
                        </td>
                    </tr>
                    <%if @service.stock_quantity != nil %>
                    <tr>
                        <td class="label_icon">
                        <span class="fas fa-boxes"></span>
                        </td>
                        <td class="user_info_name">
                            <span class="condition_name">残り</span>
                        </td>
                        <td>
                            <span class="service_condition"><%=@service.stock_quantity%>/<%=sales_number(@service)%></span>
                        </td>
                    </tr>
                    <% end %>
                    <tr>
                        <td class="label_icon">
                        <span class="fas fa-sitemap"></span>
                        </td>
                        <td class="user_info_name">
                            <span class="condition_name">カテゴリー</span>
                        </td>
                        <td>
                            <span class="service_condition"><%=@service.category.japanese_name%></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="label_icon">
                        <span class="far fa-comment-alt"></span>
                        </td>
                        <td class="user_info_name">
                            <span class="condition_name">追加質問受付期間</span>
                        </td>
                        <td>
                            <span class="service_condition">
                            <%if @service.transaction_message_days == 0%>
                            <%=@service.transaction_message_days%>日（追加質問不可）
                            <% else %>
                            <%=@service.transaction_message_days%>日
                            <% end %></span>
                        </td>
                    </tr>
                </table>
                <div class="service_image_area">
                    <%if @service.image.url == nil%>
                        <%#=image_tag "/corretech_large_icon.png", class:"service_image"%>
                    <% else %>
                        <%=image_tag @service.image_url, class:"service_image",id:"service_image"%>
                    <% end %>
                </div>
                <div class="service_detail_area">
                    <h3 class="service_detail_name">サービス内容</h3>
                    <p class="service_detail"><%=@service.description%></p>
                </div>
                <%if can_purchase %>
                    <div class="transaction_button_area">
                        <%=link_to "購入", new_user_request_path(service_id:@service.id), class:"transaction_button"%>
                    </div>
                <% end %>
                <%= render "/user/shared/share_twitter"%>
            </div>
            <% if !@service.request.present?%>
            <div class="service_info_menu" id="request_ajax_update">
                <li class="menu_element"><%= link_to "回答", user_service_transactions_path(@service.id), remote: true, class:"user_content_link user_transactions_link"%></li>
                <li class="menu_element"><%= link_to "依頼", user_service_requests_path(@service.id), remote: true, class:"user_content_link user_requests_link"%></li>
                <li class="menu_element"><%= link_to "レビュー", user_service_reviews_path(@service.id), remote: true, class:"user_content_link user_reviews_link"%></li>
            </div>
            <% end %>
        </div>
        <%if false #@service.requests.present?%>
        <h3 class="zone_title">依頼</h3>
            <% @service.requests.each do |request| %>
            <%= render "user/requests/cell", request:request %>
            <% end %>
        <% end %>
        <div class="service_hitsory" id="updated_by_ajax">
            <% @transactions.each do |transaction|%>
                <%= render "user/transactions/cell", content:transaction %>
            <% end %>
        </div>
    </div>
        <%= render "user/accounts/profile", user: @service.user, relationship:@relationship%>
</div>
<%= javascript_pack_tag javascript_path %>