<div class="request_show_zone">
<p class="main_header one_line_text"><%= link_to "", sample_transactions_path, class:"fas fa-home"%> > <%= link_to "依頼一覧", sample_requests_path, class:"main_area_top_link"%> > <%=@request.title%></p>
    <div class="request_area">
        <div class="request_flame">
            <div class="request_title_area">
                <h3 class="request_title">
                    <%=@request.title%>
                </h3>
            </div>
            <%if request_completed%>
                <div><span class="request_alert">取引が完了しました</span></div>
            <% elsif @request.suggestion_deadline %>
                <%if @request.suggestion_deadline < DateTime.now%>
                    <div><span class="request_alert">募集が締め切られました</span></div>
                <% end %>
            <% end %>
            <%#if @request.is_rejected %>
                <!--<div><span class="request_alert">対応をお断りされています</span></div>-->
            <%# end %>
            <%if Transaction.find_by(request_id: @request.id) %>
                <%if Transaction.find_by(request_id: @request.id).is_canceled %>
                    <div><span class="request_alert">中断されています</span></div>
                <% end %>
            <% end %>
            <% if @request.user == current_user && !Transaction.exists?(request_id:params[:id]) %>
                <div class="edit_delete_area">
                    <%= link_to "削除", user_request_path(@request.id), method: "delete", class:"delete button", data: {confirm: "依頼を削除しますか？。"} %>
                </div>
            <% end %>
            <table class="request_condition_area">
                <tr>
                    <td class="label_icon">
                    <span class="fas fa-yen-sign"></span>
                    </td>
                    <td class="condition_label">
                        <% if @request.services == [] %>
                            <span class="condition_name ">予算</span>
                        <% else %>
                            <span class="condition_name ">料金</span>
                        <% end %>
                    </td>
                    <td>
                        <span class="request_condition"><%=@request.max_price%>円</span>
                    </td>
                </tr>
                <% if @request.services == [] %>
                <tr>
                    <td class="label_icon">
                    <span class="far fa-calendar-alt"></span>
                    </td>
                    <td class="condition_label">
                        <span class="condition_name ">期限</span>
                    </td>
                    <td>
                        <span class="request_condition"><%=from_now(@request.suggestion_deadline)%>（<%=@request.suggestion_deadline.strftime("%Y %m/%d %H:%m")%>まで）</span>
                    </td>
                </tr>
                <% end %>
                <tr>
                    <td class="label_icon">
                    <span class="fas fa-file-download"></span>
                    </td>
                    <td class="condition_label">
                        <span class="condition_name ">質問形式</span>
                    </td>
                    <td>
                        <span class="request_condition"><%=@request.request_form.japanese_name%></span>
                    </td>
                </tr>
                <tr>
                    <td class="label_icon">
                    <span class="fas fa-file-upload"></span>
                    </td>
                    <td class="condition_label">
                        <span class="condition_name ">回答形式</span>
                    </td>
                    <td>
                        <span class="request_condition"><%=@request.delivery_form.japanese_name%></span>
                    </td>
                </tr>
                <% if @request.services == [] %>
                <tr>
                    <td class="label_icon">
                    <span class="far fa-hand-paper"></span>
                    </td>
                    <td class="condition_label">
                        <span class="condition_name ">提案数</span>
                    </td>
                    <td>
                        <span class="request_condition"><%=Service.left_joins(:transactions).where(transactions:{request:@request, is_suggestion:true }).count%>件</span>
                    </td>
                </tr>
                <% end %>
                <tr>
                    <td class="label_icon">
                    <span class="fas fa-sitemap"></span>
                    </td>
                    <td class="condition_label">
                        <span class="condition_name ">カテゴリー</span>
                    </td>
                    <td>
                        <span class="request_condition"><%=Category.find_by(name:"business").japanese_name%></span>
                    </td>
                </tr>
            </table>
            <div class="request_detail">
                <h4>相談したい内容</h4>
                <div class="request_detail_content" id="request_detail_content">
                    <p id="request_detail_text" class="request_detail_text"><%=@request.description%></p>
                </div>
            </div>
            <div class="item_area">
                <%if @request.use_youtube%>
                    <iframe class="youtube_video 16_to_9" src="https://www.youtube.com/embed/<%=@request.youtube_id%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <% elsif @request.file.url != nil %>
                    <% if @request.request_form.name == "image" || @request.request_form.name == "text"%>
                        <%= image_tag @request.file.url, class:"image"%>
                    <% elsif @request.request_form.name == "video" %>
                        <%= video_tag @request.file.url,poster:@request.thumbnail.url, class:"image", controls: true, autobuffer: true%>
                    <% end %>
                <% end %>
                <%=image_tag "https://corretech0625.s3.amazonaws.com/uploads/request/file/1/description_image202301222712.png", class:"image"%>
            </div>
            <%if  @request.suggestion_deadline %>
            <%if user_signed_in? && @request.suggestion_deadline > DateTime.now %>
                <% if @request.services == [] && @request.user != current_user %>
                    <div class="suggest_button_area">
                        <%=link_to "提案", new_user_service_path(request_id:@request.id), class:"suggest_button"%>
                    </div>
                <% end %>
            <% end %>
            <% end %>

            <%if user_signed_in? && current_user.can_respond_order(@request) %>
                <div class="suggest_button_area" >
                    <%=link_to "対応", user_order_path(@request.transactions.first.id), class:"suggest_button" %>
                </div>
            <% end %>
        </div>
        <%@request.transactions.each do |transaction| %>
            <% if transaction.is_rejected && @request.user == current_user %>
                <h3 class="reject_title zone_title">依頼が断られた理由</h3>
                <div class="component_area">
                    <%=transaction.reject_reason%>
                    <div>
                    <%=link_to transaction.seller.name, sample_account_path(transaction.seller.id)%>
                    </div>
                </div>
            <% end %>
        <% end %>
        <% if Transaction.exists?(request_id: @request.id, is_delivered:true) %>
            <h3 class="suggest_title zone_title">納品</h3>
            <%= render "user/transactions/cell", content:Transaction.find_by(request_id: @request.id, is_delivered:true) %>
        <% end %>
</div>
    <%= render "sample/accounts/profile", user: @request.user, relationship:@relationship %>
</div>