<%request.set_item_values%>
<div class="request_cell_area">
    <div class="request_cell_flame">
        <div class="request_title">
            <h3>
                <%= link_to(user_request_path(request.id), class: 'request_link') do %>
                    <%=request.title%>
                <% end %>
            </h3>
            <% request.categories.each do |category| %>
                <label class="name_tag"><%= category.japanese_name%></label>
            <% end %>
            </br>
            <% if request.suggestion_deadline%>
            <span class="user_deadline">
                <% if request.suggestion_deadline < DateTime.now %>
                    <span class="deadline over"><%=from_now(request.suggestion_deadline)%></span>
                <% elsif (request.suggestion_deadline.to_datetime - DateTime.now).to_f < 1 %>
                    <span class="deadline soon"><%=from_now(request.suggestion_deadline)%></span>
                <% else %>
                    <span class="deadline ongoing"><%=from_now(request.suggestion_deadline)%></span>
                <% end %>
                &nbsp;by <%= link_to request.user.name, user_account_path(request.user.id) %>
                <!--
                &nbsp;by <%= link_to request.user.name, user_account_path(request.user.id) %>
                -->
            </span>
            <% end %>
        </div>
        <% if request.has_text_image || request.items.blank? %>
            <div class="request_condition_area">
                <div class="request_condition_block"><span class="request_condition_title">予算</span>&nbsp;<span class="content"><%=request.max_price%>円</span>　</div>
                <div class="request_condition_block"><span class="request_condition_title">提案数</span>&nbsp;<span class="content"><%=request.total_services%>件</span>　</div>
                <div class="request_condition_block"><span class="request_condition_title"><%=Transaction.human_attribute_name(:delivery_form) %></span>&nbsp;<span class="content"><%=forms_japanese_hash.key(request.delivery_form_name)%></span>　</div>
            </div>
        <% end %>
        <% if request.has_pure_image %>
            <div class="item_area">
                <%= render "user/shared/swiper_images", model: request, use_thumb:true %>
            </div>
            <div class="request_condition_area vertical_condition_area">
                <table>
                    <tr>
                        <td class="request_condition_block"><span class="request_condition_title">予算</span></td>
                        <td>&nbsp;<%=request.max_price%>円</td>
                    </tr>
                    <tr>
                        <td class="request_condition_block"><span class="request_condition_title">提案数</span></td>
                        <td>&nbsp;<%=request.total_services%>件</td>
                    </tr>
                    <tr>
                        <td class="request_condition_block"><span class="request_condition_title"><%=Transaction.human_attribute_name(:delivery_form) %></span></td>
                        <td>&nbsp;<%=forms_japanese_hash.key(request.delivery_form_name)%></td>
                    </tr>
                </table>
            </div>
            <div class="request_condition_area horizontal_condition_area">
                <div class="request_condition_block"><span class="request_condition_title">予算</span>&nbsp;<span class="content"><%=request.max_price%>円</span>　</div>
                <div class="request_condition_block"><span class="request_condition_title">提案数</span>&nbsp;<span class="content"><%=request.total_services%>件</span>　</div>
                <div class="request_condition_block"><span class="request_condition_title"><%=Transaction.human_attribute_name(:delivery_form) %></span>&nbsp;<span class="content"><%=forms_japanese_hash.key(request.delivery_form_name)%></span>　</div>
            </div>
        <% end %>
        <%= render "/user/shared/description", text:request%>
    </div>
</div>
