<%if @service_exist %>
  <h2 class="service_new_title"><%=@service.user.name%>さんのサービスを購入</h2>
  <%= render "user/services/suggestion_cell", service:@service%>
  <h2 class="service_new_title">依頼内容</h2>
<% else %>
  <h2 class="service_new_title">依頼を編集</h2>
<% end %>
<%= render "user/shared/error_message", model: @request%>
<%= render "user/shared/error_message", model: @request_item%>
<div class="service_new_zone">
    <div class="service_new_area input_area">
    <%= form_with model: @request, url:user_request_path, method:"PUT" do |f| %>
      
        <div class="field_area">
          <%= f.label :title, class:"field_label"%>（最大<%=@request.title_max_length %>字）<br/>
          <%= f.text_field :title, maxlength:@request.title_max_length, autofocus: true, autocomplete: "name", class:"input_field text_field" ,required: true%>
        </div>
      
        <div class="field_area">
        <%= f.label :description, class:"field_label" %><%=render "user/shared/total_characters_display"%></span><br />
          <%= f.text_area :description, autocomplete: "new-password", class:"input_field text_area" ,required: true%>
        </div>

        <div class="field_area">
          <%= f.label :category, class:"field_label" %><br />
          <%if @service_exist %>
            <h3 class="request_content"><%=@service.category.japanese_name%></h3>
            <%= f.hidden_field :category, value: @service.category %>
          <% else %>
            <%= f.select :category, category_select_hash, autocomplete: "select_input", class:"input_field" ,required: true%>
          <% end %>
        </div>

        <div class="field_area">
          <%= f.label :request_form, class:"field_label" %><br />
          <%if @service_exist %>
            <h3 class="request_content"><%=@service.request_form.japanese_name%></h3>
          <% else %>
            <%= f.select :request_form_id, {"文章": 1, "動画": 3, "画像": 2}, id:"request_form_field", autocomplete: "select_input", class:"input_field" %>
          <% end %>
        </div>

        
          <div class="image_video_field_area" id="image_video_field_area">
            <div id="youtube_area">
              <div class="field_area" id="youtube_check_field_area">
                <%= f.label :use_youtube, class:"field_label"%><br />
                <%= f.check_box :use_youtube, class:"input_field check_box", id:"youtube_check_box" %><span>    YouTubeにアップロードした動画を使う</span>
              </div>
      
              <div class="field_area" id="youtube_id_field_area">
                <%= f.label :youtube_id, class:"field_label"%><br />
                <%= f.text_field :youtube_id, autofocus: true, autocomplete: "name", class:"input_field text_field", id:"youtube_id_field" %>
                <div>※YouTube動画のIDとは動画のURLの「https://www.youtube.com/watch?v=」の後に続く11字の文字列です。</div>
                <iframe class="youtube_video" id="youtube_video" src="https://www.youtube.com/embed/<%=@request.youtube_id%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
            <div class="field_area" id="file_field_area">
              <%= f.label :file, class:"field_label" %><br />
              <%= f.hidden_field :file_duration, id:"file_duration" %>
              <%= f.file_field :file, autocomplete: "file", class:"input_field",id:"file_input"%>
              <video id="video_display" style="width:100%"controls></video>
              <div class="file_discription" id="file_discription"></div>
              <div class="file_alarm" id="file_alarm"></div>
            </div>
            <div class="field_area" id="file_field_area">
              <%##= f.label :thumbnail, class:"field_label" %><br />
                <%= f.file_field :thumbnail, autocomplete: "file", class:"input_field display_none",id:"thumbnail"%>
                <div class="display_none">フォーマットはjpg,jpeg,pngのみです。</div>
                <canvas id="canvas" class="display_none"></canvas>
                <div class="imgArea"></div>
            </div>
          </div>

        <div class="field_area">
          <%= f.label :delivery_form, class:"field_label" %><br />
          <%if @service_exist %>
            <h3 class="request_content"><%=@service.delivery_form.japanese_name%></h3>
            <%= f.hidden_field :delivery_form, value: @service.delivery_form%>
          <% else %>
            <%= f.select :delivery_form, {"動画": "video", "画像": "image", "文章": "text"}, autocomplete: "select_input", class:"input_field" %>
          <% end %>
        </div>

        <div class="field_area">
          <%if @service_exist %>
            <%= f.label :price, class:"field_label"%><br/>
            <h3 class="request_content"><%=@service.price%>円</h3>
            <%= f.hidden_field :price, value: @service.price %>
          <% else %>
            <%= f.label :max_price, class:"field_label"%>（最低100円）<br/>
            <%= f.number_field :max_price, type:"number", min:"100", placeholder:"円（100円単位）", step:"100",  class:"max_price_field" ,required: true%>
          <% end %>
        </div>

        <%if !@service_exist %>
        <div class="field_area">
          <%= f.label :delivery_days, class:"field_label"%><br/>
          <%= f.number_field :delivery_days, type:"number", min:"0", placeholder:"日", step:"1",  class:"delivery_days_field" ,required: true%>
          <div id="delivery_date" class="delivery_date"></div>
        </div>
        <%end%>

        <%if @service_exist %>
          <%= f.hidden_field :service_id, value: @service.id%>
        <% end %>

        <div class="submit_area">
          <%if @transaction %>
          <%= link_to "戻る", user_request_preview_path(@request.id, transaction_id:@transaction.id) ,class:"submit edit_link", id:"edit_link"%>
          <% else %>
          <%= link_to "戻る", user_request_preview_path(@request.id) ,class:"submit edit_link", id:"edit_link"%>
          <% end %>
        </div></br>

        <div class="submit_area">
          <%= f.submit "保存", class:"submit", id:"submit"%>
        </div>
      <% end %>
    </div>
</div>
<%= javascript_pack_tag "user/requests/set_youtube_form" %>
<%= javascript_pack_tag "user/requests/check_extension" %>
<%= javascript_pack_tag "user/requests/set_video_image" %>
<%= javascript_pack_tag "user/requests/set_file_form" %>
<%= javascript_pack_tag "user/requests/convert_double_digit" %>
<%= javascript_pack_tag "user/requests/controll_form" %>