<div class="request_index_zone">
    <%if current_state == "register" %>
        <%= render "user/shared/state_register_alert" %>
    <%else%>
        <div class="main_header"><%= link_to "", user_transactions_path, class:"fas fa-home"%> > 質問一覧 <%= paginate @requests %></div>
        <div class="request_index_flame request_cell_flame">
            <% @requests.each do |request|%>
                <%= render "user/requests/cell", request:request%>
            <% end %>
        </div>
        <div class="main_bottom"><%= paginate @requests %></div>
    <% end %>
</div>
<script>
set_search_detail();
//content.options[0].selected = false;
//content.options[1].selected = true;
</script>