<%if @service.present? %>
  <h2 class="request_new_title"><%=@service.user.name%>さんのサービスを購入</h2>
  <%= render "user/services/suggestion_cell", service:@service%>
  <h2 class="request_new_title">依頼内容</h2>
<% else %>
  <h2 class="request_new_title">質問を新規作成</h2>
<% end %>
<%= render "user/shared/error_message", model: @request%>
<%= render "user/shared/error_message", model: @transaction%>
<%= render "user/shared/error_message", model: @service%>
<%= render "user/shared/error_message", model: @request_item%>
<div class="request_new_zone">
  <div class="request_new_area input_area">
    <%= render "user/requests/form", request: @request, service: @service, method: 'post', path: user_requests_path, submit_text: "プレビュー"%>
  </div>
</div>