<%= render "user/shared/error_message", model: @request%>
<%= render "user/shared/error_message", model: @request_item %>
<%= render "user/shared/error_message", model: @transaction %>
<%= render "user/shared/error_message", model: @service%>
<%= render "user/shared/error_message", model: current_user%>
<%if @service_exist %>
  <h3 class="service_new_title"><%=@service.user.name%>へ質問を作成</h3>
  <% if @transaction.is_suggestion %>
    <%= render "user/services/suggestion_cell", service:@service, transaction: @transaction %>
  <% else %>
    <%= render "user/services/suggestion_cell", service:@service, transaction: nil %>
  <% end %>
  <h3 class="service_new_title">依頼内容</h3>
<% else %>
  <h3 class="service_new_title">質問のプレビュー</h3>
<% end %>
<div class="service_new_zone">
    <div class="service_new_area input_area">
    <%= form_with model: @request, url: @path, method:"post" do |f| %>
        <div class="field_area">
          <%= f.label :title, class:"field_label"%><br/>
          <h3 class="request_content"><%=@request.title %></h3>
        </div>
      
        <div class="field_area">
        <%= f.label :description, class:"field_label"%><br/>
          <h5 class="request_content"><%=@request.description %></h5>
        </div>

        <div class="field_area">
          <%= f.label :category, class:"field_label"%><br/>
          <h3 class="request_content"><%=@request.categories.map{|c| c.japanese_name }.join(',') %></h3>
        </div>

        <div class="field_area">
          <%= f.label :request_form, class:"field_label"%><br/>
          <h3 class="request_content"><%=@request.request_form.japanese_name%></h3>
        </div>

        <div class="video_field_area" id="video_field_area">
        <%= f.label :file, class:"field_label" %><br />
            <%if @request.use_youtube%>
                <div id="youtube_area">
                  <iframe class="youtube_video 16_to_9" src="https://www.youtube.com/embed/<%=@request.youtube_id%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            <% end %>
            <div class="field_area" id="file_field_area">
                <% if @request.request_form_name == "image" || @request.request_form_name == "free"%>
                  <% @request.items.each.with_index do |item, index| %>
                    <%= image_tag item&.file&.url, class:"image" if item.file.url && item.file.is_image? %>
                  <% end %>
                <% end %>
                <% if @request.request_form_name == "text" && @request.items %>
                  <% @request.items.each do |item|%>
                    <%= image_tag item.file.normal_size.url, class:"image"%>
                  <% end %>
                <% end %>
                <% if @request.need_text_image?%>
                  <span id="desctiption_to_image_text">文章を画像に変換中。変換が遅い場合はページをリロードしてください。</span>
                  <img id="description_image" class="description_image">
                <% end %>
                <% if @request.request_form_name == "video"%>
                  <%if @request.use_youtube%>
                  <% else %>
                    <%= video_tag @request.file.url, class:"image",id:"video_display", controls: true, autobuffer: true%>
                    <%= f.hidden_field :file_duration, id:"file_duration" %>
                  <% end %>
                <% end %>
            </div>
        </div>
        <%##= f.file_field  :thumbnail, id:"thumbnail_input" %>
        <div class="imgArea"></div>

        <div class="field_area">
          <%= f.label :delivery_form, class:"field_label" %><br /><h3 class="request_content"><%=@request.delivery_form.japanese_name%></h3>
        </div>

        <% if !@service_exist%>
        <div class="field_area">
            <%= f.label :max_price, class:"field_label"%><br/>
            <h3 class="request_content"><%=@request.max_price%>円</h3>
        </div>

        <div class="field_area">
          <%= f.label :delivery_days, class:"field_label"%><br/>
          <h3 class="request_content"><%=@request.delivery_days%>日</h3>
        </div>
        <% else %>
        <%= f.hidden_field :service_id, value: @service.id %>
        <% end %>

        <div class="submit_area">
          <%= link_to "編集", @edit_path,class:"submit edit_link", id:"edit_link"%>
        </div></br>

        <div class="submit_area">
          <%= f.file_field  :file, id:"file_input", class:"display_none" %>
          <%= f.hidden_field :accessed_at, value: DateTime.now%>
          <%= f.hidden_field :transaction_id %>
          <%= f.submit @submit_text, class:"submit", id:"submit", data: {confirm: "#{@submit_text}しますか？"}%>
        </div>
      <% end %>
    </div>
</div>
<%if @request.need_text_image? %>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<canvas id="canvas"></canvas>
<%= render "/user/images/description.html.erb", text:@request.description, image_width: 500%>
<script>
<%= render 'user/images/description.js.erb', text: @request.description, image_width: 500, user_name: current_user.name %>
</script>
<style>
<%= render 'user/images/description.css.erb', text: @request.description, image_width: 500%>
</style>
<script>
try{
  let isLoaded = false;
  window.addEventListener('load', (event) => {
    isLoaded = true;
    if(<%=@request.need_text_image?%>){
      create_description_image(); //
    }
  })
  // タイムアウトの設定
  const timeout = setTimeout(() => {
    if (!isLoaded) {
      location.reload();
      console.error("ページのロードがタイムアウトしました");
      // タイムアウト時の処理をここに追加
    }
  }, 3000); // 5秒のタイムアウト

  // タイムアウトをクリアするための処理
  window.addEventListener('unload', () => {
    //service/showからrequest/previeに遷移するWindowのロードに失敗する
    clearTimeout(timeout);
  });

  video_display = document.getElementById("video_display")
  if(video_display != null){
    video_display.addEventListener('loadeddata', function() {//フォームに値を代入
    $("#file_duration").val(Math.floor(this.duration))
    });
  }

  //create_description_imageでイメージが生成されない時の臨時処理としてリロードする処理
  function reload_description_image(){
      if($("#desctiption_to_image_text").css("display") == "none"){
      }else{
          window.location.reload();
      }
  }
  if("<%=@request.request_form_name%>" == "text"){
      //window.setTimeout(reload_description_image, 5000);
  }
}catch(e){
  console.log(`エラー：${e}`)
  window.location.reload();
}
</script>
<% end %>