<%= render "user/shared/error_message", model: @request%>
<%= render "user/shared/error_message", model: @request_item %>
<%= render "user/shared/error_message", model: @transaction %>
<%= render "user/shared/error_message", model: @service%>
<%= render "user/shared/error_message", model: current_user%>
<%if @service_exist %>
  <h2 class="service_new_title"><%=@service.user.name%>さんのサービスを購入</h2>
  <%= render "user/services/suggestion_cell", service:@service%>
  <h2 class="service_new_title">依頼内容</h2>
<% else %>
  <h2 class="service_new_title">依頼を新規作成</h2>
<% end %>
<div class="service_new_zone">
    <div class="service_new_area input_area">
    <%= form_with model: @request, url: @path, method:"post" do |f| %>
        <div class="field_area">
          <%= f.label :title, class:"field_label"%><br/>
          <h3 class="request_content"><%=@request.title %></h3>
        </div>
      
        <div class="field_area">
        <%= f.label :description, class:"field_label"%><br/>
          <h3 class="request_content"><%=@request.description %></h3>
        </div>

        <div class="field_area">
          <%= f.label :category, class:"field_label"%><br/>
          <h3 class="request_content"><%=@request.category.japanese_name%></h3>
        </div>

        <div class="field_area">
          <%= f.label :request_form, class:"field_label"%><br/>
          <h3 class="request_content"><%=@request.request_form.japanese_name%></h3>
        </div>

        <div class="video_field_area" id="video_field_area">
        <% if @request.request_form.name != "image" %>
        <%= f.label :file, class:"field_label" %><br />
            <%if @request.use_youtube%>
                <div id="youtube_area">
                  <iframe class="youtube_video 16_to_9" src="https://www.youtube.com/embed/<%=@request.youtube_id%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            <% end %>
            <div class="field_area" id="file_field_area">
                <% if @request.request_form.name == "image"%>
                  <%= image_tag @request.file.url, class:"image"%>
                <% end %>
            </div>
        </div>
        <% end %>

        <div class="field_area">
          <%= f.label :delivery_form, class:"field_label" %><br /><h3 class="request_content"><%=@request.delivery_form.japanese_name%></h3>
        </div>

        <% if !@service_exist%>
        <div class="field_area">
            <%= f.label :max_price, class:"field_label"%><br/>
            <h3 class="request_content"><%=@request.max_price%>円</h3>
        </div>

        <div class="field_area">
          <%= f.label :suggestion_deadline, class:"field_label"%><br/>
          <h3 class="request_content"><%=readable_datetime(@request.suggestion_deadline)%></h3>
        </div>
        <% else %>
        <%= f.hidden_field :service_id, value: @service.id %>
        <% end %>

        <%if !@request_published %>
          <div class="submit_area">
            <%= link_to "編集", @edit_path,class:"submit edit_link", id:"edit_link"%>
          </div></br>
        <% end %>

        <div class="submit_area">
          <%= f.file_field  :file, id:"file_input", class:"display_none" %>
          <%= f.hidden_field :transaction_id %>
          <%= f.submit @submit_text, class:"submit", id:"submit", data: {confirm: "#{@submit_text}しますか？"}%>
        </div>
      <% end %>
    </div>
</div>