<%= render "user/shared/error_message", model: @request%>
<%= render "user/shared/error_message", model: @request_item %>
<%= render "user/shared/error_message", model: @transaction %>
<%= render "user/shared/error_message", model: @service%>
<%= render "user/shared/error_message", model: current_user%>
<%if @service %>
  <h3 class="service_new_title"><%=@service.user.name%>へ質問を作成</h3>
  <% if @transaction.is_suggestion %>
    <%= render "user/services/suggestion_cell", service:@service, transaction: @transaction %>
  <% else %>
    <%= render "user/services/suggestion_cell", service:@service, transaction: nil %>
  <% end %>
  <h3 class="service_new_title">質問・相談内容</h3>
<% else %>
  <h3 class="service_new_title">質問のプレビュー</h3>
<% end %>

<div class="request_preview_zone">
	<div class="service_new_zone">
	    <div class="service_new_area input_area">
	    	<%= form_with model: @request, url: user_request_publish_path, method:"post" do |f| %>
	    	    <div class="field_area">
	    	      	<%= f.label :title, class:"field_label"%><br/>
	    	      	<h3 class="request_content"><%=@request.title %></h3>
	    	    </div>
			
	    	    <div class="field_area">
	    	    <%= f.label :description, class:"field_label"%><br/>
	    	      	<h5 class="request_content"><%=@request.description %></h5>
	    	    </div>
			
	    	    <div class="field_area">
	    	      	<%= f.label :category, class:"field_label"%><br/>
	    	      	<h3 class="request_content"><%=@request.categories.map{|c| c.japanese_name }.join(',') %></h3>
	    	    </div>
			
	    	    <div class="field_area">
	    	      	<%= f.label :request_form, class:"field_label"%><br/>
	    	      	<h3 class="request_content"><%=@request.request_form.japanese_name%></h3>
	    	    </div>
			
	    	    <div class="video_field_area" id="video_field_area">
	    	    <%= f.label :file, class:"field_label" %><br />
								<!--
	    	            <div id="youtube_area">
	    	              	<iframe class="youtube_video 16_to_9" src="https://www.youtube.com/embed/" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	    	            </div>
										-->
	    	        <div class="field_area" id="file_field_area">
	    	            <% if @request.request_form_name == "image" || @request.request_form_name == "free"%>
	    	              	<% @request.items.each.with_index do |item, index| %>
	    	              	  	<%= image_tag item.normal_file_with_default, class:"image #{item.normal_style_class}" if item.file_is_image? %>
	    	              	<% end %>
	    	            <% end %>
	    	            <% if @request.request_form_name == "text" && @request.items %>
	    	              	<% @request.items.text_image.each do |item|%>
	    	              	  	<%= image_tag item.file.normal_size.url, class:"image #{item.file_name}"%>
	    	              	<% end %>
	    	            <% end %>
	    	            <% if @request.need_text_image?%>
	    	              	<span id="desctiption_to_image_text">文章を画像に変換中。変換が遅い場合はページをリロードしてください。</span>
	    	              	<img id="description_image" class="description_image">
	    	            <% end %>
	    	            <% if @request.request_form_name == "video"%>
	    	              	<%if @request.use_youtube%>
	    	              	<% else %>
	    	              	  	<%= video_tag @request.file.url, class:"image",id:"video_display", controls: true, autobuffer: true%>
	    	              	  	<%= f.hidden_field :file_duration, id:"file_duration" %>
	    	              	<% end %>
	    	            <% end %>
	    	        </div>
	    	    </div>
	    	    <%##= f.file_field  :thumbnail, id:"thumbnail_input" %>
	    	    <div class="imgArea"></div>
							
	    	    <div class="field_area">
	    	      <%= f.label :delivery_form, class:"field_label" %><br /><h3 class="request_content"><%=@request.delivery_form.japanese_name%></h3>
	    	    </div>
							
	    	    <% unless @service%>
				<% case @request.mode %>
				<% when 'proposal' %>
	    	    <div class="field_area">
	    	        <%= f.label :max_price, class:"field_label"%><br/>
	    	        <h3 class="request_content"><%=@request.max_price%>円</h3>
	    	    </div>

				<% when 'tip'%>
	    	    <div class="field_area">
	    	        <%= f.label :reward, class:"field_label"%><br/>
	    	        <h3 class="request_content"><%=@request.reward%>円</h3>
	    	    </div>
				<% end %>
							
	    	    <div class="field_area">
	    	      	<%= f.label :suggestion_acceptable_days, class:"field_label"%><br/>
	    	      	<h3 class="request_content"><%=@request.suggestion_acceptable_days%>日</h3>
	    	    </div>
	    	    <% end %>
	    	<% end %>
	    	    <% if (@transaction && @price > 0) || @request.mode == 'tip' %>
				<% @model = @transaction ? @transaction : @request
				@price = @transaction ? @transaction.price : @request.reward
				%>
					<% if current_user.coupons.usable(@price).present? %>
	    	    	<div class="field_area">
						<label>クーポンの使用</label>
						<h3 class="request_content coupon">
							<%= link_to(change_coupon_user_config_path, method: :put) do %>
								<%if current_user.use_inactive_coupon %>
									<input type="checkbox" checked="checked"></input>
								<% else %>
									<input type="checkbox"></input>
								<% end %>
								期限が近いクーポンから利用する
							<% end %>
						</h3>
					</div>
					<% end %>
							
	    	    	<div class="price_area">
						<label>価格</label></br>
						<% if @model.required_points < @price %>
	    	    	  		<h3 class="price fake_price"><span><%= @price %></span>円</h3></br>
	    	    	  		<h3 class="price true_price"><%= @model.required_points %><span class="unit">円</span>
							</h3>
							<span class="discount"> （ クーポンにより<%= @price - @transaction.required_points%>円引き）</span>
						<% else %>
	    	    	  		<h3 class="price true_price"><%= @price %><span class="unit">円</span></h3>
						<% end %>
						<%if !current_user.use_inactive_coupon && current_user.coupons.usable %>
							<h4 class="open_button change_coupon">クーポンを選択</h4>
							<%= render "user/coupons/modal_window", price: @price %>
						<% end %>
	    	    	</div>

                    <%= render "user/payments/price_table", price: @price %>
	    	    <% end %>
							
	    	    <div class="submit_area">
	    	      	<%= link_to "編集", @edit_path,class:"big_submit grey edit_link", id:"edit_link"%>
	    	    </div></br>
							
	    	<% if @service&.allow_pre_purchase_inquiry %>
	    		<div class="submit_area">
					<div class="open_button big_submit grey edit_link">購入前に質問</div>
					<%= render "user/pre_purchase_inquiries/modal", transaction: @transaction %>
	    		</div></br>
	    	<% end %>
	    	<div class="submit_area">
				<%if @deficient_point && @deficient_point > 0 %>
					<div class="big_submit" id="payment_modal_button"><%= @submit_text %></div>
					<script>
					$('#payment_modal_button').on('click',function() {
					  	$('.payment_modal').addClass('open');
					});
					</script>
				<% else %>
	    			<%= form_with model: @request, url: user_request_publish_path, method:"post" do |f| %>
	    		    <%= f.hidden_field :transaction_id %>
	    		    <%= f.file_field  :file, id:"file_input", class:"display_none" %>
	    		    <%= f.hidden_field :service_id, value: @service&.id %>
	    		    <%= f.submit @submit_text, class:"big_submit", id:"submit", data: {confirm: "#{@submit_text}しますか？"} %>
	    			<% end %>
				<% end %>
	    	</div>
	    </div>
	</div>
	<%if @request.need_text_image? %>
		<div class="text_image_area">
			<%= render "/user/images/description.html.erb", 
				title: @request.title, text:@request.description, 
				image_width: 500%>
			<div id="canvas-container"></div>
			<script>
				<%= render "user/shared/javascript/html2canvas.js.erb" %>
				<%= render 'user/images/description.js.erb', 
					title: @request.title, text: @request.description, 
					image_width: 500, user_name: current_user.name %>
			</script>
			<style>
			<%= render 'user/images/description.css.erb', 
				text: @request.description, image_width: 500, 
				font_size: @request.description_font_size(500),
				donwlaod_font: false %>
			</style>
		</div>
	<script>
		<%= render "user/requests/preview.js.erb" %>
	</script>
	<% end %>
</div>