<div class="request_show_zone">
    <% if @request.is_inclusive %>
        <div class="main_header">
        <%= link_to "", user_homes_path, class:"fas fa-home"%>
         > <%= link_to "#{Request.model_name.human}一覧", user_requests_path, class:"main_area_top_link"%>
         > <%= link_to @request.category.japanese_name, user_requests_path(categories: @request.category.name), class:"main_area_top_link"%>
         > <%= @request.title %>
        </div>
    <% else %>
        <div class="main_header"><%= link_to "", user_transactions_path, class:"fas fa-home"%> > <%= link_to "質問一覧", user_orders_path, class:"main_area_top_link"%> > <%=@request.category.japanese_name%></div>
    <% end %>
    <div class="request_show_area">
        <div class="request_show_flame">
            <div class="request_title_area">
                <h3 class="request_title">
                    <%=@request.title%>
                </h3>
                <% @request.categories.each do |category| %>
                    <%= link_to category.japanese_name, user_requests_path(categories: category.name), class:"big_name_tag" %>
                <% end %>
                <div>
                質問者：<%= link_to @request.user.name, user_account_path(@request.user.id) %>
                    <% if @request.user == current_user%>
                        <div class="edit_delete_area">
                            <% if @request.can_retract? %>
                                <%= link_to "取り下げ", user_request_retract_path(@request.id), method: "put", class:"delete button", data: {confirm: "質問を取り下げますか？。\n取り消しできません"} %>
                            <% end %>
                            <%= '|' if @request.is_suppliable && @request.can_retract?%>
                            <%if @request.is_suppliable %>
                                <%= link_to "補足", new_user_request_supplement_path(request_id: @request.id)%>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
            <!--
            <%if request_completed%>
                <div><span class="request_alert">取引が完了しました</span></div>
            <% elsif @request.suggestion_deadline %>
                <%if @request.suggestion_deadline < DateTime.now%>
                    <div><span class="request_alert">期限切れ</span></div>
                <% end %>
            <% end %>
            <%if Transaction.find_by(request_id: @request.id) %>
                <%if Transaction.find_by(request_id: @request.id).is_canceled %>
                    <div><span class="request_alert">中断されています</span></div>
                <% end %>
            <% end %>
            -->
            <div class="common_score_area">
                <div class="score_area_left">
                    <span class="score_info"><label>ステータス</label>&nbsp;
                        <span class='status <%=@request.status_color%>'><%= @request.status %></span>
                    </span>
                    <span class="score_info"><label>投稿</label>&nbsp;<%= readable_datetime(@request.published_at)%></span>
                    <% unless @request.services.present? %>
                        <span class="score_info"><label>提案数</label>&nbsp;<%=Transaction.where(request:@request, is_suggestion:true).count%>件</span>
                    <% end %>
                </div>
                <div class='score_area_right'>
                        <%= link_to(user_request_likes_path(id: @request.id), class: "like_button #{@request.liked_class(current_user)}", id:"like_button", method: :post, remote:true) do%>
                            <span class="fas fa-heart" ></span>&nbsp;いいね　　<span id="like_count"><%=@request.total_likes%></span>&nbsp;
                        <% end %>
                </div>
            </div>
            <% if @request.is_inclusive %>
                <%= render "user/shared/small_label", text:"条件"%>
                <table class="common_condition_area">
                    <tr>
                        <td class="condition_label">
                            <span class="condition_name "><%= @request.price_label%></span>
                        </td>
                        <td>
                            <span class="common_condition"><%= @request.price_content%>円<%="（残り: #{@request.remaining_reward}円）" if @request.is_reward_mode?%></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="condition_label">
                            <span class="condition_name "><%= Request.human_attribute_name(:suggestion_deadline) %></span>
                        </td>
                        <td>
                            <span class="common_condition"><%=from_now(@request.suggestion_deadline)%>（<%=@request.suggestion_deadline.strftime("%Y %m/%d %H:%m")%>まで）</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="condition_label">
                            <span class="condition_name "><%= Request.human_attribute_name(:request_form) %></span>
                        </td>
                        <td>
                            <span class="common_condition"><%=@request.request_form.japanese_name%></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="condition_label">
                            <span class="condition_name "><%= Request.human_attribute_name(:delivery_form) %></span>
                        </td>
                        <td>
                            <span class="common_condition"><%=@request.delivery_form.japanese_name%></span>
                        </td>
                    </tr>
                </table>
            <% end %>
            <div class="text_area">
                <%= render "user/shared/small_label", text:"本文"%>
                <%= render "user/shared/description_text_image", request: @request %>
            </div>
            <%if @request.supplements.present? %>
                <%= render "user/shared/small_label", text:"補足" %>
                <% @request.supplements.each do |supplement| %>
                    <%= supplement.body%>
                <% end %>
            <% end %>

            <%if user_signed_in? && current_user.can_respond_order(@request) %>
                <div class="button_area" >
                    <%=link_to "対応する", user_order_path(@request.transactions.first.id), class:"button" %>
                </div>
            <% end %>
        </div>
        <%if @request.is_reward_mode? %>
            <%= render 'user/shared/common_label', text: '回答・メッセージ', language: 'ja' %>
            
	        <div class="main_header">
	        <div class="second_stage">
                <%= link_to user_request_path(request.query_parameters.merge(only_answer: params[:only_answer] == '1' ? '0' : '1')), class:"check_link" do %>
                    <input class="checkbox" type="checkbox" <%='checked' if params[:only_answer] == '1'%>>
                    <label class="checkbox_label">回答のみを表示</label>
                <% end %>
                <%= render "user/shared/sort_selector", sort_type: 'messages',
                    link: ->(order) {user_request_path(request.query_parameters.merge(order: order)) } 
                %>
            </div>
            </div>
            <div class="message_area" id="message_area">
                <% @models.records.each do |model| %>
                    <%= case model.model_name.to_s
	                when 'Transaction'
                        render 'user/transactions/message_cell', transaction: model
                    when 'TransactionMessage'
                        render 'user/transaction_messages/cell', content: model, need_reply: true
                    end %>
                <% end %>
            </div>
        <% elsif @request.suggestion_deadline && @request.suggestion_deadline > DateTime.now %>
            <%= render 'user/shared/common_label', text: '提案された相談室', language: 'ja' %>
            <% @request.transactions.where(is_suggestion: true).each do |transaction| %>
                <%= render "user/services/suggestion_cell", service:transaction.service, transaction: transaction %>
            <% end %>
        <% else %>
            <%= render 'user/shared/common_label', text: '回答', language: 'ja' %>
            <% Transaction.where(request_id: @request.id, is_transacted:true).each do |transaction| %>
                <%= render "user/transactions/answer", transaction: transaction %>
            <% end %>
        <% end %>
    </div>
    <!--
    <%= render "user/accounts/profile", user: @request.user, relationship:@relationship %>
    -->
    <div class="main_bottom"><%= paginate @models %></div>
</div>
<%= render 'user/transaction_messages/new_modal' %>
<%if @request.user == current_user && @request.transactions.published.present? %>
<div class="modal_window review_modal">
    <div class="modal_background"></div>
    <div class="modal_window_body ">
        <div class="review_area">
            <label class='user_name'></label></br>
            <%= render "user/reviews/form", transaction: @request.transactions.last %>
        </div>
        <div class="modal_delete_area">
            <p class="modal_delete">閉じる</p>
        </div>
    </div>
</div>
<script>
$(document).ready(function () {
    $('.review_button').on('click', function () {
        var transaction_id = $(this).attr('transaction_id');
        var name = $(this).attr('name');
		$('.review_area #review_transaction_id').val(transaction_id);
		$('.review_area .user_name').html(`${name}へのレビューを作成`)
		$('.review_modal').addClass('open');
		text_area = $('.new_message_modal #transaction_message_body');
    });
});
</script>
<% end %>
<%if @request.mode == 'reward' && @request.user != current_user && @request.within_the_deadline? %>
<div class="bottom_button_area">
    <div class="bottom_button_flame button_area">
        <% if @transaction %>
            <div class="bottom_button <%= @transaction.is_published ? nil : 'small_button'%> open_new_message_modal">
                <i class="fa-regular fa-message"></i> メッセージの作成
            </div>
        <% else %>
            <%= link_to(create_message_user_request_path, class:"bottom_button small_button", method: 'POST') do %>
                <i class="fa-regular fa-message"></i> メッセージの作成
            <% end %>
        <% end %>
        <% if @transaction.blank? || !@transaction.is_published %>
        <%= link_to(answer_user_request_path, class:"bottom_button small_button", method: 'POST') do %>
            <i class="fa-regular fa-pen-to-square"></i> 回答を作成
        <% end %>
        <% end %>
    </div>
</div>
<script>
$('.main_area').css('padding-bottom','50px');
<%if params[:open_message_modal] %>
const new_message_modal = $('.new_message_modal');
new_message_modal.addClass("open");
<% end %>
$(function(){
  const modal = $('.modal_window');
  const new_message_modal = $('.new_message_modal');
  $('.open_new_message_modal').on('click', function(){
    var old_uuid = $('.message_label').attr('uuid');
    new_message_modal.addClass("open");
    if(old_uuid != "<%= @request.user.uuid %>"){
        $('.message_label').html(null);
        $('.message_label').attr('uuid', "<%= @request.user.uuid %>");
    }
  });
});
</script>
<% else %>
    <% if user_signed_in? && @request.is_suggestable?(current_user) %>
    <div class="bottom_button_area">
        <div class="bottom_button_flame button_area">
            <div class="bottom_button modal_open suggest_button button">
            <i class="fa-regular fa-hand"></i> 相談室を提案
            </div>
        </div>
    </div>
    <script>
    $('.main_area').css('padding-bottom','50px');
    </script>
    <% end %>
<% end %>
<% unless @request.is_reward_mode? %>
<div class="modal_window service_select_modal">
    <div class="modal_background"></div>
    <div class="modal_window_body">
        <div class="service_area">
        <div>相談室を選択</div>
        <% current_user&.services&.proposal_mode&.solve_n_plus_1&.where(request_id:nil)&.each do |service| %>
            <%= link_to(user_service_suggest_path(service.id, request_id: @request.id), class: "service_cell", method: :put, data: { confirm: "#{service.title}を提案しますか？" } ) do %>
                <div class="image_area">
                    <%= image_tag service.thumb_with_default, class:"image" %>
                </div>
                <div class="title_area">
                    <span class="two_line_text">
                        <%= service.title%>
                    </span>
                </div>
            <% end %>
        <% end %>
        </div>
        <%=link_to "今回限定の相談室を提案", new_user_service_path(request_id:@request.id), class:"suggest_button button"%>
        <div class="modal_delete_area">
            <p class="modal_delete">閉じる</p>
        </div>
    </div>
</div>
<% end %>
<script>
over_600_slide_count = <%=@request.items.length.clamp(1, 3) %><%%>

var swiper = new Swiper('.swiper-container', {
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    pagination: {
      el: ".swiper-pagination", //必須の設定：ページネーションのclass指定
      type: "bullets",
      clickable: "clickable"
    },
    breakpoints: {
        0: {
            slidesPerView: 1,
            spaceBetween: 1,
            loop: true, //繰り返し指定
            spaceBetween: 10, //スライド感の余白
            slidesPerView: 1.5, //一度に表示するスライド枚数
            centeredSlides: true, //スライダーの最初と最後に余白を追加せずスライドが真ん中に配置される
            centeredSlidesBounds: true, //アクティブなスライドを中央に配置
        },
        600: {
            slidesPerView: over_600_slide_count,
            spaceBetween: 1,
            
        }
    }
  });


var like_count = document.getElementById("like_count");
$("#like_button")[0].addEventListener('ajax:success', function(event) {
  // 成功時の処理
  var res = event.detail[0];
  $("#like_button").toggleClass("liked_button");
  if(res){
    notify_for_seconds("いいねしました。");
    like_count.textContent = parseFloat(like_count.textContent) + 1
  }else{
    notify_for_seconds("いいねを解除しました。");
    like_count.textContent = parseFloat(like_count.textContent) - 1
  }
  
});

$("#like_button")[0].addEventListener('ajax:error', function(event) {
  // 失敗時の処理
  var res = event.detail[0];
  //$(".like_button").toggleClass("liked_button");
  notify_for_seconds("いいねできませんでした。");
  like_count.textContent = parseFloat(like_count.textContent) - 1
});
$(function(){
  const modal = $('.modal_window');
  const service_select_modal = $('.service_select_modal');
  $('.suggest_button').on('click', function(){
    service_select_modal.addClass("open");
  });
  $('.modal_delete').on('click', function(){
    modal.removeClass("open");
  });
  $('.modal_background').on('click', function(e){
    modal.removeClass('open');
  });
});
</script>