<div class="request_show_zone">
    <% if @request.is_inclusive %>
        <p class="main_header one_line_text"><%= link_to "", user_transactions_path, class:"fas fa-home"%> > <%= link_to "質問一覧", user_requests_path, class:"main_area_top_link"%> > <%=@request.category.japanese_name%></p>
    <% else %>
        <p class="main_header one_line_text"><%= link_to "", user_transactions_path, class:"fas fa-home"%> > <%= link_to "質問一覧", user_orders_path, class:"main_area_top_link"%> > <%=@request.category.japanese_name%></p>
    <% end %>
    <div class="request_area">
        <div class="request_flame">
            <div class="request_title_area">
                <h3 class="request_title">
                    <%=@request.title%>
                </h3>
            </div>
            <%if request_completed%>
                <div><span class="request_alert">取引が完了しました</span></div>
            <% elsif @request.suggestion_deadline %>
                <%if @request.suggestion_deadline < DateTime.now%>
                    <div><span class="request_alert">期限切れ</span></div>
                <% end %>
            <% end %>
            <%#if @request.is_rejected %>
                <!--<div><span class="request_alert">対応をお断りされています</span></div>-->
            <%# end %>
            <%if Transaction.find_by(request_id: @request.id) %>
                <%if Transaction.find_by(request_id: @request.id).is_canceled %>
                    <div><span class="request_alert">中断されています</span></div>
                <% end %>
            <% end %>
            <% if @request.user == current_user && !Transaction.exists?(request_id:params[:id]) %>
                <div class="edit_delete_area">
                    <%= link_to "削除", user_request_path(@request.id), method: "delete", class:"delete button", data: {confirm: "依頼を削除しますか？。"} %>
                </div>
            <% end %>
            <table class="request_condition_area">
                <% if @request.services == [] %>
                <tr>
                    <td class="label_icon">
                    <span class="fas fa-yen-sign"></span>
                    </td>
                    <td class="condition_label">
                        <span class="condition_name "><%= Request.human_attribute_name(:max_price)%></span>
                    </td>
                    <td>
                        <span class="request_condition"><%=@request.max_price%>円</span>
                    </td>
                </tr>
                <% end %>
                <% if @request.services == [] %>
                <tr>
                    <td class="label_icon">
                    <span class="far fa-calendar-alt"></span>
                    </td>
                    <td class="condition_label">
                        <span class="condition_name "><%= Request.human_attribute_name(:suggestion_deadline) %></span>
                    </td>
                    <td>
                        <span class="request_condition"><%=from_now(@request.suggestion_deadline)%>（<%=@request.suggestion_deadline.strftime("%Y %m/%d %H:%m")%>まで）</span>
                    </td>
                </tr>
                <% end %>
                <tr>
                    <td class="label_icon">
                    <span class="fas fa-question"></span>
                    </td>
                    <td class="condition_label">
                        <span class="condition_name "><%= Request.human_attribute_name(:request_form) %></span>
                    </td>
                    <td>
                        <span class="request_condition"><%=@request.request_form.japanese_name%></span>
                    </td>
                </tr>
                <tr>
                    <td class="label_icon">
                    <span class="fas fa-chalkboard-teacher"></span>
                    </td>
                    <td class="condition_label">
                        <span class="condition_name "><%= Request.human_attribute_name(:delivery_form) %></span>
                    </td>
                    <td>
                        <span class="request_condition"><%=@request.delivery_form.japanese_name%></span>
                    </td>
                </tr>
                <% if @request.services == [] %>
                <tr>
                    <td class="label_icon">
                    <span class="far fa-hand-paper"></span>
                    </td>
                    <td class="condition_label">
                        <span class="condition_name ">提案数</span>
                    </td>
                    <td>
                        <span class="request_condition"><%=Transaction.where(request:@request, is_suggestion:true).count%>件</span>
                    </td>
                </tr>
                <% end %>
                <tr>
                    <td class="label_icon">
                    <span class="fas fa-sitemap"></span>
                    </td>
                    <td class="condition_label">
                        <span class="condition_name "><%= Request.human_attribute_name(:category) %></span>
                    </td>
                    <td>
                        <span class="request_condition"><%=@request.category.japanese_name%></span>
                    </td>
                </tr>
            </table>
            <div class="request_detail">
                <h4>本文</h4>
                <div class="request_detail_content" id="request_detail_content">
                    <p id="request_detail_text" class="request_detail_text"><%=@request.description%></p>
                </div>
            </div>
            <div class="item_area">
                <%if @request.use_youtube%>
                    <iframe class="youtube_video 16_to_9" src="https://www.youtube.com/embed/<%=@request.youtube_id%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <% elsif @request.file&.url != nil %>
                    <% if @request.request_form.name == "image" || @request.request_form.name == "text"%>
                        <%= image_tag @request.file.url, class:"image"%>
                    <% elsif @request.request_form.name == "video" %>
                        <%= video_tag @request.file.url,poster:@request.thumbnail.url, class:"image", controls: true, autobuffer: true%>
                    <% end %>
                <% end %>
                <% if @request.request_form_name == "text"%>
                    <%= image_tag @request.image&.url, class:"image"%>
                <% end %>
            </div>
            <% if can_suggest? %>
                <div class="suggest_button_area">
                    <%=link_to "提案", new_user_service_path(request_id:@request.id), class:"suggest_button"%>
                </div>
            <% end %>

            <%if user_signed_in? && current_user.can_respond_order(@request) %>
                <div class="suggest_button_area" >
                    <%=link_to "対応", user_order_path(@request.transactions.first.id), class:"suggest_button" %>
                </div>
            <% end %>
        </div>
        <%@request.transactions.each do |transaction| %>
            <% if transaction.is_rejected && @request.user == current_user %>
                <div class="common_label_area">
                    <h3 class="suggest_title common_label">依頼が断られた理由</h3>
                </div>
                <div class="component_area">
                    <%=transaction.reject_reason%>
                    <div>
                    <%=link_to transaction.seller.name, user_account_path(transaction.seller.id)%>
                    </div>
                </div>
            <% end %>
        <% end %>
        <% if Service.left_joins(:requests).where(requests: @request, is_inclusive:false).count > 0 %>
            <div class="common_label_area">
                <h3 class="suggest_title common_label">提案されたサービス一覧</h3>
            </div>
        <% end %>
        <% Service.left_joins(:requests).where(requests: @request, is_inclusive:false).each do |service| %>
            <%= render "user/services/suggestion_cell", service:service %>
            <%#= render "user/services/cell", service:service%>
        <% end %>
        <% if @request.services %>
            <div class="common_label_area">
                <h3 class="suggest_title common_label">購入したサービス</h3>
            </div>
            <% Service.left_joins(:requests).where(requests: @request).each do |service| %>
                <%= render "user/services/suggestion_cell", service:service %>
            <% end %>
        <% end %>
        <% if Transaction.exists?(request_id: @request.id, is_delivered:true) %>
            <div class="common_label_area">
                <h3 class="suggest_title common_label">回答</h3>
            </div>
            <%= render "user/transactions/cell", transaction:Transaction.find_by(request_id: @request.id, is_delivered:true) %>
        <% end %>
</div>
    <%= render "user/accounts/profile", user: @request.user, relationship:@relationship %>
</div>