<div class="request_show_zone">
    <% if @request.is_inclusive %>
        <div class="main_header">
        <%= link_to "", user_homes_path, class:"fas fa-home"%>
         > <%= link_to "#{Request.model_name.human}一覧", user_requests_path, class:"main_area_top_link"%>
         > <%= link_to @request.category.japanese_name, user_requests_path(categories: @request.category.name), class:"main_area_top_link"%>
         > <%= @request.title %>
        </div>
    <% else %>
        <div class="main_header"><%= link_to "", user_transactions_path, class:"fas fa-home"%> > <%= link_to "質問一覧", user_orders_path, class:"main_area_top_link"%> > <%=@request.category.japanese_name%></div>
    <% end %>
    <div class="request_area">
        <div class="request_flame">
            <div class="request_title_area">
                <h3 class="request_title">
                    <%=@request.title%>
                </h3>
                <div>
                質問者：<%= link_to @request.user.name, user_account_path(@request.user.id) %>
                </div>
            </div>
            <!--
            <%if request_completed%>
                <div><span class="request_alert">取引が完了しました</span></div>
            <% elsif @request.suggestion_deadline %>
                <%if @request.suggestion_deadline < DateTime.now%>
                    <div><span class="request_alert">期限切れ</span></div>
                <% end %>
            <% end %>
            <%if Transaction.find_by(request_id: @request.id) %>
                <%if Transaction.find_by(request_id: @request.id).is_canceled %>
                    <div><span class="request_alert">中断されています</span></div>
                <% end %>
            <% end %>
            -->
            <div class="common_score_area">
                <div class="score_area_left">
                    <span class="score_info"><label>状況</label>&nbsp;
                        <span class='status <%=@request.status_color%>'><%= @request.status %></span>
                    </span>
                    <span class="score_info"><label>投稿</label>&nbsp;<%= readable_datetime(@request.published_at)%></span>
                    <% unless @request.services.present? %>
                        <span class="score_info"><label>提案数</label>&nbsp;<%=Transaction.where(request:@request, is_suggestion:true).count%>件</span>
                    <% end %>
                </div>
                <div class='score_area_right'>
                    <% if @request.user == current_user%>
                        <div class="edit_delete_area">
                            <% if @request.user == current_user && !Transaction.exists?(request_id:params[:id]) %>
                                <div class="edit_delete_area">
                                    <%= link_to "削除", user_request_path(@request.id), method: "delete", class:"delete button", data: {confirm: "依頼を削除しますか？。"} %>
                                </div>
                            <% end %>
                        </div>
                    <% else %>
                        <%= link_to(user_request_likes_path(id: @request.id), class: "like_button #{@request.liked_class(current_user)}", id:"like_button", method: :post, remote:true) do%>
                            <span class="fas fa-heart" ></span>&nbsp;お気に入り　　<span id="like_count"><%=@request.total_likes%></span>&nbsp;
                        <% end %>
                    <% end %>
                </div>
            </div>
            <div class="user_label">
                <%= render "user/shared/small_label", text:"条件"%>
            </div>
            <table class="common_condition_area">
                <% if @request.is_inclusive %>
                <tr>
                    <td class="condition_label">
                        <span class="condition_name "><%= Request.human_attribute_name(:max_price)%></span>
                    </td>
                    <td>
                        <span class="common_condition"><%=@request.max_price%>円</span>
                    </td>
                </tr>
                <% end %>
                <% if @request.is_inclusive %>
                <tr>
                    <td class="condition_label">
                        <span class="condition_name "><%= Request.human_attribute_name(:suggestion_deadline) %></span>
                    </td>
                    <td>
                        <span class="common_condition"><%=from_now(@request.suggestion_deadline)%>（<%=@request.suggestion_deadline.strftime("%Y %m/%d %H:%m")%>まで）</span>
                    </td>
                </tr>
                <% end %>
                <tr>
                    <td class="condition_label">
                        <span class="condition_name "><%= Request.human_attribute_name(:request_form) %></span>
                    </td>
                    <td>
                        <span class="common_condition"><%=@request.request_form.japanese_name%></span>
                    </td>
                </tr>
                <tr>
                    <td class="condition_label">
                        <span class="condition_name "><%= Request.human_attribute_name(:delivery_form) %></span>
                    </td>
                    <td>
                        <span class="common_condition"><%=@request.delivery_form.japanese_name%></span>
                    </td>
                </tr>
                <tr>
                    <td class="condition_label">
                        <span class="condition_name "><%= Request.human_attribute_name(:category) %></span>
                    </td>
                    <td>
                        <span class="common_condition">
                        <% @request.categories.each do |category| %>
                            <%= link_to category.japanese_name, user_requests_path(categories: category.name), class:"big_name_tag" %>
                        <% end %>
                        </span>
                    </td>
                </tr>
            </table>
            <div class="request_detail">
                <%= render "user/shared/small_label", text:"本文"%>
                <div class="request_detail_content" id="request_detail_content">
                    <p id="request_detail_text" class="request_detail_text"><%=@request.description%></p>
                </div>
            </div>
            <div class="item_area">
                <%if @request.use_youtube%>
                    <iframe class="youtube_video 16_to_9" src="https://www.youtube.com/embed/<%=@request.youtube_id%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <% elsif @request.items.present? %>
                    <% if @request.request_form_has_image? %>
                        <%= render "user/shared/swiper_images", model: @request, use_thumb:false %>
                    <% elsif @request.request_form.name == "video" %>
                        <%= video_tag @request.file.url,poster:@request.thumbnail.url, class:"image", controls: true, autobuffer: true%>
                    <% end %>
                <% end %>
            </div>

            <%if user_signed_in? && current_user.can_respond_order(@request) %>
                <div class="button_area" >
                    <%=link_to "対応する", user_order_path(@request.transactions.first.id), class:"button" %>
                </div>
            <% end %>
        </div>
        <% @request.transactions.each do |transaction| %>
            <% if transaction.is_rejected && @request.user == current_user %>
                <%= render 'user/shared/common_label', text: '質問のお断り理由', language: 'ja' %>
                <div class="component_area">
                    <%=transaction.reject_reason%>
                    <div>
                    <%=link_to transaction.seller.name, user_account_path(transaction.seller.id)%>
                    </div>
                </div>
            <% end %>
        <% end %>
        <% if @request.suggestion_deadline && @request.suggestion_deadline > DateTime.now %>
            <%= render 'user/shared/common_label', text: '提案された相談室', language: 'ja' %>
            <% @request.transactions.where(is_suggestion: true).each do |transaction| %>
                <%= render "user/services/suggestion_cell", service:transaction.service, transaction: transaction %>
            <% end %>
        <% else %>
            <%= render 'user/shared/common_label', text: '回答', language: 'ja' %>
            <% Transaction.where(request_id: @request.id, is_transacted:true).each do |transaction| %>
                <%= render "user/transactions/cell", transaction: transaction %>
            <% end %>
        <% end %>

    </div>
    <!--
    <%= render "user/accounts/profile", user: @request.user, relationship:@relationship %>
    -->
</div>
<% if user_signed_in? && @request.is_suggestable?(current_user) %>
<div class="bottom_button_area">
    <div class="bottom_button_flame button_area">
        <div class="bottom_button modal_open suggest_button button"">
        <i class="fa-solid fa-chalkboard-user"></i> 相談室を提案
        </div>
    </div>
</div>
<script>
$('.main_area').css('padding-bottom','50px');
</script>
<% end %>
<div class="modal_window service_select_modal">
    <div class="modal_background"></div>
    <div class="modal_window_body">
        <div class="service_area">
        <% current_user&.services&.where(request_id:nil)&.each do |service| %>
            <%= link_to(user_service_suggest_path(service.id, request_id: @request.id), class: "service_cell", method: :put, data: { confirm: "#{service.title}を提案しますか？" } ) do %>
                <div class="image_area">
                    <%= image_tag service.thumb_with_default, class:"image" %>
                </div>
                <div class="title_area">
                    <span class="two_line_text">
                        <%= service.title%>
                    </span>
                </div>
            <% end %>
        <% end %>
        </div>
        <div class="modal_delete_area">
            <p class="modal_delete">閉じる</p>
        </div>
    </div>
</div>
<div class="modal_window suggest_buttons_modal">
    <div class="modal_background"></div>
    <div class="modal_window_body">
        <div class="suggest_button_area">
            <%=link_to "今回限定の相談室を提案", new_user_service_path(request_id:@request.id), class:"suggest_button button"%>
            <div class="modal_open existing_services button">すでにある相談室を提案</div>
        </div>
        <div class="modal_delete_area">
            <p class="modal_delete">閉じる</p>
        </div>
    </div>
</div>
<script>
over_600_slide_count = <%=@request.items.length.clamp(1, 3) %><%%>

var swiper = new Swiper('.swiper-container', {
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    pagination: {
      el: ".swiper-pagination", //必須の設定：ページネーションのclass指定
      type: "bullets",
      clickable: "clickable"
    },
    breakpoints: {
        0: {
            slidesPerView: 1,
            spaceBetween: 1,
            loop: true, //繰り返し指定
            spaceBetween: 10, //スライド感の余白
            slidesPerView: 1.5, //一度に表示するスライド枚数
            centeredSlides: true, //スライダーの最初と最後に余白を追加せずスライドが真ん中に配置される
            centeredSlidesBounds: true, //アクティブなスライドを中央に配置
        },
        600: {
            slidesPerView: over_600_slide_count,
            spaceBetween: 1,
            
        }
    }
  });


var like_count = document.getElementById("like_count");
$("#like_button")[0].addEventListener('ajax:success', function(event) {
  // 成功時の処理
  var res = event.detail[0];
  $("#like_button").toggleClass("liked_button");
  if(res){
    notify_for_seconds("いいねしました。");
    like_count.textContent = parseFloat(like_count.textContent) + 1
  }else{
    notify_for_seconds("いいねを解除しました。");
    like_count.textContent = parseFloat(like_count.textContent) - 1
  }
  
});

$("#like_button")[0].addEventListener('ajax:error', function(event) {
  // 失敗時の処理
  var res = event.detail[0];
  //$(".like_button").toggleClass("liked_button");
  notify_for_seconds("いいねできませんでした。");
  like_count.textContent = parseFloat(like_count.textContent) - 1
});
$(function(){
  const modal = $('.modal_window');
  const service_select_modal = $('.service_select_modal');
  const suggest_buttons_modal = $('.suggest_buttons_modal');
  $('.suggest_button').on('click', function(){
    suggest_buttons_modal.addClass("open");
  });
  $('.existing_services').on('click', function(){
    modal.removeClass("open");
    service_select_modal.addClass("open");
  });
  $('.modal_delete').on('click', function(){
    modal.removeClass("open");
  });
  $('.modal_background').on('click', function(e){
    modal.removeClass('open');
  });
});
</script>