<div class="transaction_cell_area closing">
    <div class="transaction_cell_flame transaction_cell_flame_open">
    <!--
        <div class="youtube_video_area">
            <%if transaction.request_form_name == "text" %>
                <% if transaction.delivery_form.name == "image" || transaction.delivery_form.name == "text"%>
                        <%= image_tag transaction.request.thumb_with_default, class:"transaction_file "%>
                <% elsif transaction.delivery_form.name == "video" %>
                    <%= image_tag transaction.thumbnail.url, class:"transaction_file content_file", controls: true, autobuffer: true%>
                <% end %>
            <% end %>
        </div>
        -->
        
        <div class="video_text_area">
            <%= link_to(user_transaction_path(transaction.id), class: 'transaction_link') do %>
                <h5 class="request_title one_line_text"><span class="mark_q">Q.</span><%= transaction.request.title%></h5>
            <% end %>
            <h5 class="one_line_text user_and_date text">質問者：&nbsp;<%= link_to transaction.buyer.name, user_account_path(transaction.buyer.id), class: '' %><%= %>　<%= readable_datetime(transaction.created_at)%></h5>
			<div class="item_description_area">
				<% if transaction.request.has_pure_image %>
					<div class='item_area'>
						<%= image_tag transaction.request.items.first.file.thumb.url %>
					</div>
				<% end %>
				<div class="description_area">
            		<span class="three_line_text text description_text"><%= transaction.request.description%></span>
				</div>
			</div>
			<% if transaction.request.has_pure_image %>
				<div class='items_area'>
					<% transaction.request.items.each do |item| %>
						<%= image_tag item.file.thumb.url %>
					<% end %>
				</div>
			<% end %>
            <div class="answer_area" id="answer_area">
                <div class="seller_container">
                    <%= link_to(user_account_path(transaction.seller.id), class: 'seller_area') do %>
                        <%=image_tag transaction.seller.thumb_with_default, class:"seller_image"%>
                        <div class="seller_name_area">
                            <p class="seller_name one_line_text"><%=transaction.seller.name%></p>
                        </div>
                    <% end %>
                    <%#= render "user/relationships/follow", user:transaction.seller%>
                </div>
                <span class="titl answer">
                    <span class="mark_a">A.</span><%= transaction.title%>
                </span>
                <h5 class="text three_line_text"><%= transaction.description%></h5>
				<% if transaction.items.present? %>
					<div class='items_area'>
						<% transaction.items.each do |item| %>
							<%= image_tag item.file.thumb.url %>
						<% end %>
					</div>
				<% end %>
                <div class="open_page_area">
                    <%= link_to "...続きを見る", user_transaction_path(transaction.id), class:"open_page" %>
                </div>
            </div>
        </div>
    </div>
    <div class='open_text_area'>
	<div class="smoke"></div>
        <div class="open_text" id="open_text">&nbsp;詳細を見る<span class='fas fa-angle-down'></span>&nbsp;</div>
    </div>
</div>
