<div class="transaction_message_cell_area">
	<%=link_to(user_transaction_path(transaction.id), class:"answer_link") do %>
	<h4 class="title answer_title">
		<span class="mark_a">A.</span>
		<%= transaction.title%>
	</h4>
	<% end %>
    <div class="image_name_area">
        <div class="image_area">
            <%=image_tag transaction.seller.thumb_with_default, class:"user_image"%>
        </div>
        <div class="time_name_area">
            <div class="send_time">
                <h2 class="user_name one_line_text"><%=link_to transaction.seller.name, user_account_path(transaction.seller.uuid), class:"user_link" %></h2>
                <%=readable_datetime(transaction.published_at)%>
            </div>
        </div>
    </div>
    <div class="message_text_area">
        <div class="message_text"><%=transaction.description %></div>
    </div>
	<% transaction.items.each do |item| %>
		<%= link_to(item.file.url, class: 'item_link') do %>
			<%= image_tag item.file.url, class:"image" if item.file.is_image? %>
		<% end %>
	<% end %>
    <% if transaction.request.is_reward_mode? && transaction.seller != current_user %>
        <div class="bottom_button reply_button" uuid="<%= transaction.seller.uuid%>" name="<%= transaction.seller.name%>" transaction_id="<%= transaction.id%>" receiver_id="<%=transaction.seller.id%>">
            <i class="fa-solid fa-reply"></i> 返信
        </div>
    <% end %>
    <% if transaction.request.is_reward_mode? && transaction.buyer == current_user && !transaction.is_reviewed? %>
	    <div class="bottom_button review_button" uuid="<%= transaction.seller.uuid%>" name="<%= transaction.seller.name%>" transaction_id="<%= transaction.id%>" receiver_id="<%=transaction.seller.id%>">
            <i class="fa-regular fa-message"></i> レビューの作成・報酬の設定
        </div>
    <% end %>
</div>