<div class="transaction_zone">
    <%if current_state == "register" %>
        <%= render "user/shared/state_register_alert" %>
    <%else%>
        <div class="main_header"><%= link_to "", user_transactions_path, class:"fas fa-home" %> > 回答一覧 <%= paginate @transactions %></div>
        <% @transactions.each do |transaction|%>
            <%= render "user/transactions/small_cell", transaction:transaction %>
        <% end %>
        <div class="main_bottom">
            <%= paginate @transactions %>
        </div>
    <% end %>
</div>
<%= javascript_pack_tag 'user/transactions/index' %>
<script>
</script>

