<div class="transaction_zone">
    <%if current_state == "register" %>
        <%= render "user/shared/state_register_alert" %>
    <%else%>
        <div class="main_header">
            <%= link_to "", user_transactions_path, class:"fas fa-home" %>
             > <%= link_to "回答一覧", user_transactions_path, class:"main_area_top_link"%>
            <%= paginate @transactions %>
        </div>
        <% @transactions.each do |transaction|%>
            <%= render "user/transactions/answer", transaction:transaction %>
        <% end %>
        <div class="main_bottom">
            <%= paginate @transactions %>
        </div>
    <% end %>
</div>
<%= javascript_pack_tag 'user/transactions/index' %>
<script>
set_search_detail();
</script>

