<div class="transaction_show_zone">
    <div class="main_header">
        <%= link_to "", user_homes_path, class:"fas fa-home" %>
         > <%= link_to "回答一覧", user_transactions_path, class:"main_area_top_link"%>
         > <%= link_to @transaction.category.japanese_name, user_transactions_path(categories: @transaction.category.name), class:"main_area_top_link"%>
         > <%= @transaction.title%>
    </div>
    <div class="transaction_show_left_side">
    <%= render 'user/shared/common_label', text: 'Question', language: 'en'%>
        <div class="transaction_area">
            <div class="transaction_flame" id="transaction_flame">
                <div class="request_area">
                    <h2 class="title"><%=link_to @transaction.request.title, user_request_path(@transaction.request.id), class:"request_title"%></h2>
                    <div class="datetime"><%=readable_datetime(@transaction.request.published_at)%></div>
                    <%= link_to(user_account_path(@transaction.buyer.id), class: 'buyer_area') do %>
                        <%=image_tag @transaction.buyer.thumb_with_default, class:"buyer_image" %>
                        <div class="buyer_name_area">
                            <p class="buyer_name"><%=@transaction.buyer.name%></p>
                        </div>
                    <% end %>
                    <div class="description_area"><%= @transaction.request.description%></div>

                    <%if @transaction.request.items.first.is_text_image %>
                        <%= render 'user/shared/adjustable_image', request: @transaction.request%>
                    <% else %>
                        <% @transaction.request.items.each do |item| %>
                            <%= link_to(item.file.url, class: 'item_link') do %>
                                <%= image_tag item.file.url, class:"image" if item.file.is_image? %>
                            <% end %>
                            <% if item.use_youtube %>
                                <div class="item_file_flame 16_to_9" id="item_file_flame">
                                    <iframe class="item_file 16_to_9"  id="item_file" src="https://www.youtube.com/embed/<%= item.youtube_id %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            <% elsif item.file.is_video? %>
                                <%= image_tag @transaction.request.file.url, class:"image" %>
                            <% end %>
                        <% end %>
                    <% end %>
                    <%##= render "/user/shared/description", text:@transaction.request%>
                </div>
            </div>
        </div>
        <%if @transaction_along_messages.present? %>
        <div class="along_message_area">
            <div class="user_name_area">
                <div class="user_image_area">
                <%= image_tag @transaction_along_messages.first.sender.thumb_with_default, class:"image" %>
                </div>
                <div class="user_name">
                    <span class="one_line_text">
                        <%= @transaction_along_messages.first.sender.name %>
                    </span>
                </div>
            </div>
            <div class="open_button_area">
                <div class="open_button"></div>
                <span class="one_line_text">
                <%= @transaction_along_messages.first.body %>...
                </span>
                <a class="open_along_messages" onclick="open_along_messages()">途中のメッセージ
                <span class="fas fa-angle-down"></span></a>
            </div>
        </div>
        <% end %>
        <div class="along_messages">
        <% @transaction_along_messages.each do |message|%>
            <%= render "user/transaction_messages/cell", content:message %>
        <% end %>
        </div>
        <%= render 'user/shared/common_label', text: 'Answer', language: 'en'%>
        <div class="transaction_area">
            <div class="transaction_flame" id="transaction_flame">
                <div class="seller_info">
                    <%= link_to(user_account_path(@transaction.seller.id), class: 'seller_area') do %>
                        <%=image_tag @transaction.seller.thumb_with_default, class:"seller_image"%>
                        <div class="seller_name_area">
                            <p class="seller_name"><%=@transaction.seller.name%></p>
                            <div class="datetime"><%=readable_datetime(@transaction.published_at)%></div>
                        </div>
                    <% end %>
                    <%#= render "user/relationships/follow", user:@transaction.seller%>
                </div>
                <h2 class="title transaction_title"><%=@transaction.title%></h2>
                <hr>
                <div class="description_area"><%= @transaction.description%></div>


                <% @transaction.items.each do |item| %>
                    <%= link_to(item.file.url, class: 'item_link') do %>
                        <%= image_tag item.file.url, class:"image" if item.file.is_image? %>
                    <% end %>
                    <% if item.use_youtube %>
                        <div class="item_file_flame 16_to_9" id="item_file_flame">
                            <iframe class="item_file 16_to_9"  id="item_file" src="https://www.youtube.com/embed/<%=item.youtube_id%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    <% elsif item.file.is_video? %>
                        <%= image_tag item.file.url, class:"image" %>
                    <% end %>
                <% end %>
                <div class="like_share_area">
                    <div class="like_area">
                        <div class="like_flame">
                            <%if @transaction_like_exist%>
                                <%= link_to(user_transaction_likes_path(id:@transaction.id), class: "like_button liked_button", id:"like_button", method: :post, remote:true) do%>
                                    <span class="far fa-thumbs-up" id="like_count"> <%=@transaction.likes.count%></span> いいね
                                <% end %>
                            <% else %>
                                <%= link_to(user_transaction_likes_path(id:@transaction.id), class: "like_button", id:"like_button", method: :post, remote:true) do%>
                                    <span class="far fa-thumbs-up" id="like_count"> <%=@transaction.likes.count%></span> いいね
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div></br>
                <div class="service_link_area">
                    <div>
                        <%= link_to @transaction.service.title, user_service_path(@transaction.service.id), class:"service_link serice_link_component" %>より
                    </div>
                </div>
                <%= render "/user/shared/share_buttons", text: @transaction.description %>
            </div>
        </div>
        <div class="transaction_detail_area">
        </div>
        <%if @transaction.star_rating %>
            <%= render 'user/shared/common_label', text: 'レビュー', language: 'ja'%>
            <%= render "user/reviews/cell", transaction: @transaction %>
        <% elsif @transaction.buyer == current_user %>
            <h3 class="review_name">レビューをしてください</h3>
            <%= render "user/reviews/new", transaction: @transaction %>
        <% end %>
        <div class="transaction_message_flame" id="transaction_message_flame">
        <%= render "user/transaction_messages/cells_area" %>
    </div>
    </div>
    <div class="transaction_show_right_side">
    <%= render 'user/shared/common_label', text: 'その他の相談', language: 'ja'%>
        <% @transactions.each do |transaction| %>
            <%= render "user/transactions/cell", transaction: transaction %>
        <% end %>
    </div>
</div>
<script>
function open_along_messages(){
    $('.along_message_area').css('display','none')
    $('.along_messages').css('display','block')
}

var item_file_flame = document.getElementById("item_file_flame");
var item_file = document.getElementById("item_file");
var transaction_flame = document.getElementById("transaction_flame");
var like_count = document.getElementById("like_count");

$("#like_button")[0].addEventListener('ajax:success', function(event) {
  // 成功時の処理
  var res = event.detail[0];
  $(".like_button").toggleClass("liked_button");
  if(res){
    notify_for_seconds("いいねしました。");
    like_count.textContent = parseFloat(like_count.textContent) + 1
  }else{
    notify_for_seconds("いいねを解除しました。");
    like_count.textContent = parseFloat(like_count.textContent) - 1
  }
  
});

$("#like_button")[0].addEventListener('ajax:error', function(event) {
  // 失敗時の処理
  console.log("いいねできませんでした。")
  var res = event.detail[0];
  console.log(res["is_liked"]);
  $(".like_button").toggleClass("liked_button");
  notify_for_seconds("いいねできませんでした。");
  like_count.textContent = parseFloat(like_count.textContent) - 1
});

<% if @transaction.service.delivery_form.name == "video"%>
function resize_item_file_flame(){
    item_file_flame.style.width = "100%"
    item_file.style.height = "100%"
    item_file.style.width = "100%"
    transaction_flame.style.width = "calc(100% - 10px)"
    let width = transaction_flame.clientWidth
    item_file_flame.style.height = width/16*9 + "px"
    //console.log(item_file_flame.style.height)
    //console.log("resize_item_file_flame")
    //console.log(item_file_flame.style.height)
}
//応急処置
//setInterval(resize_item_file_flame, 1000);
<% end %>
//resize_item_file_flame()
//window.addEventListener("load",resize_item_file_flame(),false)
//window.addEventListener("resize", resize_item_file_flame)

</script>