<div class="follow_message_area">
    <%if user_signed_in?  %>
        <%if user.id == current_user.id%>
            <%= link_to "プロフィール編集", edit_user_accounts_path, class: "user_edit"%>
        <% else %>
            <% if user == current_user %>
            <% elsif current_user.is_following?(user) %>
                <%= link_to "フォロー中", user_relationship_path(user.id), class: "fas fa-user-plus follow_button followed_button", method: :patch, remote:true %>
                <%= link_to "フォロー", user_relationship_path(user.id), class: "fas fa-user-plus follow_button unfollowed_button display_none ", method: :put, remote:true %>
            <% else %>
                <%= link_to "フォロー中", user_relationship_path(user.id), class: "fas fa-user-plus follow_button followed_button display_none", method: :patch, remote:true %>
                <%= link_to "フォロー", user_relationship_path(user.id), class: "fas fa-user-plus follow_button unfollowed_button", method: :put, remote:true %>
            <% end %>
            <% if false#!current_user.is_following?(user) %>
                <span class="follow_button_flame" id="follow_button_flame">
                    <%= link_to "フォロー",user_relationship_path(user.id), class: "fas fa-user-plus follow_button", method: :put, remote:true%>
                </span>
            <% end %>
            <% if message_receivable(user) %>
                <span class="message_button_flame message_follow_button_flame">
                    <% contact = Contact.find_by(user_id:current_user, destination_id: user.id)%>
                    <%if contact %>
                        <%= link_to "メッセージ",user_contact_path(contact.id), class: "fas fa-envelope message_button"%>
                    <% else %>
                        <%= link_to "メッセージ",user_contact_path(destination_id: user.id), class: "fas fa-envelope message_button"%>
                    <% end %>
                </span>
            <% end %>
        <% end %>
    <% else %>
        <span class="user_edit visibility_none">　</span>
    <% end %>
</div>
<%= javascript_pack_tag "user/relationships/follow_message" %>
<script>
var is_followed = true; 
<% if relationship == nil %>
var is_followed = false
<% end %>

console.log(is_followed == true);

if(is_followed){
    console.log("follow")
    $(".follow_button").toggleClass("unfollowed_button");
}
</script>