<div class="modal_window pre_inquery_modal" id="transaction<%=params[:transaction_id] %>">
    <div class="modal_background"></div>
    <div class="modal_window_body">
        <div class="user_area">
			<% opponent = transaction.opponent_of(current_user) %>
            <%= image_tag opponent.thumb_with_default, class: "image" %>
			<%= link_to opponent.name, user_account_path(opponent.id), class:"user_name_area one_line_text" %>
				<div id="pre_purchase_inquiry_message">
				</div>
        </div>
		<div class="text_area">
			<div class="message_component">
				<%= link_to user_service_path(transaction.service.id), class: 'service_area', target: :_blank, rel: "noopener noreferrer" do %>
					<%= image_tag transaction.service.thumb_with_default, class: "service_image" %>
					<div class="service_text_area">
					<p class="two_line_text title"><%=transaction.service.title%></p>
					</div>
				<% end %>
			</div>
			<% side = transaction.seller == current_user ? 'left' : 'right' %>
			<div class="message_component">
				<%= image_tag  transaction.buyer.thumb_with_default, class: "image #{side}_image" %>
				<div class="text <%=side%>_text">
					<h3 class="margin0px">タイトル</h3>
					<%= transaction.request.title%>
					<h3 class="margin0px">本文</h3>
					<%= transaction.request.description%>
					<% transaction.request.items.each do |item| %>
						<%= image_tag item.normal_file_with_default, class: "item_image" unless item.is_text_image %>
					<% end %>
				</div>
			</div>
			<% transaction.messages_sort_by_earlier.each do |tm| %>
				<% side = tm.sender == current_user ? 'right' : 'left' %>
				<%= render "user/pre_purchase_inquiries/cell", 
					image_url: tm.sender.thumb_with_default,
					side: side,
					body: tm.body
					%>
			<% end %>
		</div>
		<div class="submit_area">
			<% if transaction.can_send_message(current_user) && !transaction.is_contracted %>
				<div class="label_area">
					<label>100字以内</label>
				</div>
				<%= form_with model: TransactionMessage.new, url: user_pre_purchase_inquiries_path, local: false, html: { class: "chat-form" } do |f| %>
				  	<div class="chat-container">
						<% 
						if transaction.transaction_messages.blank? 
							value = "この質問に回答可能ですか？" 
						else
							value = nil
						end
						%>
						<%= f.text_field :body, placeholder: "メッセージを入力", value:"", class: "chat-input", value: value %>
						<%= f.hidden_field :transaction_id, value: transaction.id %>
					
						<%= f.submit "", class: "chat-send-button ",maxlength:100 do %>
						<% end %>
						<span class="far fa-paper-plane"></span>
				  	</div>
				<% end %>
			<% elsif !transaction.is_contracted 
				css = 'display: block'
			end %>
			<div class="message" style="display: <%= css.presence || 'none'%>; ">
				＊相手からの返信があるまで問い合わせできません
			</div>
		</div>
        <div class="modal_delete_area">
            <p class="modal_delete">閉じる</p>
        </div>
    </div>
</div>
<script>
<%= render "user/pre_purchase_inquiries/modal.js.erb" %>
</script>