<div class="connect_reward_zone">
    <h3 class="input_new_title"><%= link_to "マイページ", user_configs_path, class:"main_area_top_link" %> > 銀行口座の入金</h3>
	<div class="connect_reward_area">
    	<div class="component_area connect_reward_area">
			<div class="connect_reward_flame">
				<%if @error_message%>
				 	<div class="message"><i class='fas fa-exclamation-triangle'></i><%="#{@error_message}" %></div>
				<% end %>
				<table class="finance_component">
    			    <tr>
    			        <th><span class="finance_label revenue">売上</span>
    			        </th>
    			        <th class="yen"><span>&nbsp;¥</span></th>
    			        <th class="finance_result"><span><%=@total_revenue %></span>
    			        </th>
    			    </tr>
    			    <tr>
    			        <th><span class="finance_label fee">販売手数料</span>
    			        </th>
    			        <th class="yen"><span>-¥</span></th>
    			        <th class="finance_result"><span><%=@total_margin%></span>
    			        </th>
    			    </tr>
    			    <tr>
    			        <th><span class="finance_label charge_fee">入金手数料</span>
    			        </th>
    			        <th class="yen"><span>-¥</span></th>
    			        <th class="finance_result"><span>200</span>
    			        </th>
    			    </tr>
    			    <tr>
    			        <th><span class="finance_label amount">入金可能金額</span>
    			        </th>
    			        <th class="yen"><span>&nbsp;¥</span></th>
    			        <th class="finance_result"><span><%=@amount_to_transfer%></span>
    			        </th>
    			    </tr>
    			</table>
				</br>
				<div class="submit_area">
					<% if current_user.stripe_account_id.nil? %>
						<a class="submit" onclick="alert('回答者として登録されていません')">銀行口座に入金する</a>
					<% elsif @amount_to_transfer.nil? || @amount_to_transfer <= 0 %>
						<a class="submit" onclick="alert('入金できる金額がありません')">銀行口座に入金する</a>
					<% elsif @amount_to_transfer > 0 %>
						<%= link_to "銀行口座に入金する", user_payouts_path, class:"submit", method: :post, data:{ confirm: "入金手数料200円が引かれた#{@amount_to_transfer}円を口座へ入金しますか？\n入金完了には1~3営業日がかかります。"} %>
					<% end %>
				<div class="caveat">＊入金完了には1~3営業日がかかります。</div>
			</div>
		</div>
	</div>
	<table class="common_table">
		<thead>
		  	<tr>
        <th>金額</th>
        <th>ステータス</th>
        <th>日時</th>
		  	</tr>
		</thead>
		<tbody>
			<% @payouts.each do |p| %>
				<tr href="<%=user_payout_path(p.id)%>">
					<td class="number">￥<%= p.amount %></td>
					<td><%= p.status_japanese %></td>
					<td><%= readable_datetime(p.created_at) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
  	<div class="main_bottom"><%= paginate @payouts %></div>
</div>
<script>
<%= render "user/shared/javascript/common_table.js.erb" %>
</script>