<p>納期までに納品がなされなかったため依頼人がキャンセルしました。</p>

<table>
  <tr>
    <td>取引ID</td>
    <td>：<%=@transaction.id%></td>
  </tr>
  <tr>
    <td>依頼</td>
    <td>：<%= link_to @transaction.request.title, user_request_url(@transaction.request.id) %></td>
  </tr>
  <tr>
    <td>サービス</td>
    <td>：<%= link_to @transaction.service.title, user_service_url(@transaction.service.id) %></td>
  </tr>
  <tr>
    <td>料金</td>
    <td>：<%=@transaction.price%>円</td>
  </tr>
  <tr>
    <td>回答者</td>
    <td>：<%=@transaction.seller.name%></td>
  </tr>
  <tr>
    <td>購入者</td>
    <td>：<%=@transaction.buyer.name%></td>
  </tr>
</table>

</br>
<%=render "email/shared/bottom" %>