<p>以下の相談室に購入前の確認の問い合わせがありました。</p>

<table>
  <tr>
    <td>相談室</td>
    <td>：<%=@transaction.service.title%></td>
  </tr>
  <tr>
    <td>料金</td>
    <td>：<%=@transaction.price%>円</td>
  </tr>
  <tr>
    <td>回答者</td>
    <td>：<%=@transaction.seller.name%></td>
  </tr>
  <tr>
    <td>質問者</td>
    <td>：<%=@transaction.buyer.name%></td>
  </tr>
</table>

<%= link_to @transaction.request.title, user_request_url(@transaction.request.id) %>
<%= render "email/shared/bottom" %>