<div class="how_to_zone center_zone">
    <div class="how_request_area center_area">
        <h2 class="zone_title">質問の公開方法</h2>
        <div class="component_area">
            <ol class="step_area">
                <li class="step">①<%= link_to "ログインページ", new_user_session_path%>でログイン</li>
                <li class="step">②<%= link_to "ポイントの購入ページ", user_payments_path%>でポイントをチャージ</li>
                <li class="step"><div class="caution">※詳しくは<%=link_to "ポイントのチャージ方法", abouts_how_to_charge_path %>を参照</div></li>
                <li class="step">③右上からサイドメニューを開く</li>
                <li class="step">④「<%= link_to "質問を投稿", new_user_request_path %>」を選択</li>
                <li class="step">⑤質問したい内容の必要事項を記入</li>
                <%##= image_tag "/how_to_use/request_new.png", class:"width_100"%>
                <div class="detail_area">

                    <h3 class="title_h3"><%=Request.human_attribute_name(:title) %></h3>
                    <span><%=Request.new.title_max_length%>字以内で質問のタイトルを記入してください。</span></br>
                    <h3 class="title_h3"><%=Request.human_attribute_name(:description) %></h3>

                    <span><%=Request.new.description_max_length%>字以内で質問・相談したい内容を記入してください。</span></br>
                    <h3 class="title_h3"><%=Request.human_attribute_name(:request_form) %></h3>
                    <span><%=Form.japanese_names%>の中から選択できます。文章の場合は依頼する内容が文章のみです。画像の場合は質問する際に画像のアップロードが必須となります。</span></br>
                    <h3 class="title_h3"><%=Request.human_attribute_name(:delivery_form) %></h3>
                    <span><%=Form.japanese_names%>の中から選択できます。文章の場合は納品する内容が文章のみです。画像の場合は回答を納品する際に画像のアップロードが必須となります。</span></br>
                    <h3 class="title_h3">ファイル（画像の場合）</h3>
                    <span><%=Transaction.new.max_items_count%>個まで添付可能</span>
                    <h3 class="title_h3"><%=Request.human_attribute_name(:max_price) %></h3>
                    <span>100円から<%=Request.new.max_price_upper_limit%>円の範囲で選択してください。</span></br>
                    <h3 class="title_h3"><%=Request.human_attribute_name(:suggestion_acceptable_days) %></h3>
                    <span>この日数を過ぎると依頼にサービスの提案ができなくなります。</span></br>
                </div>
                </br>
                <li class="step">⑥「プレビュー」を選択</li>
                <li class="step">⑦プレビューで内容が合っているかを確認</li>
                <li class="step">⑧間違いがなければ「公開」を選択</li>
                <li class="step">⑨「公開しますか？」に「OK」を選択</li>
            </ol>
            <%##= image_tag "/how_to_use/request_preview.png", class:"width_100"%>
        </div>
    </div>
</div>