<div class="how_to_zone step_zone center_zone">
    <div class="how_request_area center_area">
        <h2 class="zone_title">購入前質問の方法</h2>
        <div class="component_area">
            <ol class="step_area">
                <li class="step"><span class='circle_number'>①</span><%= link_to "ログインページ", new_user_session_path%>でログイン</li>
                <li class="step"><span class='circle_number'>②</span><%= link_to "ポイントの購入ページ", user_payments_path%>でポイントをチャージ</li>
                <div class="caution">※詳しくは<%=link_to "ポイントのチャージ方法", abouts_how_to_charge_path %>を参照</div>
                <li class="step"><span class='circle_number'>③</span>購入前質問をしたい相談室を選択</li>
                <li class="step"><span class='circle_number'>④</span>購入前質問が可能であることを確認後、「質問を作成」を選択して質問の新規作成ページへ移動</li>
                <li class="step"><span class='circle_number'>⑤</span>質問をするにあたって必要な項目を記入</li>
                <div class="caution">※詳しくは<%= link_to "相談の依頼方法", abouts_how_to_purchase_path, class:"footer_text"%>を参照</div>
                <li class="step"><span class='circle_number'>⑥</span>「プレビュー」を選択</li>
                <li class="step"><span class='circle_number'>⑦</span>「購入前質問を作成」を選択</li>
                <li class="step"><span class='circle_number'>⑧</span>モーダルウィンドウで質問したい内容を入力して送信</li>
                <div class="caution">※詳しくは<%=link_to "用語解説", abouts_terms_path %>を参照</div>
            </ol>
            <%##= image_tag "/how_to_use/request_preview.png", class:"width_100"%>
        </div>
    </div>
</div>