<div class="about_index_zone about">
    <div class="about_index_area">
        <div class="front_image_area">
            <%=image_tag "https://web-camp.io/magazine/wp-content/uploads/2022/05/shutterstock_1874747554.jpg", class:"top_image"%>
            <div class="top_image_background"></div>
            <div class="top_image_text_area">
                <span class="break">
                <span class="top_text">稼げるQ&Aサイト</span></br>
                <span class="explain">質問・回答のマーケットプレイス</span></br>
                <div class="sign_in_up_area">
                    <%= link_to "質問をする", new_user_request_path, class:"sign_up_link sign_link"%>
                    <%= link_to "相談に乗る", new_user_service_path, class:"sign_in_link sign_link"%>
                </div>
            </div>
            <div class="image_flame">
                <%=image_tag "/QA_front_image_transparent.png", class:"image"%>
            </div>
        </div>
        <!--
        <div class="image_area">
            <div class="image_frame">
                <%=image_tag "/QAイメージ質問.png", class:"top_image1"%>
                <%=image_tag "/QAイメージ回答.png", class:"top_image2"%>
            </div>
            <div class="top_image_background"></div>
            <div class="top_image_text_area">
                <span>ノウハウを売買</span></br>Q&Aサイト
                <div class="sign_in_up_area">
                <%= link_to "登録", new_user_registration_path, class:"sign_up_link sign_link"%>
                    <%= link_to "ログイン", new_user_session_path, class:"sign_in_link sign_link"%>
                </div>
            </div>
        </div>
        <div class="image_area">
            <%=image_tag "https://web-camp.io/magazine/wp-content/uploads/2022/05/shutterstock_1874747554.jpg", class:"top_image"%>
            <div class="top_image_background"></div>
            <div class="top_image_text_area">
                <span>ノウハウを売買</span></br>Q&Aサイト
                <div class="sign_in_up_area">
                <%= link_to "登録", new_user_registration_path, class:"sign_up_link sign_link"%>
                <%= link_to "ログイン", new_user_session_path, class:"sign_in_link sign_link"%>
                </div>
            </div>
        </div>
        -->
        </br>
        </br>
        </br>
        <div class="brief_zone">
        <div class="brief_area">
            <div class="right_side_area brief_qa_area">
                <div class="brief_question_text brief_text">
                    <h1 class="text">質問を公開し、</br class="text_break">相談を依頼！</h1>
                </div>
                <div class="brief_answer_image brief_qa_image">
                    <%= image_tag "/回答公開スマホ背景透明.png", class:"image" %>
                </div>
            </div>
            <div class="left_side_area brief_qa_area">
                <div class="brief_question_image brief_qa_image">
                    <%= image_tag "/質問公開スマホ背景透明.png", class:"image" %>
                </div>
                <div class="brief_answer_text brief_text">
                    <h1 class="text">回答を公開し、</br class="text_break">取引が完了！</h1>
                </div>
            </div>
        </div>
        </div>
        <!--
        <div>
        <h1>日本初！<h1>
        <h1>Q&Aサイトとフリマサイトの融合<h1>
        </div>
        -->
        <!--
        <div class="trouble_list_flame">
            <div class="trouble_list_area">
                <h2 class="trouble">英語を教えて報酬を得たい...</h2>
                <h2 class="trouble">英語に関する情報を発信してフォロワーを増やしたい...</h2>
                <h2 class="trouble">ちょっとした悩みや疑問を相談したい...</h2>
            </div>
        </div>
        <div class="trouble_list_flame">
            <div class="trouble_list_area">
                <h2 class="trouble">相談に乗って報酬を得たい...</h2>
                <h2 class="trouble">自分のノウハウを発信してフォロワーを増やしたい...</h2>
                <h2 class="trouble">ちょっとした悩みや疑問を相談したい...</h2>
            </div>
        </div>
        </br>
        <h1 class="resolve_troubles"><span class="message">このような悩みに応えます！</span></h1>
        -->
        <!--
        <div>
            <h1>
                公開して依頼</br>
                公開して納品
            </h1>
        </div>
        <div class="QAfree_market_area" >
            <h1 class="QAfree_market">
                <span class="QA_site text">Q&Aサイト</span>
                <span class="x text"><span class="batsu">　</span></span>
                <span class="free_market text">フリマサイト</span>
            </h1>
            <%=image_tag "https://tricomb2b.com/sites/default/files/paragraph/image/GettyImages-1291089965.jpg", class:"text_image qa_image"%>
            <%=image_tag "https://img.freepik.com/free-vector/flea-market-concept-illustration_52683-55266.jpg", class:"text_image free_market_image"%>
        </div>
        -->
        <div class="feature-area">
            <h1><span class="three">３</span>つの特徴</h1>
            <div class="feature-frame feature-frame-1">
                <div class="feature-content feature-content-1">
                    <div>
                        <h1>相談をプロに<span>依頼</span></h1>
                    </div>
                    <%=image_tag "https://unblast.com/wp-content/uploads/2020/10/Online-Learning-Vector-Illustration.jpg", class:"feature-image"%>
                    <p>相談を人に依頼することができるサービスです。画像や動画付きで質問できます！</p>
                </div>
            </div>
            <div class="feature-frame feature-frame-2">
                <div class="feature-content feature-content-2">
                    <div>
                        <h1>回答して<span>報酬獲得</span></h1>
                    </div>
                    <%=image_tag "https://img.freepik.com/free-vector/happy-businessman-earning-money-illustration_74855-5522.jpg", class:"feature-image"%>
                    <p>自由にサービスを出品できます。出品したサービスについた質問に回答を納品すれば報酬を獲得できます！</p>
                </div>
            </div>
            <div class="feature-frame feature-frame-3">
                <div class="feature-content feature-content-3">
                    <div>
                        <h1><span>公開</span>されたQ&A</h1>
                    </div>
                    <%=image_tag "https://www.creativefabrica.com/wp-content/uploads/2020/07/04/illustration-of-social-media-marketing-Graphics-4542536-1-580x378.jpg", class:"feature-image"%>
                    <p>質問、回答は全て公開されるため、買い手は過去の回答の質で判断でき、売り手は質で差別化できます！</p>
                </div>
            </div>
        </div>
        <!--
        <div class="animation_area">
                <h1>使い方</h1>
                <div class="video_area">
                    <img class="gif" src="/回答イメージ正方形.gif">
                </div>
        </div>
        -->
        <div class="transaction_flow_zone">
            <div class="transaction_flow_area">
                <h1>取引の流れ</h1>
                <div class="transaction_flow_flame">
                    <h2 class="flow_label">回答者を募集する場合</h2>
                    <div class="flow_group">
                        <div class="flow_unit">
                            <div class="component_area">
                                <div class="flow_description">①質問者が質問を投稿</div>
                                <div class="flow_image_area">
                                    <img class="tranaction_flow_image" src="/取引質問が先①.png">
                                </div>
                            </div>
                        </div>
                        <div class="flow_unit">
                            <div class="component_area">
                                <div class="flow_description">②回答者がサービスを提案</div>
                                <div class="flow_image_area">
                                    <img class="tranaction_flow_image" src="/取引質問が先②.png">
                                </div>
                            </div>
                            <div class="arrow_area">
                                <div class="arrow-right"></div>
                            </div>
                        </div>
                        <div class="flow_unit">
                            <div class="component_area">
                            <div class="flow_description">③質問者がサービスを選択</div>
                            <div class="flow_image_area">
                                <img class="tranaction_flow_image" src="/取引質問が先③.png">
                            </div>
                            </div>
                            <div class="arrow_area">
                                <div class="arrow-right"></div>
                            </div>
                        </div>
                        <div class="flow_unit">
                            <div class="component_area">
                                <div class="flow_description">④回答者が回答を納品</div>
                                <div class="flow_image_area">
                                    <img class="tranaction_flow_image" src="/取引質問が先④.png">
                                </div>
                            </div>
                            <div class="arrow_area">
                                <div class="arrow-right"></div>
                            </div>
                        </div>
                    </div>
                    <h2 class="flow_label">質問を募集する場合</h2>
                    <div class="flow_group">
                        <div class="flow_unit">
                            <div class="component_area">
                                <div class="flow_description">①回答者がサービスを出品</div>
                                <div class="flow_image_area">
                                    <img class="tranaction_flow_image" src="/取引サービスが先①.png">
                                </div>
                            </div>
                        </div>
                        <div class="flow_unit">
                            <div class="component_area">
                                <div class="flow_description">②質問者がサービスを選択</div>
                                <div class="flow_image_area">
                                    <img class="tranaction_flow_image" src="/取引サービスが先②.png">
                                </div>
                            </div>
                            <div class="arrow_area">
                                <div class="arrow-right"></div>
                            </div>
                        </div>
                        <div class="flow_unit">
                            <div class="component_area">
                            <div class="flow_description">③質問者が質問を投稿</div>
                            <div class="flow_image_area">
                                <img class="tranaction_flow_image" src="/取引サービスが先③.png">
                            </div>
                            </div>
                            <div class="arrow_area">
                                <div class="arrow-right"></div>
                            </div>
                        </div>
                        <div class="flow_unit">
                            <div class="component_area">
                                <div class="flow_description">④回答者が回答を納品</div>
                                <div class="flow_image_area">
                                    <img class="tranaction_flow_image" src="/取引サービスが先④.png">
                                </div>
                            </div>
                            <div class="arrow_area">
                                <div class="arrow-right"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="animation_area">
                <h1>取引の流れ</h1>
                <div class="video_area">
                    <img class="gif" src="/サービススキーム　アニメーション.gif">
                </div>
        </div>
        -->
    </div>
</div>