<div class="about_index_zone about">
    <div class="about_index_area">
        <%= render "abouts/front_image_area" %>
        <!--
        <div class="image_area">
            <div class="image_frame">
                <%=image_tag "/QAイメージ質問.png", class:"top_image1"%>
                <%=image_tag "/QAイメージ回答.png", class:"top_image2"%>
            </div>
            <div class="top_image_background"></div>
            <div class="top_image_text_area">
                <span>ノウハウを売買</span></br>Q&Aサイト
                <div class="sign_in_up_area">
                <%= link_to "登録", new_user_registration_path, class:"sign_up_link sign_link"%>
                    <%= link_to "ログイン", new_user_session_path, class:"sign_in_link sign_link"%>
                </div>
            </div>
        </div>
        <div class="image_area">
            <%=image_tag "https://web-camp.io/magazine/wp-content/uploads/2022/05/shutterstock_1874747554.jpg", class:"top_image"%>
            <div class="top_image_background"></div>
            <div class="top_image_text_area">
                <span>ノウハウを売買</span></br>Q&Aサイト
                <div class="sign_in_up_area">
                <%= link_to "登録", new_user_registration_path, class:"sign_up_link sign_link"%>
                <%= link_to "ログイン", new_user_session_path, class:"sign_in_link sign_link"%>
                </div>
            </div>
        </div>
        -->
        </br>
        </br>
        </br>
        <!--
        <div class="brief_zone">
        <div class="brief_area">
            <div class="right_side_area brief_qa_area">
                <div class="brief_question_text brief_text">
                    <h1 class="text">質問を公開し、</br class="text_break">相談を依頼！</h1>
                </div>
                <div class="brief_answer_image brief_qa_image">
                    <%= image_tag "/回答公開スマホ背景透明.png", class:"image" %>
                </div>
            </div>
            <div class="left_side_area brief_qa_area">
                <div class="brief_question_image brief_qa_image">
                    <%= image_tag "/質問公開スマホ背景透明.png", class:"image" %>
                </div>
                <div class="brief_answer_text brief_text">
                    <h1 class="text">回答を公開し、</br class="text_break">報酬を獲得！</h1>
                </div>
            </div>
        </div>
        </div>
        -->
        <!--
        <div>
        <h1>日本初！<h1>
        <h1>Q&Aサイトとフリマサイトの融合<h1>
        </div>
        -->
        <!--
        <div class="trouble_list_flame">
            <div class="trouble_list_area">
                <h2 class="trouble">英語を教えて報酬を得たい...</h2>
                <h2 class="trouble">英語に関する情報を発信してフォロワーを増やしたい...</h2>
                <h2 class="trouble">ちょっとした悩みや疑問を相談したい...</h2>
            </div>
        </div>
        <div class="trouble_list_flame">
            <div class="trouble_list_area">
                <h2 class="trouble">相談に乗って報酬を得たい...</h2>
                <h2 class="trouble">自分のノウハウを発信してフォロワーを増やしたい...</h2>
                <h2 class="trouble">ちょっとした悩みや疑問を相談したい...</h2>
            </div>
        </div>
        </br>
        <h1 class="resolve_troubles"><span class="message">このような悩みに応えます！</span></h1>
        -->
        <!--
        <div>
            <h1>
                公開して依頼</br>
                公開して納品
            </h1>
        </div>
        <div class="QAfree_market_area" >
            <h1 class="QAfree_market">
                <span class="QA_site text">Q&Aサイト</span>
                <span class="x text"><span class="batsu">　</span></span>
                <span class="free_market text">フリマサイト</span>
            </h1>
            <%=image_tag "https://tricomb2b.com/sites/default/files/paragraph/image/GettyImages-1291089965.jpg", class:"text_image qa_image"%>
            <%=image_tag "https://img.freepik.com/free-vector/flea-market-concept-illustration_52683-55266.jpg", class:"text_image free_market_image"%>
        </div>
        -->
        <div class="feature-area">
            <h1><span class="three">３</span>つの特徴</h1>
            <div class="feature-frame-area">
            <div class="feature-frame feature-frame-1">
                <div class="feature-content feature-content-1">
                    <div class="title_area">
                        <h1>相談をプロに<span>依頼</span></h1>
                    </div>
                    <%=image_tag "https://cdni.iconscout.com/illustration/premium/thumb/boy-learning-online-illustration-download-in-svg-png-gif-file-formats--video-recorded-lecture-students-pack-school-education-illustrations-5470835.png?f=webp", class:"feature-image"%>
                    <div class="text_area">
                    <p>相談を人に依頼することができるプラットフォームです。</p>
                    </div>
                </div>
            </div>
            <div class="feature-frame feature-frame-2">
                <div class="feature-content feature-content-2">
                    <div class="title_area">
                        <h1>回答して<span>報酬獲得</span></h1>
                    </div>
                    <%=image_tag "https://img.freepik.com/free-vector/happy-businessman-earning-money-illustration_74855-5522.jpg", class:"feature-image"%>
                    <div class="text_area">
                    <p>相談室を出品して、届いた質問に回答を納品すれば報酬を獲得できます！</p>
                    </div>
                </div>
            </div>
            <div class="feature-frame feature-frame-3">
                <div class="feature-content feature-content-3">
                    <div class="title_area">
                        <h1><span>公開</span>されたQ&A</h1>
                    </div>
                    <%=image_tag "https://www.creativefabrica.com/wp-content/uploads/2020/07/04/illustration-of-social-media-marketing-Graphics-4542536-1-580x378.jpg", class:"feature-image"%>
                    <div class="text_area">
                    <p>質問、回答は全て公開されるため、誰でも閲覧して学べます！</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="use_options">
            <div class="buyer_flame">
                <div class="buyer_area">
                    <%= image_tag "/buyer_image.png", class:"buyer_image" %>
                    <h2 class="label">質問の流れ</h2>
                    <ol class="step_area check_step_area">
                        <li>登録してポイントを購入</li>
                        <li>質問を公開して、相談室を募集</br><span class="or">or</span></br>相談室を探して質問を投稿</li>
                        <li>回答を閲覧してレビュー</li>
                    </ol>
                </div>
            </div>
            <div class="seller_flame">
                <div class="seller_area">
                    <h2 class="label">回答の流れ</h2>
                    <%= image_tag "/seller_image.png", class:"seller_image" %>
                    <ol class="step_area check_step_area">
                        <li>登録してプロフィールを記入</li>
                        <li>相談室を出品して、回答を募集</br><span class="or">or</span></br>質問を探して相談室を提案</li>
                        <li>質問に回答して報酬獲得</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="transaction_flow_zone">
            <div class="transaction_flow_area">
                <h1>取引の流れ</h1>
                <div class="transaction_flow_flame">
                    <h2 class="flow_label">質問を作成して相談室を募集する場合</h2>
                    <div class="flow_group">
                        <%= render "abouts/flow_unit", 
                            title: "①質問者が質問を投稿", 
                            src: "/flow/transaction_flow-1-1.jpeg", 
                            use_arrow: false %>
                        <%= render "abouts/flow_unit", 
                            title: "②回答者が相談室を提案", 
                            src: "/flow/transaction_flow-1-2.jpeg", 
                            use_arrow: true %>
                        <%= render "abouts/flow_unit", 
                            title: "③質問者が相談室を選択", 
                            src: "/flow/transaction_flow-1-3.jpeg", 
                            use_arrow: true %>
                        <%= render "abouts/flow_unit", 
                            title: "④回答者が回答を納品", 
                            src: "/flow/transaction_flow-1-4.jpeg", 
                            use_arrow: true %>
                    </div>
                    <h2 class="flow_label">相談室を出品して質問を募集する場合</h2>
                    <div class="flow_group">
                        <%= render "abouts/flow_unit", 
                            title: "①回答者が相談室を出品", 
                            src: "/flow/transaction_flow-2-1.jpeg", 
                            use_arrow: false %>
                        <%= render "abouts/flow_unit", 
                            title: "②質問者が相談室を選択", 
                            src: "/flow/transaction_flow-2-2.jpeg", 
                            use_arrow: true %>
                        <%= render "abouts/flow_unit", 
                            title: "③質問者が質問を投稿", 
                            src: "/flow/transaction_flow-2-3.jpeg", 
                            use_arrow: true %>
                        <%= render "abouts/flow_unit", 
                            title: "④回答者が回答を納品", 
                            src: "/flow/transaction_flow-2-4.jpeg", 
                            use_arrow: true %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>