<div class="how_to_zone">
    <h2 class="zone_title">用語解説</h2>
    <div class="component_area">
		<div class="label_area">
			<label>「相談室」について</label>
		</div>
		<p>「相談室」とは回答者が相談に対して回答を募集できるサービスです。
		回答したい人が、この「相談室」毎に内容を自由に決めるて出品することで、質問したい人が質問できます。そして、回答を納品することで、報酬を獲得できます。
		詳しい出品方法は<%=link_to "相談室の出品方法", abouts_how_to_sell_path%>を参照
		<div class="image_area">
			<%= image_tag "/service_image.jpg", class:"image" %>
		</div>
		</p>
		</br>
		<div class="label_area">
			<label>「追加メッセージ」について</label>
		</div>
		<p>「追加メッセージ」とは、質問や回答を追加で投稿する機能です。
		追加質問が可能かどうかは、相談室毎に設定できます。よって相談室によっては追加質問ができないことがあります。
		追加回答は回答の納品とは別に、回答する機能で、どの相談室であっても可能です。
		</p>
		<div class="image_area">
			<%= image_tag "/additional_message_image.jpg", class:"image" %>
		</div>
		<div class="label_area">
			<label>「購入前メッセージ」について</label>
		</div>
		<p>「購入前メッセージ」とは、購入前に質問・回答ができる機能です。
		『相談したい内容が、回答者に可能か確認したい。』
		そんな時に、回答者に確認をするための機能です。
		詳しい使い方は、<%= link_to "購入前質問の方法", abouts_how_to_pre_purchase_inquire_path %>を参照
		</p>
		<div class="image_area">
			<%= image_tag "/pre_purchase_inquiry_image.jpg", class:"image" %>
		</div>
		<div class="label_area">
			<label>「質問形式」「回答形式」について</label>
		</div>
		<p>「質問形式」「回答形式」とは、質問や回答の際に、形式を予め指定する機能です。
		「文章のみ」の場合は、文章のみでの質問・回答が可能です。
		「文章+画像」の場合は、文章に加えて画像のアップロードが必須になります。
		「自由」の場合は、ファイルの添付が任意になります。
		</p>
    </div>
</div>