<div class="review_cell_zone">
    <div class="review_cell_flame">
        <div class="image_area">
            <%=image_tag transaction.buyer.thumb_with_default, class:"image"%>
        </div>
        <div class="review_content">
            <div class="star_rating">
                <span class="star5_rating user" data-rate="4" name="<%=(transaction.review.star_rating*20).round(1) %>"></span>&nbsp;
            </div>
            <%if transaction.is_reward_mode? %>
                <div class="reward_area">
                    <label>報酬：</label>
                    <span class="value"><%= transaction.request.reward %></span>
                    <span class="unit">円</span>
                </div>
            <% end %>
            <div class="review_user">
                <%= link_to transaction.buyer.name, user_account_path(transaction.buyer.uuid) %>
            </div>
            <div class="review_text">
                <div class="description_area">
                    <div class="description_text_area">
                        <p class="description_text closing_text"><%=transaction.review.body%></p>
                    </div>
                    <div class="change_text open_text"></div>
                </div>
            </div>
        </div>
    </div>
</div>
