<div class="history_index_zone">
    過去の取引 <%= paginate @transactions %>
    <div class="history_index_flame">
        <% @transactions.each do |transaction| %>
            <% transaction.request.set_item_values %>
            <div class="history_cell">
                <div class="request_area">
                    <div class="request_image_area">
                        <%if transaction.request.use_youtube%>
                            <iframe class="youtube_video" src="https://www.youtube.com/embed/<%=transaction.request.youtube_id%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <% elsif transaction.request.file.url != nil %>
                            <% if transaction.request.request_form.name == "image" || transaction.request.request_form.name == "text"%>
                                <%= image_tag transaction.request.file.url, class:"image"%>
                            <% elsif transaction.request.request_form.name == "video" %>
                                <%= video_tag transaction.request.file.url, class:"image", controls: true, autobuffer: true%>
                            <% end %>
                        <% end %>
                    </div>
                    <%= link_to(user_request_path(transaction.request_id), class: 'request_link') do %>
                        <h2 class="request_title one_line_text"><%=transaction.request.title%></h2>
                    <% end %>
                    <div>
                        <label>依頼主</label>　<span><%=transaction.buyer.name%></span>
                    </div>
                    <div>
                        <label>料金</label>　　<span><%=transaction.price%>円</span>
                    </div>
                    <div>
                        <label>納期</label>　　<span><%=from_now(transaction.request.suggestion_deadline)%></span>
                    </div>
                </div>
                <div>
                    <div class="service_name">ーサービス内容ー</div>
                    <h3 class="service_title one_line_text"><%=link_to transaction.service.title, user_service_path(transaction.service.id), class:"button" %></h2>
                </div>
                <div>
                    <div class="service_name">ー取引ー</div>
                    <h3 class="service_title one_line_text"><%=link_to transaction.title, user_transaction_path(transaction.id), class:"button" %></h2>
                </div>
            </div>
        <% end %>
    </div>
</div>