<div class="home_show_zone">
    <%= render "user/shared/label_with_link", label: "相談サービス", link: user_services_path %>
    <div class="home_service_area">
        <% @services.each do |service| %>
            <div class="home_service_unit">
            <%= render "user/services/small_cell", service: service%>
            </div>
        <% end %>
    </div>
    <%= render "user/shared/label_with_link", label: "回答者", link:  user_accounts_path %>
        <div class="home_user_area to500">
            <% @users.each do |user| %>
                <div class="home_user_unit">
                <%= render "user/accounts/small_cell", user: user %>
                </div>
            <% end %>
        </div>
    <div>
    </div>
    <%= render "user/shared/label_with_link", label: "回答", link:  user_transactions_path %>
    <% @transactions.each do |transaction|%>
        <%= render "user/transactions/small_cell", transaction:transaction %>
    <% end %>
    </h2>
    <%= javascript_pack_tag "user/transactions/index"%>
</div>
