<div class="home_show_zone">
    <%= render "user/shared/label_with_link", label: "相談室", link: user_services_path %>
    
    <div class="swiper-service-container">
        <div class="swiper-wrapper home_service_area">
            <% @services.each.with_index do |service, index| %>
                <div class="home_service_unit swiper-slide">
                    <%= render "user/services/small_cell", service: service%>
                </div>
            <% end %>
        </div>
        <div class="swiper-button-next swiper-service-button-next swiper-service-button swiper-button-custom"></div>
        <div class="swiper-button-prev swiper-service-button-prev swiper-service-button swiper-button-custom"></div>
    </div>
    <div class="home_service_area to1000">
        <% @services.each.with_index do |service, index| %>
            <div class="home_service_unit not-swiper-slide">
                <%= render "user/services/small_cell", service: service%>
            </div>
        <% end %>
    </div>
    <%= render "user/shared/label_with_link", label: "回答者", link:  user_accounts_path %>
    <div class="swiper-user-container">
        <div class="home_user_area swiper-wrapper">
            <% @users.each do |user| %>
                <div class="home_user_unit swiper-slide">
                    <%= render "user/accounts/small_cell", user: user %>
                </div>
            <% end %>
        </div>
        <div class="swiper-button-prev swiper-user-button-prev swiper-service-button swiper-button-custom"></div>
        <div class="swiper-button-next swiper-user-button-next swiper-service-button swiper-button-custom"></div>
    </div>
    <div class="home_user_area to1000">
        <% @users.each do |user| %>
            <div class="home_user_unit not-swiper-slide">
                <%= render "user/accounts/small_cell", user: user %>
            </div>
        <% end %>
    </div>
    <div class="transaction_and_label">
        <div class="label_and_more">
            <%= render "user/shared/label_with_link", label: "質問", link:  user_transactions_path %>
        </div>
        <div class="label_and_categories">
            <div class="label_area">
                <%= render 'user/shared/common_label', text: '質問', language: 'ja'%>
            </div>
            <div class="category_label_area">
                <label id="category_button">
                カテゴリ一覧&nbsp;<span class="fas fa-angle-down">&nbsp;</span>
                </label>
                <div id="category_list" class="category_list hidden">
                    <ul>
                    <% Category.all.each do |category|%>
                        <div>
                        <li><%= link_to category.japanese_name, user_transactions_path(category_id: category.id), class:"category_link"%></li>
                        </div>
                    <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <script>
            var category_button = document.getElementById('category_button');
            var category_list = document.getElementById('category_list');

            function showCategory_list() {
                category_list.classList.remove('hidden');
            }

            function hideCategory_list() {
                category_list.classList.add('hidden');
            }

            function toggleHidden() {
                category_list.classList.toggle('hidden');
            }

            category_button.addEventListener('click', function() {
                category_list.classList.toggle('hidden');
            });

            category_button.addEventListener('mouseover', showCategory_list);
            category_button.addEventListener('mouseout', hideCategory_list);

            category_list.addEventListener('mouseover', showCategory_list);
            category_list.addEventListener('mouseout', hideCategory_list);
        </script>
        <div class="transaction_group">
            <% @transactions.each do |transaction|%>
                <%= render "user/transactions/cell", transaction:transaction %>
            <% end %>
        </div>
    </div>
    <div class="category_area">
        <div class="category_flame">
        <label>カテゴリ一覧</label>
            <% Category.hash_tree[:categories].each do |category| %>
                <%= render "user/homes/category_link", category:category %>
            <% end %>
        </div>
    </div>
    <%= javascript_pack_tag "user/transactions/index"%>
</div>
<%= render "user/shared/javascript/swiper.js.erb" %>
<script>
  var swiper = new Swiper('.swiper-service-container', {
    slidesPerView: 5,
    spaceBetween: 10,
    navigation: {
      nextEl: '.swiper-service-button-next',
      prevEl: '.swiper-service-button-prev',
    },
  });
  document.querySelector('.swiper-service-button-next').addEventListener('click', function () {
      swiper.slideTo(swiper.activeIndex + 5);
  });

  document.querySelector('.swiper-service-button-prev').addEventListener('click', function () {
      swiper.slideTo(swiper.activeIndex - 5);
  });
  var user_swiper = new Swiper('.swiper-user-container', {
    slidesPerView: 4,
    spaceBetween: 8,
    navigation: {
      nextEl: '.swiper-user-button-next',
      prevEl: '.swiper-user-button-prev',
    },
  });
  document.querySelector('.swiper-user-button-next').addEventListener('click', function () {
      user_swiper.slideTo(user_swiper.activeIndex + 4);
  });
  document.querySelector('.swiper-user-button-prev').addEventListener('click', function () {
      user_swiper.slideTo(user_swiper.activeIndex - 4);
  });
  
</script>