<%= render 'user/shared/common_label', text: '追加メッセージ', language: 'ja'%>
<div class="sort_area">&nbsp;
	<%= link_to "古い順", user_transaction_messages_reset_cells_path(page:1, transaction_message_order:"ASC", transaction_id:@transaction.id, after_published: action_name == "show"), remote:true, class:"sort_button desc_button asc_mode", style:'cursor:pointer', onclick:"change_to_asc()"%>
	<span class="asc_mode">｜ <span class="current_order">新しい順</span></span>
	<span class="desc_mode"> <span class="current_order">古い順</span> ｜</span>
    <%= link_to "新しい順", user_transaction_messages_reset_cells_path(page:1, transaction_message_order:"DESC", transaction_id:@transaction.id, after_published: action_name == "show"), remote:true, class:"sort_button asc_button desc_mode", style:'cursor:pointer', onclick:"change_to_desc()"%>
</div>
<div class="transaction_message_area">
    <% @transaction_messages.each do |item|%>
        <%= render "user/transaction_messages/cell", content:item %>
    <% end %>
</div>
<%= render partial:  "user/shared/loading_animation" %>
<div class="total_transaction_message">
    <span id="loaded_transaction_messages_number"><%=@transaction_messages.count%></span>/<%= @total_message_count%>
</div>
<%if @total_message_count > 5%>
    <div class="load_message_button" id="load_message_button" style="text-align:center">
    もっと見る
    </div>
	</br>
<% end %>
<div class="modal_window new_message_modal">
    <div class="modal_background"></div>
    <div class="modal_window_body">
        <%= render "user/transaction_messages/form", 
            transaction_message: @transaction_message,
            transaction: @transaction 
            %>
        <div class="modal_delete_area">
            <p class="modal_delete">閉じる</p>
        </div>
    </div>
</div>
<%if user_signed_in? && @transaction.can_send_message(current_user) %>
<div class="bottom_button_area">
    <div class="bottom_button_flame">
        <div class="bottom_button open_new_message_modal">
        <i class="fa-solid fa-pen-to-square"></i>
        <%= 
            if @transaction.is_reward_mode?
                "メッセージの作成"
            elsif @transaction.seller == current_user
                "追加の回答を作成"
            elsif @transaction.buyer == current_user
                "追加の質問を作成"
            end
        %>
        </div>
    </div>
</div>
<script>
$('.main_area').css('padding-bottom','50px');
</script>
<% end %>
<script>
var transaction_message_area = document.getElementsByClassName("transaction_message_area");
var sort_button = document.getElementsByClassName("sort_button");
var sort_area = document.getElementsByClassName("sort_area");
var loading_animation = document.getElementsByClassName("loading_animation");
var load_message_button = document.getElementById("load_message_button");
var loaded_pages = []
var order = "<%= params[:transaction_message_order] %>"
var transaction_id = "<%=@transaction.id%>"
var total_message_count = <%=@total_message_count %>
var after_published = <%=action_name == "show"%>

function asc_mode(){
	$(".asc_mode").css("display","inline");
	$(".desc_mode").css("display","none");
}
function desc_mode(){
	$(".asc_mode").css("display","none");
	$(".desc_mode").css("display","inline");
}
function create_loading_animation(){
	loaded_pages = [];
    transaction_message_area[0].innerHTML = "";
    if(window.innerWidth <= 1000){
        $("#load_message_button").css("display","block")
    }
    $(".loading_animation").css("display","block");
}
function change_to_asc(){
	desc_mode();
	create_loading_animation();
}
function change_to_desc(){
	asc_mode();
    transaction_message_area[0].innerHTML = "";
    create_loading_animation();
}
function order_params(){
	if($('a.asc_button').css('display') == 'inline'){
		var params = "&transaction_message_order=ASC";
	}
	if($('a.desc_button').css('display') == 'inline'){
		var params = "&transaction_message_order=DESC";
	}
    return params;
}

function load_messasges(page){
	loaded_pages.push(page);
	param = `&transaction_id=${transaction_id}${order_params()}`
	if(after_published){
		param += '&after_published=true'
	}
	xml_request(
		"/user/transaction_messages/cells",
		page,
		transaction_message_area[0],
		insert_contact_elements,
		param
	);
}

function get_next_page(){
	return Math.ceil(transaction_message_area[0].childElementCount/5)+1
}

//transaction_message_area[0]にcellを挿入
var insert_contact_elements = function(response, scroll_element){
    $(".loading_animation").css("display","none");
    scroll_element.insertAdjacentHTML('beforeend', response);
	message_count = transaction_message_area[0].childElementCount;
    $("#loaded_transaction_messages_number").html(message_count);
    if(<%= @total_message_count%> == message_count){
        $("#load_message_button").css("display","none");
    }
}

$(window).on('scroll', function(){
    if(window.innerWidth >= 1000){
        var page = get_next_page();
        if(check_scroll(null) && (page >= 2 && !loaded_pages.includes(page))){
            load_messasges(page);
        }
    }
})

$("#load_message_button").on('click', function(){
    var page = get_next_page();
    load_messasges(page);
})

$(".loading_animation").css("display","none");
if(order == "DESC"){
	asc_mode();
}else{
	desc_mode();
}

$(function(){
  const modal = $('.modal_window');
  const new_message_modal = $('.new_message_modal');
  $('.open_new_message_modal').on('click', function(){
    new_message_modal.addClass("open");
  });
});
</script>