<div class="transaction_message_cell_area">
    <div class="image_name_area">
        <div class="image_area">
            <% if content.sender.image.thumb.url %>
                <%=image_tag content.sender.image.thumb.url, class:"user_image"%>
            <% else %>
                <%=image_tag "/profile.jpg", class:"user_image"%>
            <% end %>
        </div>
        <div class="time_name_area">
            <div class="send_time">
                <h2 class="user_name one_line_text"><%= content.sender.name%></h2>
                <%=readable_datetime(content.created_at)%>
            </div>
        </div>
    </div>
    <div class="message_text_area">
        <div class="message_text"><%=content.body %></div>
    </div>
    <%= link_to content.file.url, class:"image_area" do %>
        <%= image_tag content.file.normal_size.url, class:"image" if content.file.normal_size.url%>
    <% end %>
</div>