<div class="message_cell message_cell_<%= side%>" side='<%= "#{side}"%>' created_at="<%= created_at %>">
	<div class='message_component <%= "#{side}_component"%>'>
		<%#= image_tag  image_url, class: "image #{side}_image" #これを使うとimage_url: ${message.image_url}ができない%>
		<img src="<%= image_url%><%=%>", class='<%= "image #{side}_image"%>' />
		<div class="text_area">
			<div class="text <%=side%>_text">
				<div class="text_body"><%= body%></div>
			</div>
			<div class="datetime_area">
				<div class="datetime"><%=is_read%></div>
				<div class="datetime"><%= created_at_display %></div>
			</div>
		</div>
		<div class="text_rest">
		</div>
	</div>
	<div class="image_component <%=side%>_image">
		<div class="item_image_area image_length_<%= image_length %>">
			<%= images %>
		</div>
		<div class="image_rest">
		</div>
	</div>
	<div class="date_area <%= date %>">
		<div class="date">
			<%= date %>
		</div>
	</div>
</div>