<div class="modal_window pre_inquery_modal" id="transaction<%=params[:transaction_id] %>">
    <div class="modal_background"></div>
    <div class="modal_window_body">
        <div class="user_area">
			<% opponent = transaction.opponent_of(current_user) %>
            <%= image_tag opponent.image_with_default, class: "image" %>
			<%= link_to opponent.name, user_account_path(opponent.id), class:"user_name_area one_line_text" %>
        </div>
        <div>
			<div class="text_area">
				<div class="flash_alert_zone flash_zone">
					<%= content_tag(:spin, flash.alert, class:"alert") if flash.alert%>
				</div>
				<div class="flash_notice_zone flash_zone">
					<%= content_tag(:spin, flash.notice, class:"notice") if flash.notice%>
				</div>
				<div class="message_component">
					<div class="service_area">
						<%= image_tag transaction.service.thumb_with_default, class: "service_image" %>
						<div class="service_text_area">
						<p class="two_line_text title"><%=transaction.service.title%></p>
						</div>
					</div>
				</div>
				<%if transaction.seller == current_user %>
					<% side = 'right'%>
				<% end %>
				<%if transaction.buyer == current_user %>
					<%side = 'left'%>
				<% end %>
				<div class="message_component">
					<%= image_tag  transaction.request.user.thumb_with_default, class: "image #{side}_image" %>
					<div class="text <%=side%>_text">
						<h3 class="margin0px">タイトル</h3>
						<%= transaction.request.title%>
						<h3 class="margin0px">本文</h3>
						<%= transaction.request.description%>
						<% transaction.request.items.each do |item| %>
							<%= image_tag item.file.normal_size.url, class: "item_image"%>
						<% end %>
					</div>
				</div>
				<% transaction.transaction_messages.solve_n_plus_1.order(created_at: :asc).each do |tm| %>
					<%if tm.sender == current_user%>
						<%side = 'left'%>
					<% end %>
					<%if tm.receiver == current_user%>
						<% side = 'right'%>
					<% end %>
					<div class="message_component">
						<%= image_tag  tm.sender.thumb_with_default, class: "image #{side}_image" %>
						<div class="text <%=side%>_text"><%= tm.body%></div>
					</div>
				<% end %>
			</div>
			<div class="submit_area">
				<% if transaction.can_send_message(current_user) %>
					<div class="label_area">
						<label>100字以内</label>
					</div>
					<%= form_with model: TransactionMessage.new, url: user_inquire_transaction_path(transaction.id), method: :post, local: true, html: { class: "chat-form" } do |f| %>
					  	<div class="chat-container">
							<% 
							if transaction.transaction_messages.blank? 
								value = "この質問に回答可能ですか？" 
							else
								value = nil
							end
							%>
							<%= f.text_field :body, placeholder: "メッセージを入力", value:"", class: "chat-input", value: value %>
							<%= f.hidden_field :transaction_id, value: transaction.id %>
						
							<%= f.submit "", class: "chat-send-button ",maxlength:100 do %>
							<% end %>
							<span class="far fa-paper-plane"></span>
					  	</div>
					<% end %>
				<% else %>
					<div class="message">
					＊相手からの返信があるまで問い合わせできません
					</div>
				<% end %>
			</div>
        </div>
        <div class="modal_delete_area">
            <p class="modal_delete">閉じる</p>
        </div>
    </div>
</div>