<div class="footer_zone">
    <div class="footer_flame">
        <div class="footer_area">
            <div class="footer_component">
                <h3 class="footer_text footer_title"><%= link_to "サービスについて", abouts_path, class:"footer_text"%></h3>
                <!--
                <div class="about_path"><%= link_to "初めての方へ", abouts_path, class:"footer_text"%></div>
                <div class="about_path"><%= link_to "サービスの詳細", abouts_detail_path, class:"footer_text"%></div>
                <div class="about_path"><%= link_to "取引の流れ", abouts_how_path, class:"footer_text"%></div>
                -->
                <div class="about_path"><%= link_to "よくある質問", abouts_question_path, class:"footer_text"%></div>
                <div class="about_path"><%= link_to "出品する相談室の指針",abouts_service_guide_path, class:"footer_text"%></div>
                <div class="about_path"><%= link_to "用語解説", abouts_terms_path, class:"footer_text"%></div>
                <div class="about_path"><%= link_to "お問い合わせ", new_user_inquiries_path, class:"footer_text"%></div>
                <div class="about_path"><%= link_to "お知らせ", user_announcements_path, class:"footer_text"%></div>
            </div>
            <div class="footer_component">
                <h3 class="footer_text footer_title"><%= link_to "使い方", abouts_path, class:"footer_text"%></h3>
                <div class="about_path"><%= link_to "相談室の出品方法", abouts_how_to_sell_path, class:"footer_text"%></div>
                <div class="about_path"><%= link_to "相談の依頼方法", abouts_how_to_purchase_path, class:"footer_text"%></div>
                <div class="about_path"><%= link_to "回答の納品方法", abouts_how_to_deliver_path, class:"footer_text"%></div>
                <div class="about_path"><%= link_to "ポイントのチャージ方法",abouts_how_to_charge_path, class:"footer_text"%></div>
                <div class="about_path"><%= link_to "質問の断り方", abouts_how_to_reject_path, class:"footer_text"%></div>
                <div class="about_path"><%= link_to "質問のキャンセル方法",abouts_how_to_cancel_path, class:"footer_text"%></div>
                <div class="about_path"><%= link_to "質問の公開方法",abouts_how_to_request_path, class:"footer_text"%></div>
                <div class="about_path"><%= link_to "購入前質問の方法", abouts_how_to_pre_purchase_inquire_path, class:"footer_text"%></div>
            </div>
            <div class="footer_component">
                <h3 class="footer_text footer_title"><%= link_to "利用にあたって", abouts_path, class:"footer_text"%></h3>
                <div class="about_path"><%= link_to "利用規約", abouts_term_of_service_path, class:"footer_text"%></div>
                <div class="about_path"><%= link_to "プライバシーポリシー", abouts_privacy_policy_path, class:"footer_text"%></div>
                <div class="about_path"><%= link_to "特定商取引法に基づく表記", abouts_tokushou_path, class:"footer_text"%></div>
            </div>
        </div>
    </div>
</div>