<span class="category_checkbox_area">
    <!--　category_treeのkeyを配列にする-->
    <%=f.hidden_field :categories, class:"categories_field" %>
    <% category_tree.keys.each do |key| %>
        <span class="checkbox_area"><%= f.check_box key.to_sym, class:"#{key} categoory_checkbox", id:key%><%=category_e_to_j(key)%>　</span>
        <!--　category_treeのvalueを配列にする-->
        <% category_tree[key].each do |value| %>
            <span class="checkbox_area"><%= f.check_box value.to_sym, class:"#{value} categoory_checkbox", id:value%><%=category_e_to_j(value)%>　</span>
        <% end %>
    <% end %>
</span>