<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <title>コレテク</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= $twitter_site %>" />
    <meta name="twitter:creator" content="<%= $twitter_creator %>">
    <meta property="og:title" content="<%= $og_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= $og_url %>" />
    <meta property="og:description" content="<%= $og_description %>" />
    <meta property="og:site_name" content="<%= $og_site_name %>" />
    <meta property="og:image" content="<%= @og_image %>" />
    <meta property=”fb:app_id” content=”896718071686338”>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v6.6.0/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.js"></script>
    <%= render "user/shared/swiper" %>
    <!-- Development -->
    <%if Rails.env.development?%>
        <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
        <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
    <% else %>
    <!-- Production -->
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="https://unpkg.com/tippy.js@6"></script>
    <% end %>
    <%= favicon_link_tag '/favicon.ico' %>
    
    <%= include_gon %>
    <%=javascript_pack_tag "layout/application"%>
    <%Dir.glob("app/javascript/packs/shared/*.js")  do |path|%>
      <%#= javascript_pack_tag path.slice(21, path.length).to_s%>
    <%end%>
</head>