<div class="request_search_flame">
    <div class="request_search_area">
        <div class="modal_body">
        <div class="modal_header">
            <h4 class="p_tag">詳細な検索</h4>
        </div>
        <%= form_with url: user_requests_path, class:"detail_search_form ",method: "get", id:"" do |f| %>
            <div class="text_field_area ">
                <%= f.text_field :word, value:params[:word], class:"text_field"%><span class="fa fa-search"></span>
            </div>
            <label class="field_label">料金</label><br/>
                <%= f.number_field :max_price, value:params[:max_price], type:"number",min:"0",placeholder:"Max",step:"100", class:"max_price_field"%>
            <span>〜</span>
                <%= f.number_field :mini_price, value:params[:mini_price], type:"number",min:"0",placeholder:"min",step:"100",  class:"mini_price_field"%>

            <label class="field_label">質問形式</label><br/>
            <%= f.select :request_form, forms_japanese_hash, { include_blank: '選択'}, class:"select_field" %>

            <label class="field_label">回答形式</label><br/>
            <%= f.select :delivery_form, forms_japanese_hash, { include_blank: '選択'}, class:"select_field" %>
            </br>

            <!--
            <label class="field_label">募集期間</label><br/>
                <%= f.datetime_field :suggestion_deadline, class:"term_field"%>
            -->
            </br>
            <span class="checkbox_area"><%= f.check_box :can_suggest, checked:params[:can_suggest]=="1", class:"checkbox"%>受付中</span>
            </br>
            
            <label class="field_label">カテゴリー</label><br/>
            <div>
            <br/>
                <%= render "layouts/form_category", f:f%>
            </div>
            </br>
            <div class="search_button_area">
                <%= f.submit '検索',class:"search_button", placeholder:"" %>
            </div>
        <% end %>
        </div>
    </div>
</div>