<div class="search_detail_flame">
    <div class="search_detail_area">
        <div class="modal_body">
        <div class="modal_header">
            <div class="p_tag">詳細な検索</div>
        </div>
        <%= form_with url: user_requests_path, class:"detail_search_form ",method: "get", id:"" do |f| %>
            <div class="text_field_area ">
                <%= f.text_field :word, value:params[:word], class:"text_field", placeholder:"キーワード" %></span>
            </div>
            <label class="field_label">料金</label><br/>

            <div class="input_field text_field select_area">
              <%= f.select :max_price, options_for_select((100..10000).step(100).map { |num| ["#{num}件", num] }, selected: 0), include_blank: true,  class:"" %>
            </div>
            <span>〜</span>
            <div class="input_field text_field select_area">
              <%= f.select :mini_price, options_for_select((100..10000).step(100).map { |num| ["#{num}件", num] }, selected: 0), include_blank: true,  class:"" %>
            </div>
            
            <label class="field_label"><%=Transaction.human_attribute_name(:request_form) %></label><br/>
            <div class="input_field text_field select_area">
                <%= f.select :request_form, forms_japanese_hash, { include_blank: '選択'}, class:"select_field" %>
            </div>

            <label class="field_label"><%=Transaction.human_attribute_name(:delivery_form) %></label><br/>
            <div class="input_field text_field select_area">
                <%= f.select :delivery_form, forms_japanese_hash, { include_blank: '選択'}, class:"select_field" %>
            </div>
            </br>

            <!--
            <label class="field_label">募集期間</label><br/>
                <%= f.datetime_field :suggestion_deadline, class:"term_field"%>
            -->
            </br>
            <span class="checkbox_area"><%= f.check_box :can_suggest, checked:params[:can_suggest]=="1", class:"checkbox"%>受付中</span>
            </br>
            
            <label class="field_label">カテゴリー</label><br/>
            <div>
            <br/>
                <%= render "layouts/form_category", f:f%>
            </div>
            </br>
            <div class="search_button_area">
                <%= f.submit '検索',class:"search_button", placeholder:"" %>
            </div>
        <% end %>
        </div>
    </div>
</div>