<div class="search_detail_flame">
    <div class="search_detail_area">
        <div class="modal_body">
        <div class="modal_header">
            <div class="p_tag">詳細な検索</div>
        </div>
        <%= form_with url: user_requests_path, class:"detail_search_form ",method: "get", id:"" do |f| %>
            <div class="text_field_area ">
                <%= f.text_field :word, value:params[:word], class:"text_field", placeholder:"キーワード" %></span>
            </div>
            <label class="field_label">料金</label><br/>

            <%= render "user/shared/form/max_price", f:f%>
            <div>〜</div>
            <%= render "user/shared/form/mini_price", f:f%>
            
            <label class="field_label"><%=Transaction.human_attribute_name(:request_form) %></label><br/>
            <%= render "user/shared/form/request_form", f:f%>

            <label class="field_label"><%=Transaction.human_attribute_name(:delivery_form) %></label><br/>
            <%= render "user/shared/form/delivery_form", f:f%>
            </br>
            <label class="field_label">ソート</label><br/>
            <div>
                <%= render "user/shared/form/request_sort_form", f:f %>
            </div>
            </br>

            <!--
            <label class="field_label">募集期間</label><br/>
                <%= f.datetime_field :suggestion_deadline, class:"term_field"%>
            -->
            </br>
            <span class="checkbox_area"><%= f.check_box :can_suggest, checked:params[:can_suggest]=="1", class:"checkbox"%>受付中</span>
            </br>
            
            <label class="field_label">カテゴリー</label><br/>
            <div>
                <%= render "layouts/form_category", f:f, model: Request.new.class.name%>
            </div>
            </br>
            <div class="search_button_area">
                <%= f.submit '検索',class:"search_button", placeholder:"" %>
            </div>
        <% end %>
        </div>
    </div>
</div>