<div class="search_detail_flame">
    <div class="search_detail_area">
        <div class="modal_body">
        <div class="modal_header">
            <div class="title">詳細な検索</div>
        </div>
        <%= form_with url: user_services_path, class:"detail_search_form ",method:"get", id:"" do |f| %>
            <div class="text_field_area">
                <%= f.text_field :word, value:params[:word], class:"text_field ", placeholder:"キーワード"%></span>
            </div>
            <label class="field_label">料金</label><br />
            <%= render "user/shared/form/max_price", f:f%>
            <div>〜</div>
            <%= render "user/shared/form/mini_price", f:f%>
            
            <label class="field_label"><%=Transaction.human_attribute_name(:request_form) %></label>
            <%= render "user/shared/form/request_form", f:f%>

            <label class="field_label"><%=Transaction.human_attribute_name(:delivery_form) %></label>
            <%= render "user/shared/form/delivery_form", f:f%>


            <label class="field_label">並び替え</label><br/>
            <div>
                <%= render "user/shared/form/service_sort_form", f:f %>
            </div>

            <div class="category_area">
                <label class="field_label">カテゴリー</label><br />
                <%= render "layouts/form_category", f:f, model: Service.new.class.name%>
            </div>

            </br>
            <div class="checkbox_area"><%= f.check_box :is_available, checked:params[:is_available]=="1", class:"checkbox"%>受付中</div>

            <div class="search_button_area">
                <%= f.submit '検索',class:"search_button", placeholder:"" %>
            </div>
        <% end %>
        </div>
    </div>
</div>
