<div class="sidebar_menu_zone" id="sidebar_menu_zone">
    <div class="sidebar_menu_margin" id="sidebar_menu_margin">
    ×
    </div>
    <%if user_signed_in? %>
        <div class="sidebar_menu_area side_menu signined_menu">
            <div class="sidebar_menu_flame">
                <div class="sidebar_menu_profile sidebar_menu_component">
                    <%if current_user %>
                    <a href="/user/accounts/<%=current_user.id%>">
                    <% if current_user.image.url %>
                        <%=image_tag current_user.image.url, class:"menu_profile_image"%>
                    <% else %>
                        <%=image_tag "/profile.jpg", class:"menu_profile_image"%>
                    <% end %>
                    <span>プロフィール</span>
                    </a>
                    <% end %>
                </div>
                <div class="sidebar_menu_seller sidebar_menu_component">
                    <%=link_to(user_configs_path, class:"") do %>
                        <span class="fas fa-user"></span>
                        <span class="text">マイページ</span>
                    <% end %>
                </div>
                <div class="sidebar_menu_seller sidebar_menu_component">
                    <%=link_to(user_orders_path, class:"") do %>
                        <span class="fas fa-exchange-alt"></span>
                        <span class="text">取引一覧</span>
                    <% end %>
                </div>
                <div class="sidebar_menu_seller sidebar_menu_component">
                    <%=link_to(new_user_service_path, class:"") do %>
                        <span class="fas fa-store"></span>
                        <span class="text">相談室を出品</span>
                    <% end %>
                </div>
                <div class="sidebar_menu_seller sidebar_menu_component">
                    <%=link_to(new_user_request_path, class:"") do %>
                        <span class="fas fa-comment-dollar"></span>
                        <span class="text">質問を投稿</span>
                    <% end %>
                </div>
                <div class="sidebar_menu_seller sidebar_menu_component">
                    <%=link_to(new_user_post_path, class:"") do %>
                        <span class="fas fa-pen"></span>
                        <span class="text">投稿を作成</span>
                    <% end %>
                </div>
                <div class="sidebar_menu_seller sidebar_menu_component search_link">
                    <%=link_to(user_services_path, class:"") do %>
                        <span class="fas fa-search"></span>
                        <span class="text"><%=Service.model_name.human%>を探す</span>
                    <% end %>
                </div>
                <div class="sidebar_menu_seller sidebar_menu_component search_link">
                    <%=link_to(user_accounts_path, class:"") do %>
                        <span class="fas fa-search"></span>
                        <span class="text">回答者を探す</span>
                    <% end %>
                </div>
                <div class="sidebar_menu_seller sidebar_menu_component search_link">
                    <%=link_to(user_requests_path, class:"") do %>
                        <span class="fas fa-search"></span>
                        <span class="text">質問を探す</span>
                    <% end %>
                </div>
                <div class="sidebar_menu_seller sidebar_menu_component search_link">
                    <%=link_to(user_transactions_path, class:"") do %>
                        <span class="fas fa-search"></span>
                        <span class="text">回答を探す</span>
                    <% end %>
                </div>
                <div class="sidebar_menu_seller sidebar_menu_component">
                    <%=link_to(destroy_user_session_path, method: :delete, class:"") do %>
                        <span class="fas fa-sign-out-alt"></span>
                        <span class="text">ログアウト</span>
                    <% end %>
                </div>
            </div>
        </div>
    <% else %>
        <div class="sidebar_menu_area side_menu not_signined_menu">
            <div class="sidebar_menu_flame">
                <div class="sidebar_menu_seller sidebar_menu_component">
                    <%=link_to(user_services_path, class:"right_aligned") do %>
                        <span class="text"><%=Service.model_name.human%>を探す</span>
                        <span class="fas fa-chevron-right"></span>
                    <% end %>
                </div>
                <div class="sidebar_menu_seller sidebar_menu_component">
                    <%=link_to(user_accounts_path, class:"right_aligned") do %>
                        <span class="text">回答者を探す</span>
                        <span class="fas fa-chevron-right"></span>
                    <% end %>
                </div>
                <div class="sidebar_menu_seller sidebar_menu_component">
                    <%=link_to(user_requests_path, class:"right_aligned") do %>
                        <span class="text">質問を探す</span>
                        <span class="fas fa-chevron-right"></span>
                    <% end %>
                </div>
                <div class="sidebar_menu_seller sidebar_menu_component">
                    <%=link_to(user_transactions_path, class:"right_aligned") do %>
                        <span class="text">回答を探す</span>
                        <span class="fas fa-chevron-right"></span>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
</div>
<script>
$(function(){
  $('.left_menu_button').on('click', function() {
    $(this).toggleClass('active');
  });
});
</script>
<script>
function open_sidebar_menu(){
    $("#sidebar_menu_zone").css("display","block")
    $("#sidebar_notification_zone").css("display","none")
  }
function close_sidebar_menu(){
    $("#sidebar_menu_zone").css("display","none")
}

$(".sidebar_menu_margin").height($("body").height());
    $(".open_sidebar_menu_button").on('click', function() {
        console.log("open");
        $('.left_menu_button').toggleClass('active');
        if($("#sidebar_menu_zone").css("display") == "block"){
            close_sidebar_menu();
            $('.left_menu_button').addClass('active');
        }else{
            open_sidebar_menu();
            $('.left_menu_button').removeClass('active');
        };
    });
$(".sidebar_menu_margin").on('click', function() {
    $('.left_menu_button').removeClass('active');
    close_sidebar_menu()
    resize_contents();
});
</script>