<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
  <%= render "layouts/head" %>
  <body class="body search_layout">
      	<div class="header" id="header">
        	<%=render "layouts/menu" %>
      	</div>
		<div class="top_search_margin"></div>
    	<%=render "layouts/top_margin"%>
		<div class="common_navigation_bar_flame">
			<div class="common_navigation_bar_area">
        		<%= render "user/shared/top_navigation_bar", link: ->(element) {element[:link]} %>
			</div>
		</div>
		<%= render "user/shared/top_search_form", path: request.path %>
      	<div class="main_area">
        	<%= yield %>
      	</div>
  	</body>
</html>
<%= render "layouts/bottom" %>
