<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
  	<%= render "layouts/head" %>
  	<body class="body big_layout home_layout">
  	  	<div class="header" id="header">
  	  	  	<%=render "layouts/menu"%>
  	  	</div>
  	  	<%=render "layouts/top_margin"%>
  	  	<div class="top">
  	  	    <%= render "user/homes/top" %>
  	  	</div>
  	  	<div class="main_area">
			<div>
  	  	  		<%= yield %>
			</div>
  	  	</div>
  	  	<%= render "layouts/footer"%>
  	</body>
  	<%= render "layouts/bottom" %>
</html>
